.ui-mt50 {
  margin-top: 0 !important;
}

dl {
  margin: 0;
}

.t_10 {
  -webkit-transition: all 1s;
          transition: all 1s;
}

.display-block {
  display: block !important;
}

.contain_wrap {
  position: relative;
}

.arrow_blue {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -23px;
  background: url(../images/sprites/arrow_blue.png) no-repeat;
}

.arrow_gray {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 0;
  background: url(../images/sprites/arrow_gray.png) no-repeat;
}

.arrow_white {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 0;
  background: url(../images/sprites/arrow_white.png) no-repeat;
}

.about-our-banner {
  height: 90px;
  padding-top: 310px;
  background: url("../images/about-our-banner.jpg") no-repeat center;
}

.about-our-banner a {
  display: block;
  width: 160px;
  height: 42x;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 16px;
}

.about-our-banner a:hover {
  border: 1px solid #12ffff;
  color: #12ffff;
}

.about-our-banner a:active {
  color: #fff;
  border: 1px solid #fff;
}

.about-our-top-links {
  height: 70px;
  background: #fff;
  z-index: 10;
}

.about-our-top-links ul {
  position: relative;
  height: 70px;
}

.about-our-top-links li {
  float: left;
  padding-left: 21px;
}

.about-our-top-links li:first-child {
  padding-left: 0;
}

.about-our-top-links li:hover a, .about-our-top-links li.on a {
  color: #2c97f4;
}

.about-our-top-links li:active a {
  color: #b9b9b9;
}

.about-our-top-links a {
  display: block;
  height: 65px;
  line-height: 70px;
  color: #b9b9b9;
  width: 90px;
  text-align: center;
  font-size: 16px;
}

.about-our-top-links span {
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  position: absolute;
  bottom: 1px;
  left: 0px;
  display: block;
  width: 90px;
  height: 3px;
  background: #2c97f4;
  border-radius: 3px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.fixed-top a {
  color: #474747;
}

.about-our-synopsis {
  background: #f4f4f4;
  padding: 86px 0;
}

.about-our-synopsis h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.about-our-synopsis p {
  line-height: 36px;
  color: #474747;
  font-size: 14px;
  margin-top: 60px;
  text-indent: 30px;
}

.about-our-synopsis .banner-slider {
  height: 253px;
  margin-top: 10px;
  background: url("../images/about-our-synopsis-banner-slider.png") no-repeat center;
}

.about-our-introduce {
  background: #fff;
}

.about-our-introduce .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-introduce h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.about-our-introduce dl {
  margin-top: 80px;
}

.about-our-introduce dd {
  height: 460px;
  width: 600px;
  float: left;
}

.about-our-introduce dd:first-child {
  border-right: 1px solid #ccc;
  width: 599px;
}

.about-our-introduce p {
  color: #474747;
  padding-left: 40px;
  font-size: 24px;
  margin-bottom: 20px;
}

.about-our-introduce li {
  position: relative;
  padding-left: 68px;
  width: 438px;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 10px;
}

.about-our-introduce li i {
  position: absolute;
  top: 12px;
  left: 42px;
  height: 6px;
  width: 6px;
  background: url("../images/sprites/index-icons.png") no-repeat;
  background-position: -126px 0;
}

.about-our-honorary {
  background: #f4f4f4;
}

.about-our-honorary .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-honorary h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 90px 0;
}

.about-our-honorary dl {
  margin-top: 34px;
}

.about-our-honorary dd {
  width: 330px;
  height: 276px;
  background: #fff;
  float: left;
  margin: 0 34px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.about-our-honorary p {
  margin-top: 22px;
  color: #b9b9b9;
  font-size: 16px;
}

.about-our-honorary img {
  margin-top: 12px;
  border: 1px solid #fdfdfd;
}

.about-our-culture {
  background: #fff;
}

.about-our-culture .contain_wrap {
  position: relative;
  padding: 86px 0 110px;
}

.about-our-culture h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 38px 0;
}

.about-our-culture dd {
  padding-left: 60px;
  width: 540px;
  float: left;
}

.about-our-culture dd .title {
  position: relative;
  font-size: 16px;
  color: #474747;
  margin-top: 44px;
}

.about-our-culture dd .title i {
  position: absolute;
  top: 6px;
  left: -22px;
  height: 6px;
  width: 6px;
  background: url("../images/sprites/index-icons.png") no-repeat;
  background-position: -126px 0;
}

.about-our-culture dd .text {
  margin-top: 6px;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
  width: 420px;
}

.about-our-culture dd img {
  margin-top: 48px;
}

.about-our-expert {
  background: #f4f4f4;
}

.about-our-expert .contain_wrap {
  position: relative;
  padding: 86px 0 140px;
}

.about-our-expert h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 56px 0;
}

.about-our-expert li {
  margin-top: 66px;
  padding: 30px 0 0 186px;
  position: relative;
}

.about-our-expert li:first-child {
  margin-top: 0;
}

.about-our-expert .title {
  position: relative;
  font-size: 16px;
  color: #474747;
  display: inline-block;
  padding-left: 16px;
  margin-bottom: 14px;
}

.about-our-expert .title i {
  position: absolute;
  top: 6px;
  left: 0;
  height: 6px;
  width: 6px;
  background: url("../images/sprites/index-icons.png") no-repeat;
  background-position: -126px 0;
}

.about-our-expert .work {
  font-size: 16px;
  color: #474747;
}

.about-our-expert .text {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
}

.about-our-expert .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  text-align: center;
  color: #b9b9b9;
  font-size: 16px;
}

.about-our-expert .head {
  margin-bottom: 20px;
  display: block;
  width: 143px;
  height: 143px;
  background: url("../images/sprites/about-our-expert-head.png") no-repeat;
}

.about-our-expert .head.head-2 {
  background-position: -153px 0;
}

.about-our-expert .head.head-3 {
  background-position: -306px 0;
}

.about-our-partner {
  background: #fff;
}

.about-our-partner .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-partner h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 80px 0;
}

.about-our-partner dd {
  float: left;
  width: 523px;
  margin: 0 38px;
  background: #f9f9f9;
  height: 500px;
}

.about-our-partner dd:first-child .top-bg {
  background-position: -533px 0;
}

.about-our-partner .title {
  padding: 16px 26px 10px;
  font-size: 16px;
  color: #474747;
}

.about-our-partner .text {
  padding: 0 26px;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
}

.about-our-partner .top-bg {
  display: block;
  height: 134px;
  width: 100%;
  background: url("../images/sprites/about-our-partner-top-bg.png") no-repeat;
}

.about-our-dynamic {
  background: #f4f4f4;
}

.about-our-dynamic .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-dynamic h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 80px 0;
}

.about-our-dynamic dd {
  position: relative;
  float: left;
  width: 599px;
  min-height: 1px;
  border-left: 1px solid #e9e9e9;
}

.about-our-dynamic dd:first-child {
  border-right: 1px solid #e9e9e9;
  border-left: 0;
}

.about-our-dynamic dd:hover i {
  border: 1px solid #b6dbfa;
  background-position: -50px 0;
}

.about-our-dynamic dd:hover .title {
  color: #2c97f4;
}

.about-our-dynamic dd.last-one {
  height: 140px;
}

.about-our-dynamic .title {
  font-size: 16px;
  color: #474747;
}

.about-our-dynamic .text {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
}

.about-our-dynamic .about-our-dynamic-icon {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  background: #f4f4f4 url("../images/sprites/about-our-dynamic-icon.png") no-repeat;
}

.about-our-dynamic .le p {
  padding: 0 50px 0 20px;
}

.about-our-dynamic .le i {
  right: -20px;
}

.about-our-dynamic .ri p {
  padding: 0 20px 0 50px;
}

.about-our-dynamic .ri i {
  left: -22px;
}

.about-our-dynamic .ui-btn {
  margin: 0 auto;
  height: 26px;
  width: 104px;
  line-height: 26px;
}

.about-our-data {
  background: #fff;
}

.about-our-data .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-data h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 56px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #2c97f4;
}

.about-our-data h2 span {
  display: block;
  font-size: 16px;
  margin-top: 52px;
}

.about-our-data dd {
  float: left;
  height: 110px;
  border-left: 1px solid #eeeeee;
  width: 239px;
  text-align: center;
}

.about-our-data dd:first-child {
  border-left: 0;
}

.about-our-data .title {
  color: #474747;
  font-size: 14px;
  padding: 22px 0 14px;
}

.about-our-data .data {
  color: #2c97f4;
  font-size: 34px;
}

.about-our-data .ui-btn {
  width: 268px;
  height: 30px;
  line-height: 30px;
  margin: 0 85px;
  padding-right: 20px;
}

.about-our-data .icon-download {
  position: relative;
  top: 3px;
  right: -7px;
  display: inline-block;
  background: url("../images/sprites/icon-download.png") no-repeat;
  height: 15px;
  width: 13px;
}

.about-our-media {
  background: #f4f4f4;
}

.about-our-media .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-media h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 46px 0;
}

.about-our-media dd {
  float: left;
  padding: 0 45px;
}

.about-our-media .detailed {
  margin-top: 44px;
  position: relative;
  display: block;
  height: 120px;
  width: 430px;
  padding-left: 80px;
}

.about-our-media .detailed:hover .day {
  color: #fff;
  background: #2c97f4;
}

.about-our-media .title {
  color: #474747;
  font-size: 16px;
  margin-bottom: 10px;
}

.about-our-media .text {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
}

.about-our-media .date {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  height: 118px;
  width: 58px;
  color: #b9b9b9;
  line-height: 58px;
  font-size: 12px;
  text-align: center;
}

.about-our-media .day {
  color: #b9b9b9;
  background: #fff;
  font-size: 24px;
  display: block;
  height: 58px;
  width: 58px;
  line-height: 58px;
  border-bottom: 1px solid #fff;
}

.about-our-media .ui-btn {
  width: 104px;
  height: 26px;
  line-height: 26px;
  margin-top: 54px;
}

.about-our-joinin {
  background: #fff;
}

.about-our-joinin .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-joinin h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 46px 0;
}

.about-our-joinin dd {
  float: left;
  height: 390px;
  width: 500px;
  margin: 0 50px;
}

.about-our-joinin .user-tabs {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
}

.about-our-joinin .user-tabs-item {
  display: inline-block;
  color: #474747;
  font-size: 16px;
  padding-bottom: 8px;
  margin: 0 12px 10px;
  border-bottom: 2px solid #fff;
}

.about-our-joinin .user-tabs-item:hover {
  color: #2c97f4;
  border-bottom: 2px solid #2c97f4;
}

.about-our-joinin .user-tabs-active {
  color: #2c97f4;
  border-bottom: 2px solid #2c97f4;
}

.about-our-joinin .user-account-moudle {
  padding: 0 12px;
}

.about-our-joinin .work-post {
  display: block;
  color: #b9b9b9;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding-left: 15px;
  margin-top: 6px;
}

.about-our-joinin .work-post:hover {
  color: #2c97f4;
  border: 1px solid #2c97f4;
}

.about-our-joinin .title {
  color: #474747;
  font-size: 16px;
  margin-top: 44px;
}

.about-our-joinin .text {
  position: relative;
  color: #b9b9b9;
  font-size: 14px;
  margin-top: 16px;
  padding-left: 24px;
}

.about-our-joinin .text i {
  position: absolute;
  top: 6px;
  left: 0;
  height: 6px;
  width: 6px;
  background: url("../images/sprites/index-icons.png") no-repeat;
  background-position: -126px 0;
}

.about-our-joinin .ui-btn {
  width: 104px;
  height: 26px;
  line-height: 26px;
  margin-top: 54px;
}

.about-our-connection {
  background: #fff;
}

.about-our-connection .contain_wrap {
  position: relative;
  padding: 86px 0;
}

.about-our-connection h2 {
  color: #474747;
  font-size: 24px;
  text-align: center;
  margin: 0 0 46px 0;
}

.about-our-connection dd {
  float: left;
  width: 600px;
}

.about-our-connection .ri {
  width: 460px;
  padding: 0 84px 0 56px;
}

.about-our-connection .top-text {
  color: #474747;
  font-size: 16px;
}

.about-our-connection .title {
  color: #474747;
  font-size: 24px;
  margin-top: 40px;
}

.about-our-connection .text-li {
  position: relative;
  color: #b9b9b9;
  font-size: 14px;
  padding-left: 24px;
  margin-top: 16px;
}

.about-our-connection .text-li i {
  position: absolute;
  top: 6px;
  left: 0px;
  height: 6px;
  width: 6px;
  background: url("../images/sprites/index-icons.png") no-repeat;
  background-position: -126px 0;
}

.about-our-connection .text {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
}

.about-our-connection .a-mail {
  color: #2c97f4;
  font-size: 14px;
}

.about-our-connection .connection-map {
  position: relative;
  width: 580px;
  height: 480px;
  background: url("../images/about-our-connection-map.png") no-repeat;
}

.about-our-connection .connection-map span {
  position: absolute;
  display: block;
  width: 36px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  background-color: #4e4e4e;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-style: normal;
  cursor: pointer;
}

.about-our-connection .connection-map span p {
  display: none;
}

.about-our-connection .connection-map span i {
  content: "";
  position: absolute;
  display: block;
  background: url("../images/sprites/connection-map-angle.png") no-repeat;
}

.about-our-connection .connection-map span.bottom_angle i {
  bottom: -3px;
  left: 16.5px;
  width: 6px;
  height: 3px;
  background-position: -16px 0;
}

.about-our-connection .connection-map span.bottom_angle:hover i, .about-our-connection .connection-map span.bottom_angle.on i {
  background-position: 0 0;
}

.about-our-connection .connection-map span.right_angle i {
  bottom: 6px;
  left: 36px;
  width: 3px;
  height: 6px;
  background-position: -71px 0;
}

.about-our-connection .connection-map span.right_angle:hover i, .about-our-connection .connection-map span.right_angle.on i {
  background-position: -58px 0;
}

.about-our-connection .connection-map span.left_angle i {
  bottom: 6px;
  right: 36px;
  width: 3px;
  height: 6px;
  background-position: -45px 0;
}

.about-our-connection .connection-map span.left_angle:hover i, .about-our-connection .connection-map span.left_angle.on i {
  background-position: -32px 0;
}

.about-our-connection .connection-map span:hover, .about-our-connection .connection-map span.on {
  background-color: #2c97f4;
}

.about-our-connection .connection-map .span1 {
  top: 149px;
  left: 414px;
}

.about-our-connection .connection-map .span2 {
  top: 151px;
  left: 474.5px;
}

.about-our-connection .connection-map .span3 {
  top: 239px;
  left: 335px;
}

.about-our-connection .connection-map .span4 {
  top: 248px;
  left: 379px;
}

.about-our-connection .connection-map .span5 {
  top: 228px;
  left: 404px;
}

.about-our-connection .connection-map .span6 {
  top: 242px;
  left: 455px;
}

.about-our-connection .connection-map .span7 {
  top: 266px;
  left: 490px;
}

.about-our-connection .connection-map .span8 {
  top: 282px;
  left: 362px;
}

.about-our-connection .connection-map .span9 {
  top: 317px;
  left: 424px;
}

.about-our-connection .connection-map .span10 {
  top: 326px;
  left: 469px;
}

.about-our-connection .connection-map .span11 {
  top: 360px;
  left: 457px;
}

.about-our-connection .connection-map .span12 {
  top: 378px;
  left: 426px;
}

.about-our-connection .connection-map .span13 {
  top: 194px;
  left: 363px;
}

.about-our-connection .connection-map .span14 {
  top: 262px;
  left: 428px;
}

.about-our-connection .connection-map .span15 {
  top: 117px;
  left: 485px;
}

.about-our-connection .connection-map .span16 {
  top: 199px;
  left: 442px;
}

.about-our-connection .connection-map .span17 {
  top: 216px;
  left: 482px;
}

.about-our-connection .connection-map .span18 {
  top: 155px;
  left: 352px;
}

.about-our-connection .mouseover_area {
  position: absolute;
  top: 107px;
  right: 44px;
  height: 302px;
  width: 211px;
}

.about-our-connection .adress_show {
  position: absolute;
  top: 23px;
  left: 204px;
  padding: 11px 14px 14px 13px;
  background-color: #2c97f4;
}

.about-our-connection .adress_show i {
  position: absolute;
  bottom: -16px;
  right: 0px;
  display: block;
  border: 16px solid transparent;
  border-right-color: #2c97f4;
}

.about-our-connection .adress_show p {
  position: relative;
  width: 182px;
  height: 32px;
  padding-left: 20px;
}

.about-our-connection .adress_show p:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 11px;
  height: 19px;
  background-repeat: no-repeat;
  background: url("../images/sprites/connection-map-adress-show.png") no-repeat;
}

.about-our-connection .adress_show .p1 {
  padding-bottom: 9px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}

.about-our-connection .adress_show .p2 {
  margin-top: 9px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

.about-our-connection .adress_show .p2:before {
  background-position: -21px 0;
}

.help-center {
  padding-bottom: 70px;
}

.help-center-box {
  background: #fff;
  padding: 30px 30px 50px 30px;
  margin-top: 24px;
  border: 1px solid #eee;
  border-radius: 3px;
}

.help-center-box h2 {
  position: relative;
  color: #474747;
  font-size: 18px;
  padding: 0 0 30px 12px;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.help-center-box h2 i {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 16px;
  background: #399df5;
}

.help-center-box dl {
  margin: 30px 0 0 0;
}

.help-center-box dd {
  float: left;
  width: 379px;
}

.help-center-box .help-center-ul {
  position: relative;
}

.help-center-box .help-center-ul li {
  position: relative;
  padding-left: 20px;
  margin-top: 16px;
}

.help-center-box .help-center-ul i {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 6px;
  height: 6px;
  background: url("../images/icon-list-style.png") no-repeat;
}

.help-center-box a {
  color: #474747;
  font-size: 14px;
}

.help-center-box a:hover {
  color: #2c97f4;
}

.help-center-box a:active {
  color: #474747;
}

.help-center-box-1 ul {
  padding-left: 100px;
}

.help-center-box-1 a {
  color: #b9b9b9;
  font-size: 14px;
}

.help-center-box-1 a:active {
  color: #b9b9b9;
}

.help-center-box-1 div {
  position: absolute;
  top: 0;
  left: 10px;
  color: #474747;
  font-size: 14px;
  text-align: center;
}

.help-center-box-1 div span {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background: url("../images/sprites/icon-help-center.png") no-repeat;
}

.help-center-box-1 .icon-help-center-2 {
  background-position: -70px 0;
}

.help-center-box-1 .icon-help-center-3 {
  background-position: -140px 0;
}

.help-center-box-1 .icon-help-center-4 {
  background-position: -210px 0;
}

.help-center-box-1 .icon-help-center-5 {
  background-position: -280px 0;
}

.help-center-box-1 .icon-help-center-6 {
  background-position: -350px 0;
}

.help-center-box-2 ul {
  margin-top: 66px;
}

.help-center-box-2 li {
  position: relative;
  float: left;
  margin-left: 120px;
  margin-right: 31px;
}

.help-center-box-2 li:first-child {
  margin-left: 31px;
}

.help-center-box-2 a {
  display: block;
  text-align: center;
  height: 70px;
  width: 94px;
  color: #474747;
  font-size: 14px;
  background: #f6f6f6;
  border-radius: 50%;
  line-height: 24px;
  padding-top: 24px;
}

.help-center-box-2 a:hover {
  color: #3f9ef5;
  background: #def0ff;
}

.help-center-box-2 a:active {
  color: #474747;
  background: #f6f6f6;
}

.help-center-box-2 i {
  position: absolute;
  top: 39px;
  left: -84px;
  display: block;
  width: 18px;
  height: 15px;
  background: url("../images/sprites/icon-double-next.png") no-repeat;
}

.join-our .contain_wrap {
  background: #fff url("../images/join-our.png") no-repeat;
  background-position: 690px 310px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  margin: 56px auto;
  padding: 40px 0 80px 0;
  position: relative;
}

.join-our .step-links {
  padding-left: 40px;
}

.join-our .step-links a {
  color: #a6a6a6;
  font-size: 12px;
}

.join-our .step-links a:first-child {
  color: #58a7f5;
}

.join-our h2 {
  margin: 26px 0 0 0;
  position: relative;
  font-size: 18px;
  color: #474747;
  padding: 0 0 20px 50px;
  border-bottom: 1px solid #eeeeee;
}

.join-our h2 i {
  position: absolute;
  top: 0;
  left: 40px;
  height: 20px;
  width: 4px;
  background: #399df5;
}

.join-our h3 {
  position: relative;
  padding-left: 90px;
  margin: 46px 0 0 0;
  font-size: 16px;
  color: #2c97f4;
}

.join-our h3 i {
  position: absolute;
  top: 0;
  left: 54px;
  width: 14px;
  height: 14px;
  background: url("../images/sprites/icon-list-style-2.png") no-repeat;
}

.join-our .p1 {
  padding-left: 90px;
  margin-top: 18px;
  font-size: 14px;
  color: #474747;
}

.join-our .p2 {
  width: 560px;
  line-height: 30px;
  padding-left: 90px;
  margin-top: 18px;
  font-size: 14px;
  color: #b9b9b9;
}

.join-our .right-box {
  position: absolute;
  top: 166px;
  right: 40px;
  width: 350px;
}

.join-our .right-box p {
  color: #b9b9b9;
  font-size: 14px;
  margin-bottom: 25px;
}

.join-our .right-box a {
  color: #2c97f4;
  font-size: 14px;
}

.step-links {
  padding-left: 16px;
}

.step-links a {
  color: #a6a6a6;
  font-size: 12px;
}

.step-links a:first-child {
  color: #58a7f5;
}

.page-list {
  margin-top: 12px;
  text-align: center;
}

.page-list a, .page-list span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 24px;
  background: #eeeeee;
  color: #919191;
  border-radius: 3px;
}

.page-list a:hover, .page-list a.on, .page-list span:hover, .page-list span.on {
  background: #2c97f4;
  color: #fff;
}

.page-list a:active, .page-list span:active {
  background: #eeeeee;
  color: #919191;
}

.page-list span {
  margin: 0 10px;
  cursor: pointer;
}

.media-coverage-list .contain_wrap {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  background: #fff;
  margin: 56px auto;
  width: 1152px;
  padding: 40px 24px 46px;
}

.media-coverage-list h2 {
  margin: 26px 0 0 0;
  position: relative;
  font-size: 18px;
  color: #474747;
  padding: 0 0 20px 26px;
  border-bottom: 1px solid #eeeeee;
}

.media-coverage-list h2 i {
  position: absolute;
  top: 0;
  left: 14px;
  height: 20px;
  width: 4px;
  background: #399df5;
}

.media-coverage-list-ul {
  margin-top: 44px;
}

.media-coverage-list-ul li {
  position: relative;
  padding-left: 120px;
}

.media-coverage-list-ul li span {
  position: absolute;
  top: 0;
  left: 14px;
  color: #b9b9b9;
  font-size: 12px;
}

.media-coverage-list-ul div {
  position: relative;
  padding: 0 0 30px 44px;
  border-left: 1px solid #eee;
}

.media-coverage-list-ul a {
  font-size: 16x;
  color: #2c97f4;
}

.media-coverage-list-ul p {
  margin-top: 10px;
  font-size: 14x;
  color: #b9b9b9;
  line-height: 24px;
  padding-right: 40px;
}

.media-coverage-list-ul i {
  position: absolute;
  top: 0;
  left: -8px;
  height: 14px;
  width: 14px;
  background: url("../images/sprites/icon-list-style-2.png") no-repeat left;
}

.phone-app dd {
  position: relative;
  float: left;
  width: 600px;
  height: 400px;
}

.phone-app-1 {
  height: 400px;
  background: #2d98f4;
}

.phone-app-1 .le {
  background: url("../images/phone-app-1.png") no-repeat;
  background-position: 100px 50px;
}

.phone-app-1 p {
  color: #fff;
  font-size: 60px;
  padding: 100px 0 15px;
  margin-left: 10px;
  width: 530px;
  border-bottom: 1px solid #40a1f4;
}

.phone-app-1 ul {
  margin: 22px 0 26px;
}

.phone-app-1 li {
  color: #fff;
  font-size: 28px;
  float: left;
  height: 32px;
  line-height: 32px;
  padding-left: 22px;
  margin-left: 22px;
  border-left: 2px solid #a1d3fe;
}

.phone-app-1 li:first-child {
  padding-left: 10px;
  margin-left: 0;
  border-left: 0;
}

.phone-app-1 a {
  position: relative;
  float: left;
  display: inline-block;
  width: 104px;
  background: #39b7f7;
  border: 1px solid #58ffff;
  border-radius: 3px;
  padding: 5px 10px 5px 60px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-left: 36px;
}

.phone-app-1 a:first-child {
  margin-left: 6px;
}

.phone-app-1 a span {
  color: #fff;
  font-size: 12px;
}

.phone-app-1 a.ios i {
  margin: 11px auto;
  display: block;
  width: 24px;
  height: 29px;
  background: url("../images/sprites/icon-ios-android.png") no-repeat;
}

.phone-app-1 a.android i {
  margin: 8px auto;
  display: block;
  width: 31px;
  height: 36px;
  background: url("../images/sprites/icon-ios-android.png") no-repeat;
  background-position: -34px 0;
}

.phone-app-1 a em {
  border-radius: 3px 0 0 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
}

.phone-app-1 .code {
  position: absolute;
  bottom: 80px;
  right: 56px;
  width: 110px;
  height: 110px;
  border-radius: 3px;
  background: #fff url("../images/black-code.png") no-repeat center;
}

.phone-app-same {
  height: 500px;
}

.phone-app-same p {
  color: #474747;
  font-size: 24px;
  margin: 166px 0 40px 160px;
}

.phone-app-same li {
  height: 16px;
  line-height: 16px;
  color: #b9b9b9;
  font-size: 14px;
  padding-left: 20px;
  margin: 0 0 20px 160px;
  background: url("../images/icon-list-style.png") no-repeat left center;
}

.phone-app-2 {
  background: #f4f4f4;
}

.phone-app-2 dd {
  height: 500px;
}

.phone-app-2 .ri {
  background: url("../images/phone-app-2.png") no-repeat;
  background-position: 50px bottom;
}

.phone-app-3 {
  background: #ffffff;
}

.phone-app-3 dd {
  height: 500px;
}

.phone-app-3 .le {
  background: url("../images/phone-app-3.png") no-repeat;
  background-position: 150px bottom;
}

.phone-app-4 {
  background: #f4f4f4;
}

.phone-app-4 dd {
  height: 500px;
}

.phone-app-4 .ri {
  background: url("../images/phone-app-4.png") no-repeat;
  background-position: 50px bottom;
}

.phone-app-5 {
  background: #ffffff;
  padding-bottom: 140px;
}

.phone-app-5 .links {
  position: relative;
}

.phone-app-5 a {
  position: relative;
  display: block;
  width: 160px;
  padding: 10px 0 10px 86px;
  margin-top: 26px;
  margin-left: 410px;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  border-radius: 3px;
}

.phone-app-5 a:first-child {
  margin-top: 160px;
}

.phone-app-5 a.ios {
  background: #2c97f4;
}

.phone-app-5 a.ios em {
  background: #1d8ae8;
}

.phone-app-5 a.ios i {
  margin: 15px auto;
  display: block;
  width: 24px;
  height: 29px;
  background: url("../images/sprites/icon-ios-android.png") no-repeat;
}

.phone-app-5 a.android {
  background: #74ca98;
}

.phone-app-5 a.android em {
  background: #5fb483;
}

.phone-app-5 a.android i {
  margin: 12px auto;
  display: block;
  width: 31px;
  height: 36px;
  background: url("../images/sprites/icon-ios-android.png") no-repeat;
  background-position: -34px 0;
}

.phone-app-5 a span {
  display: block;
  color: #fff;
  font-size: 12px;
}

.phone-app-5 a em {
  border-radius: 3px 0 0 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 66px;
}

.phone-app-5 .code {
  position: absolute;
  bottom: 0px;
  right: 380px;
  width: 146px;
  height: 146px;
  background: #f4f4f4 url("../images/black-code.png") no-repeat center;
}

.banner-safety-center {
  background: url("../images/banner-safety-center.png") no-repeat center;
}

.banner-safety-center .contain_wrap {
  height: 400px;
}

.safety-center h2 {
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  color: #474747;
  margin: 0 0 60px 0;
  padding: 84px 0 0;
}

.safety-center .p1 {
  padding-left: 40px;
  font-size: 24px;
  color: #474747;
}

.safety-center .p2 {
  padding-left: 40px;
  font-size: 16px;
  color: #474747;
}

.safety-center .p3 {
  padding-left: 40px;
  font-size: 14px;
  color: #b9b9b9;
  line-height: 30px;
}

.safety-center dl {
  width: 100%;
}

.safety-center dd {
  width: 50%;
  float: left;
}

.safety-center li {
  position: relative;
  font-size: 14px;
  color: #b9b9b9;
  height: 16px;
  line-height: 16px;
  margin-bottom: 16px;
  padding-left: 66px;
}

.safety-center li i {
  position: absolute;
  display: block;
  top: 0px;
  left: 40px;
  height: 16px;
  width: 16px;
  background: url("../images/sprites/icon-list-style.png") no-repeat center;
}

.safety-center .style-1 i {
  background: url("../images/sprites/icon-green-right.png") no-repeat;
}

.safety-center-grade img {
  margin-bottom: 85px;
}

.safety-center-safe .p1 {
  margin-bottom: 18px;
}

.safety-center-safe .p2 {
  margin-bottom: 16px;
}

.safety-center-safe .p3 {
  margin-bottom: 56px;
}

.safety-center-manage {
  padding: 0 0 84px;
}

.safety-center-manage .p1 {
  margin: 20px 0 20px;
}

.safety-center-manage .p2 {
  margin-bottom: 16px;
}

.safety-center-manage .p3 {
  margin-bottom: 20px;
}

.safety-center-manage .ri {
  padding-top: 80px;
}

.safety-center-manage .le img {
  margin-left: 40px;
}

.safety-center-score {
  padding: 0 0 84px;
}

.safety-center-score ul {
  padding-top: 94px;
}

.safety-center-safeguard {
  padding: 0 0 84px;
}

.safety-center-safeguard a {
  color: #2c97f4;
}

.safety-center-safeguard .p1 {
  margin-bottom: 20px;
  width: 470px;
}

.safety-center-safeguard .p3 {
  text-align: left;
  width: 470px;
}

.vip-privilege {
  padding-bottom: 100px;
}

.vip-box-system {
  float: left;
  width: 770px;
  height: 450px;
}

.vip-box-system h2 {
  margin: 40px 0 10px;
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2c97f4;
}

.vip-box-system-main {
  position: relative;
  height: 350px;
  background: url(../images/vip-box-system-main-bg.png) no-repeat bottom right;
}

.vip-box-system-checking {
  display: none;
  text-align: center;
  width: 400px;
  padding: 24px 0 28px;
  background: #f6f6f6;
  font-size: 14px;
  color: #474747;
}

.vip-box-system-checking a {
  color: #2e9bf4;
}

.vip-box-system-checking-p2 {
  margin-top: 16px;
  color: #b9b9b9;
}

.vip-box-system-checkedbox {
  display: none;
  text-align: left;
  width: 400px;
  padding: 24px 15px;
  background: #f6f6f6;
  font-size: 14px;
  color: #474747;
}

.vip-box-system-checkedbox .p1 {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.vip-box-system-checkedbox .p2, .vip-box-system-checkedbox .p3, .vip-box-system-checkedbox .p4 {
  font-size: 12px;
  margin-top: 10px;
}

.vip-box-system-checkedbox .p2 span {
  color: #fc8478;
}

.vip-box-system-checkedbox .p3 {
  height: 22px;
  line-height: 22px;
}

.vip-box-system-checkedbox .p4 {
  font-size: 12px;
  padding-left: 70px;
}

.vip-box-system-checkedbox .color-blue {
  color: #2e9bf4;
}

.vip-box-system-checkedbox .color-red {
  color: #fc8478;
}

.vip-box-system-checkedbox .p3 {
  position: relative;
}

.vip-box-system-checkedbox .groess-bar-bg {
  position: absolute;
  top: 0;
  left: 67px;
  display: inline-block;
  width: 250px;
  height: 22px;
  background: #c7c7c7;
}

.vip-box-system-checkedbox .groess-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 22px;
  background: #fc8478;
  z-index: 9;
}

.vip-box-system-checkedbox .groess-text {
  position: absolute;
  top: 0;
  left: 67px;
  display: inline-block;
  width: 250px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  z-index: 10;
}

.vip-privilege h2 {
  padding-left: 10px;
  font-size: 16px;
  color: #474747;
  margin: 90px 0 30px;
}

.vip-privilege h2 a {
  color: #2e9bf4;
  font-size: 14px;
}

.vip-privilege h2 a:hover {
  text-decoration: underline;
}

.vip-privilege h2 a:active {
  text-decoration: none;
}

.vip-privilege table {
  border: 1px solid #eeeeee;
}

.vip-privilege th {
  background: #f6f6f6;
  font-weight: bold;
  line-height: 20px;
  padding: 4px 0;
}

.vip-privilege th, .vip-privilege td {
  text-align: center;
  height: 36px;
  border: 1px solid #eeeeee;
  color: #474747;
  line-height: 20px;
}

.vip-privilege .differ-td {
  background: #f8fbff;
  text-align: left;
  padding: 4px 30px;
}

.vip-privilege .differ-th {
  color: #fc8478;
}

.vip-privilege p {
  padding-left: 10px;
  margin-top: 20px;
  font-size: 12px;
  color: #b9b9b9;
  line-height: 24px;
}

.vip-privilege span {
  color: #474747;
}

.vip-privilege .vip-links {
  color: #2e9bf4;
}

.vip-privilege .vip-links:hover {
  text-decoration: underline;
}

.vip-privilege .vip-links:active {
  text-decoration: none;
}

.banner-vip {
  background: url("../images/banner-vip.png") no-repeat center;
  height: 400px;
}

.banner-vip .contain_wrap {
  position: relative;
  height: 400px;
}

.banner-vip .banner-vip-a {
  position: absolute;
  bottom: 92px;
  left: 244px;
  display: block;
  height: 38px;
  width: 120px;
  font-size: 14px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  background: #ff8400;
  border-radius: 3px;
}

.banner-vip .banner-vip-a:hover {
  background: #ffa331;
}

.banner-vip .banner-vip-a:active {
  background: #ff8400;
}

.vip-box-system-main-data {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 263px;
  width: 769px;
}

.vip-box-system-main-data li {
  position: absolute;
  width: 61px;
  height: 19px;
  text-align: center;
  line-height: 19px;
  color: #fff;
}

.vip-box-system-main-data-1 {
  bottom: 74px;
  left: 24px;
}

.vip-box-system-main-data-2 {
  bottom: 84px;
  left: 116px;
}

.vip-box-system-main-data-3 {
  bottom: 94px;
  left: 209px;
}

.vip-box-system-main-data-4 {
  bottom: 104px;
  left: 304px;
}

.vip-box-system-main-data-5 {
  bottom: 124px;
  left: 398px;
}

.vip-box-system-main-data-6 {
  bottom: 144px;
  left: 490px;
}

.vip-box-system-main-data-7 {
  bottom: 183px;
  left: 584px;
}

.vip-box-system-main-data-8 {
  bottom: 243px;
  left: 677px;
}

.vip-box-newguy {
  height: 450px;
  float: right;
  width: 400px;
}

.vip-box-newguy h2 {
  font-size: 16px;
  margin: 40px 0 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #2c97f4;
}

.vip-box-newguy ul {
  height: 263px;
  margin-top: 34px;
  overflow: hidden;
  *margin-top: 22px;
}

.vip-box-newguy li {
  color: #b9b9b9;
  font-size: 14px;
  margin-bottom: 17px;
  padding-left: 20px;
}

.vip-box-newguy p {
  font-size: 14px;
  padding-left: 10px;
  color: #474747;
}

.vip-box-newguy p i {
  display: inline-block;
  width: 11px;
  height: 11px;
}

.vip-box-newguy p .vip-box-newguy-ired {
  background: #fc8478;
}

.vip-box-newguy p .vip-box-newguy-igreen {
  background: #74ca98;
}

.vip-box-newguy .vip-box-newguy-barbg {
  position: relative;
  background: #74ca98;
  width: 400px;
  height: 30px;
  margin-top: 16px;
}

.vip-box-newguy .vip-box-newguy-barbg span {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

.vip-box-newguy .vip-box-newguy-vip {
  background: #fc8478;
}

.buy-vip-layer .text-wrap {
  padding: 10px 0;
}

.buy-vip-layer .item-recharge {
  overflow: hidden;
}

.buy-vip-layer .item-recharge .title {
  float: left;
}

.buy-vip-layer .item-recharge .content {
  font-size: 14px;
  color: #2c97f4;
  float: right;
}

.buy-vip-layer .item-recharge .btn-recharge {
  font-size: 12px;
  border: 1px solid #2c97f4;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 8px;
}

.buy-vip-layer .pack-list {
  overflow: hidden;
  padding-bottom: 20px;
}

.buy-vip-layer .pack-list li {
  width: 116px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ddd;
  margin: 5px 0;
  position: relative;
}

.buy-vip-layer .pack-list li.selected {
  border-color: #2c97f4;
  color: #2c97f4;
}

.buy-vip-layer .pack-list li .icon-selected-big {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 23px;
  height: 23px;
  background: url(../images/sprites/big-selected.png) no-repeat;
}

.help-center-list {
  padding: 30px 0 40px;
  background: #fff;
  border-top: 1px solid #eeeeee;
}

.help-center-list h3, .help-center-list dl {
  margin: 0;
}

.help-center-list .le {
  float: left;
  width: 220px;
  background: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
}

.help-center-list .le .title {
  position: relative;
  height: 76px;
  line-height: 76px;
  padding-left: 66px;
  font-size: 18px;
  color: #474747;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
}

.help-center-list .ri {
  min-height: 376px;
  float: left;
  width: 898px;
  margin-left: -1px;
  padding: 30px 40px 30px;
  border: 1px solid #eeeeee;
}

.help-center-list .ri .top-title {
  color: #2c97f4;
  font-size: 16px;
  border-left: 4px solid #399df5;
  padding-left: 10px;
  margin: 0 0 24px 20px;
}

.help-center-list .user-tabs-item {
  display: block;
  position: relative;
  border-top: 1px solid #f6f6f6;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #f6f6f6;
  border-left: 2px solid #eeeeee;
  height: 58px;
  line-height: 58px;
  padding-left: 66px;
  color: #474747;
  font-size: 14px;
}

.help-center-list .user-tabs-item:hover, .help-center-list .user-tabs-item.user-tabs-active {
  font-weight: bold;
  background: #fff;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #eeeeee;
  border-left: 2px solid #2c97f4;
}

.help-center-list .ul-list {
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  margin-top: 12px;
  border-radius: 4px;
}

.help-center-list .ul-list:hover .title {
  color: #399df5;
}

.help-center-list .ul-list .title {
  position: relative;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.help-center-list .ul-list.on {
  background: #fff;
}

.help-center-list .ul-list.on .title {
  color: #fff;
  background: #2c97f4;
  border-top: 1px solid #2c97f4;
}

.help-center-list .ul-list.on .help-center-list-icon {
  background-position: -22px 0;
}

.help-center-list .ul-list-hide {
  display: none;
  padding: 14px 0 14px 20px;
}

.help-center-list .ul-list-hide li {
  list-style-type: decimal;
  list-style-position: inside;
  color: #474747;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.laws-and-regulations-list {
  padding: 30px 0 120px;
  background: #fff;
  border-top: 1px solid #eeeeee;
}

.laws-and-regulations-list h3, .laws-and-regulations-list dl {
  margin: 0;
}

.laws-and-regulations-list .le {
  float: left;
  width: 220px;
  background: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
}

.laws-and-regulations-list .le .title {
  position: relative;
  height: 76px;
  line-height: 76px;
  padding-left: 66px;
  font-size: 18px;
  color: #474747;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
}

.laws-and-regulations-list .ri {
  min-height: 436px;
  float: left;
  width: 898px;
  margin-left: -1px;
  padding: 30px 40px 30px;
  border: 1px solid #eeeeee;
}

.laws-and-regulations-list .ri h3 {
  font-size: 18px;
  color: #474747;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.laws-and-regulations-list .ri .title {
  padding: 0 50px;
  color: #474747;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}

.laws-and-regulations-list .ri .text {
  padding: 0 50px;
  color: #474747;
  font-size: 14px;
  text-indent: 26px;
  line-height: 30px;
}

.laws-and-regulations-list .ri .date {
  padding: 0 50px;
  color: #474747;
  font-size: 14px;
  text-align: right;
  line-height: 30px;
}

.laws-and-regulations-list .ri img {
  display: block;
  margin: 20px auto;
}

.laws-and-regulations-list .user-tabs-item {
  display: block;
  position: relative;
  border-top: 1px solid #f6f6f6;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #f6f6f6;
  border-left: 2px solid #eeeeee;
  height: 58px;
  line-height: 58px;
  padding-left: 66px;
  color: #474747;
  font-size: 14px;
}

.laws-and-regulations-list .user-tabs-item:hover, .laws-and-regulations-list .user-tabs-item.user-tabs-active {
  font-weight: bold;
  background: #fff;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #eeeeee;
  border-left: 2px solid #2c97f4;
}

.help-center-list-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -3px;
  width: 12px;
  height: 6px;
  background: url("../images/sprites/help-center-list-icon.png") no-repeat;
}

.ui-arrow {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url(../images/sprites/user-arrow-right.png) no-repeat;
  right: 38px;
  top: 20px;
}

.icon-question-mark-blue {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/sprites/icon-question-mark-blue.png) no-repeat;
  left: 40px;
  top: 50%;
  margin-top: -10px;
}

.banner-recommend-reward {
  height: 400px;
  background: url("../images/banner-recommend-reward.png") no-repeat center;
}

.border1 {
  border: 1px solid #efefef;
  border-radius: 3px;
}

.ui-btn-pink {
  background-color: #fb8577;
}

.ui-btn-pink:hover {
  background-color: #ffa393;
}

.ui-btn-pink:active {
  background-color: #fb8577;
}

.recommend-reward {
  padding: 40px 0 60px;
}

.recommend-reward .top-step {
  margin: 0;
  height: 82px;
  background: url(../images/recommend-reward-top-step.png) no-repeat;
}

.recommend-reward .top-step dd {
  height: 82px;
  float: left;
  width: 400px;
  text-align: center;
}

.recommend-reward .top-step p {
  color: #474747;
  font-size: 16px;
  margin-top: 15px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

.recommend-reward .top-step span {
  float: left;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #2c97f4;
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
}

.recommend-reward .mid-box {
  margin-top: 40px;
}

.recommend-reward .mid-box dd {
  float: right;
  width: 320px;
  height: 450px;
}

.recommend-reward .mid-box dd:first-child {
  float: left;
  width: 860px;
}

.recommend-reward .mid-box .generate-box {
  padding: 31px 0;
}

.recommend-reward .mid-box .generate-box input {
  float: left;
  width: 490px;
  height: 36px;
  padding-left: 10px;
  margin-left: 21px;
  color: #b9b9b9;
}

.recommend-reward .mid-box .generate-box a {
  float: left;
  width: 96px;
  height: 28px;
  line-height: 28px;
  margin: 0 0 0 30px;
}

.recommend-reward .mid-box .title {
  padding: 34px 0 26px 9px;
  color: #474747;
  font-size: 16px;
}

.recommend-reward .mid-box .ri-title {
  color: #474747;
  font-size: 16px;
  background: #f9f9f9;
  height: 58px;
  line-height: 58px;
  padding-left: 14px;
  border-bottom: 1px solid #efefef;
}

.recommend-reward .mid-box .mid-box-img {
  display: block;
  margin: 20px auto 0;
}

.recommend-reward .mid-box .text-sliderdown-wrap {
  overflow: hidden;
  height: 374px;
}

.recommend-reward .mid-box .text-sliderdown-box {
  padding: 18px 0 0 16px;
}

.recommend-reward .mid-box .text-sliderdown-box li {
  color: #b9b9b9;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.recommend-reward .bottom-box .title {
  color: #474747;
  font-size: 16px;
  padding: 0 0 11px 9px;
  border-bottom: 1px solid #efefef;
}

.recommend-reward .bottom-box .text {
  padding: 20px 0 0 9px;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 30px;
}

.recommend-reward .bottom-box .text i {
  display: inline-block;
  width: 24px;
}

.true-time-financial-data {
  padding: 30px 0;
}

.true-time-financial-data .contain_wrap {
  border: 1px solid #eee;
}

.true-time-financial-data-1 {
  padding-top: 24px;
  height: 676px;
  background: #fff url(../images/true-time-financial-data-1.png) no-repeat center 50px;
}

.true-time-financial-data-1 .top-title {
  color: #474747;
  font-size: 18px;
  border-left: 4px solid #399df5;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  margin-left: 28px;
}

.true-time-financial-data-1 .top-title span {
  font-size: 14px;
}

.true-time-financial-data-1 .min-title {
  color: #474747;
  font-size: 16px;
  text-align: center;
  margin-top: 100px;
}

.true-time-financial-data-1 .min-data {
  text-align: center;
  margin-top: 16px;
}

.true-time-financial-data-1 .min-data span {
  display: inline-block;
  color: #ffffff;
  font-size: 66px;
  padding: 10px 18px;
  background: #2c97f4;
  border-radius: 10px;
  box-shadow: 0 3px #dad9d9;
}

.true-time-financial-data-1 .min-about {
  margin-top: 20px;
  text-align: center;
  color: #2c97f4;
  font-size: 30px;
}

.true-time-financial-data-1 .bottom-data {
  margin-top: 210px;
}

.true-time-financial-data-1 .bottom-data dd {
  text-align: center;
  float: left;
  color: #474747;
  font-size: 14px;
}

.true-time-financial-data-1 .bottom-data span {
  display: block;
  color: #474747;
  font-size: 24px;
  margin-bottom: 6px;
}

.true-time-financial-data-1 .bottom-data-1 {
  width: 382px;
}

.true-time-financial-data-1 .bottom-data-2 {
  width: 448px;
}

.true-time-financial-data-1 .bottom-data-3 {
  width: 370px;
}

.true-time-financial-data-2 {
  height: 560px;
  background: #fbfbfb url(../images/true-time-financial-data-2.png) no-repeat center;
}

.true-time-financial-data-2 p {
  font-size: 16px;
}

.true-time-financial-data-2 span {
  margin-top: 10px;
  display: block;
  color: #474747;
  font-size: 18px;
  font-weight: bold;
}

.true-time-financial-data-2 .data1 {
  padding: 86px 0 0 764px;
}

.true-time-financial-data-2 .data2 {
  text-align: right;
  padding: 10px 864px 0 0;
}

.true-time-financial-data-2 .mim-data {
  width: 222px;
  margin: 32px 0 0 454px;
  text-align: center;
}

.true-time-financial-data-2 .mim-data span {
  margin-bottom: 10px;
}

.true-time-financial-data-2 .data3 {
  padding: 32px 0 0 902px;
}

.true-time-financial-data-2 .data4 {
  text-align: right;
  padding: 14px 900px 0 0;
}

.true-time-financial-data-2 .data5 {
  text-align: right;
  padding: 0 488px 0 0;
  margin-top: -14px;
}
