html {
  background-color: #fff;
}

.bg-gray {
  background-color: #f6f6f6;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.user_l {
  width: 220px;
  float: left;
  background-color: #f6f6f6;
  border: 1px solid #eee;
  border-right: 0;
}

dl {
  margin: 0;
}

.padt10 {
  padding-top: 10px;
}

.user-account-info {
  text-align: center;
}

.user-account-info .avatar {
  margin-top: 26px;
  padding-left: 60px;
}

.user-account-info .avatar a {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 98px;
  height: 98px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
}

.user-account-info .user-name {
  font-size: 14px;
  padding: 10px 0;
}

.user-account-info .user-name .user-level {
  font-size: 11px;
  font-style: italic;
  color: #fff;
  background-color: #2c97f4;
  border-radius: 3px;
  padding: 1px 3px;
  margin-left: 5px;
  font-family: "Arial";
}

.user-account-info .user-approve {
  padding: 5px 0;
}

.user-account-info .user-approve .icon-user-auth {
  margin: 0 2px;
}

.user-account-info .icon-user-auth {
  display: inline-block;
  background: url(../images/sprites/icon-user-auth.png) no-repeat;
  width: 20px;
  height: 20px;
}

.user-account-info .icon-user-auth.icon-un-phone {
  background-position: -156px 0;
}

.user-account-info .icon-user-auth.icon-un-email {
  background-position: -130px 0;
}

.user-account-info .icon-user-auth.icon-un-real {
  background-position: -182px 0;
}

.user-account-info .icon-user-auth.icon-un-bkcard {
  background-position: -104px 0;
}

.user-account-info .icon-user-auth.icon-phone {
  background-position: -52px 0;
}

.user-account-info .icon-user-auth.icon-email {
  background-position: -26px 0;
}

.user-account-info .icon-user-auth.icon-real {
  background-position: -78px 0;
}

.user-account-info .icon-user-auth.icon-bkcard {
  background-position: 0 0;
}

.user-account-info .user-sec-status {
  padding-top: 10px;
  padding-bottom: 30px;
}

.user-account-info .user-sec-status em {
  padding-left: 3px;
}

.user-account-info .user-sec-status .spara {
  color: #ddd;
  padding: 10px;
}

.user_nav {
  width: 100%;
}

.user_nav li {
  font-size: 14px;
  position: relative;
}

.user_nav li a {
  display: block;
  padding: 18px 0;
  position: relative;
  text-indent: 60px;
}

.user_nav li a .ui-arrow {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url(../images/sprites/user-arrow-right.png) no-repeat;
  right: 38px;
  top: 20px;
}

.user_nav li.cur {
  font-weight: bold;
  background-color: #fff;
}

.user_nav li.cur a {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 2px solid #2c97f4;
  margin-left: -1px;
}

dl.qc-code {
  border-top: 1px solid #eee;
  margin-top: 20px;
  text-align: center;
  padding: 26px 0;
}

.user_r {
  position: relative;
  border: 1px solid #eee;
  margin-left: 219px;
  margin-bottom: 50px;
  padding: 30px;
  min-height: 763px;
}

.w330 {
  width: 330px;
}

.w280 {
  width: 280px;
}

.w180 {
  width: 180px;
}

.user-assets-box {
  padding: 20px 0;
  overflow: hidden;
}

.user-assets-view {
  float: left;
  margin-left: 20px;
}

.user-assets-view dt {
  padding: 5px 0;
}

.user-assets-view .num {
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial";
  padding-bottom: 10px;
}

.user-assets-view .num .icon-up-blue {
  background: url(../images/icon-up-blue.png) no-repeat;
  display: inline-block;
  width: 18px;
  height: 20px;
}

.user-assets-view .btns .ui-btn {
  font-size: 12px;
  padding: 8px 22px;
}

.user-assets-view .btns .ui-btn-empty {
  font-size: 12px;
  padding: 7px 21px;
}

.user-tabs {
  height: 46px;
  border: 1px solid #eee;
  position: relative;
  background-color: #f6f6f6;
}

.user-tabs-item {
  display: block;
  float: left;
  height: 46px;
  line-height: 46px;
  padding: 0 35px;
  font-size: 14px;
  border-right: 1px solid #eee;
}

.user-tabs-active {
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  border-top: 2px solid #2c97f4;
  font-weight: bold;
  color: #2c97f4;
}

.user-account-moudle {
  border: 1px solid #eee;
  border-top: 0;
  padding: 30px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.user-account-moudle.record {
  padding: 0;
  border: 0;
}

.user-account-moudle.record a {
  display: block;
  color: #2c97f4;
}

.user-account-moudle.record span {
  display: block;
  color: #b9b9b9;
}

.user-account-moudle.record td {
  line-height: 24px;
  height: 80px;
}

.user-account-moudle.massage-list {
  padding: 0 0 60px 0;
  border: 0;
}

.user-account-moudle.massage-list tr a {
  color: #474747;
}

.user-account-moudle.massage-list tr a:hover {
  color: #62b7e7;
}

.user-account-moudle.massage-list tr a:active {
  color: #474747;
}

.user-account-moudle.massage-list .delete-btn {
  position: relative;
  margin-top: 25px;
}

.user-account-moudle.massage-list .delete-btn .ui-btn-empty {
  border: 1px solid #b9b9b9;
  color: #474747;
}

.user-account-moudle.massage-list .delete-btn .ui-btn-empty:hover {
  color: #62b7e7;
  border-color: #62b7e7;
}

.user-account-moudle.massage-list .delete-btn .ui-btn-empty:active {
  color: #474747;
  border-color: #b9b9b9;
}

.user-account-moudle.massage-list .delete-btn #page {
  position: absolute;
  top: -23px;
  right: 22px;
}

.user-account-moudle.massage-list .massage-title {
  color: #3e3e3e;
  font-size: 16px;
  text-align: center;
  margin: 35px 0 24px;
}

.user-account-moudle.massage-list .massage-date {
  color: #b9b9b9;
  font-size: 12px;
  text-align: center;
  padding-bottom: 29px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 29px;
}

.user-account-moudle.massage-list .massage-text {
  color: #3e3e3e;
  font-size: 14px;
  padding: 0 23px;
  margin-bottom: 42px;
}

.user-account-moudle .all-earn {
  font-size: 14px;
}

.user-account-moudle .all-earn dd {
  padding: 10px 0;
}

.user-account-moudle .all-earn dd:first-child {
  padding-top: 0;
}

.user-account-moudle .all-earn dd:last-child {
  padding-bottom: 0;
}

.user-account-moudle .all-earn dd em {
  font-family: "Arial";
}

.user-account-moudle .all-loan {
  font-size: 14px;
  height: 124px;
  box-sizing: border-box;
}

.user-account-moudle .all-loan dd {
  overflow: hidden;
  line-height: 40px;
}

.user-account-moudle .all-loan dd:first-child {
  line-height: normal;
}

.user-account-moudle .all-loan dd:last-child {
  line-height: normal;
}

.user-account-moudle .all-loan dd span {
  display: inline-block;
}

.user-account-moudle .all-loan .fr .ui-btn {
  color: #3e3e3e;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 14px;
}

.user-account-moudle .all-loan em {
  font-family: "Arial";
}

.massage-page-btn {
  text-align: right;
  padding-top: 20px;
  margin: 0 30px;
  width: 919px;
  border-top: 1px solid #eeeeee;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.massage-page-btn .ui-btn-nborder {
  padding: 6px 12px;
  color: #474747;
  font-size: 14px;
}

.massage-page-btn .ui-btn-nborder:hover {
  color: #62b7e7;
}

.massage-page-btn .ui-btn-nborder:active {
  color: #474747;
}

.massage-page-btn .ui-btn-empty {
  border: 1px solid #b9b9b9;
  color: #474747;
}

.massage-page-btn .ui-btn-empty:hover {
  color: #62b7e7;
  border-color: #62b7e7;
}

.massage-page-btn .ui-btn-empty:active {
  color: #474747;
  border-color: #b9b9b9;
}

.all-property {
  float: left;
  margin-top: 30px;
  width: 250px;
}

.all-property .big-num {
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial";
  padding-top: 6px;
}

.all-property-detail {
  float: left;
  margin-left: 20px;
}

.all-property-detail .ui-pt16 {
  padding-top: 16px;
}

.all-property-detail .nor-num {
  font-size: 18px;
  font-family: "Arial";
  padding-top: 8px;
  padding-bottom: 4px;
}

.user-earn-today {
  background-color: #f4faff;
  border: 1px solid #d3e5f4;
}

.invest-list-control {
  overflow: hidden;
}

.invest-list-control a {
  float: right;
  color: #b9b9b9;
  line-height: 64px;
  font-size: 12px;
  margin-left: 24px;
}

.invest-list-control a.on {
  color: #2c97f4;
}

.invest-list-control p {
  height: 64px;
  line-height: 64px;
  padding-left: 4px;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 14px;
}

.invest-list-control form {
  float: right;
}

.invest-list-control select {
  height: 30px;
  width: 110px;
  border: 1px solid #e2e3e4;
  border-radius: 5px;
  margin-left: 12px;
}

.invest-list-control .filter_time, .invest-list-control .filter_status {
  float: left;
  line-height: 64px;
  margin-left: 40px;
}

.invest-list tr {
  border-bottom: 1px solid #eee;
}

.invest-list tr.tr1 {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.invest-list td {
  text-align: center;
  height: 50px;
}

.invest-list th {
  text-align: center;
  height: 50px;
  background: #f6f6f6;
  font-weight: normal;
}

.invest-list .index-invest-name p {
  width: 134px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.investment-wrap {
  font-size: 14px;
}

.investment-wrap p {
  position: relative;
}

.investment-wrap .investment-volume-total {
  padding: 14px 0 20px 16px;
  border-top: 1px solid #eee;
}

.investment-wrap .investment-volume-total:first-child {
  border-top: 0;
}

.investment-wrap .investment-volume-total p {
  height: 24px;
  line-height: 24px;
}

.investment-wrap .investment-volume-total .ui-font-gray {
  padding-top: 10px;
}

.investment-wrap .investment-volume-total .ui-font-gray i {
  color: #474747;
}

.borrow-volume-total span {
  display: inline-block;
  line-height: 40px;
}

.invet-list-filter td {
  height: 70px;
}

.invet-list-filter .table-inside-btn a {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 2px;
}

.layer-title {
  border-left: 0;
}

.layer-title .border-blue {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
  height: 16px;
  border-left: 4px solid #2c97f4;
}

.user-myinvest-layer {
  padding: 30px;
}

.user-myinvest-layer .last-detail-tb {
  font-size: 12px;
}

.user-myinvest-layer .last-detail-tb td {
  text-align: center;
}

.user-myinvest-layer .last-detail-tb .num {
  font-family: "Arial";
  font-size: 18px;
  padding: 10px 0;
}

.user-myinvest-layer .user-invest-detailtb {
  font-size: 12px;
  margin-top: 20px;
}

.user-myinvest-layer .user-invest-detailtb tr:first-child {
  border-top: 2px solid #eee;
}

.user-myinvest-layer .user-invest-detailtb td {
  padding: 18px 0;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
}

.user-myinvest-layer .user-invest-detailtb .already-refund td {
  color: #b9b9b9;
}

.user-myinvest-layer .layer-bottom {
  margin: 0;
}

.user-myinvest-layer .user-trans-rule {
  background-color: #f5faff;
  border: 1px solid #d3e5f4;
  padding: 18px 28px;
}

.user-myinvest-layer .user-trans-rule .title {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}

.user-myinvest-layer .user-trans-rule .content {
  line-height: 2;
}

.user-myinvest-layer .user-layer-bond {
  width: 240px;
  margin: 24px auto;
}

.user-myinvest-layer .user-layer-bond .ui-font-blue {
  padding-top: 5px;
}

.tx_main {
  color: #3e3e3e;
  font-size: 14px;
}

.tx_main p {
  line-height: 2;
}

.tx_main .zhif_type {
  font-weight: bold;
  line-height: normal;
  padding-bottom: 10px;
}

.tx_main .bank_type {
  padding-bottom: 40px;
}

.tx_main .bank_type li {
  float: left;
  width: 200px;
  overflow: hidden;
}

.tx_main .bank_type input {
  border: none;
  float: left;
  outline: none;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 10px;
}

.tx_main .bank_type label {
  display: inline-block;
  border: 1px solid #d5e6ed;
  height: 30px;
  width: 142px;
}

.tx_main .begin_cal {
  padding: 12px 70px;
  margin: 30px 0 60px 0;
}

.account-recharge .user-account-moudle, .account-setting .user-account-moudle {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.account-recharge .user-account-moudle {
  padding-left: 20px;
}

.bank-list {
  padding-top: 10px;
}

.banklogo {
  float: left;
  margin: 5px 28px 10px 0;
  border: 1px solid #ddd;
  width: 106px;
  height: 31px;
  background-image: url(../images/bankLogo.png);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  cursor: pointer;
}

.bank_icbc {
  background-position: -3px -229px;
}

.bank_everbright {
  background-position: -3px -381px;
}

.bank_ccb {
  background-position: -3px -39px;
}

.bank_abc {
  background-position: -3px -77px;
}

.bank_cmb {
  background-position: -3px -153px;
}

.bank_boc {
  background-position: -3px -191px;
}

.bank_comm {
  background-position: -3px -419px;
}

.bank_psbc {
  background-position: -3px -457px;
}

.bank_cgb {
  background-position: -3px -533px;
}

.bank_cmbc {
  background-position: -3px -115px;
}

.bank_paic {
  background-position: -3px -305px;
}

.bank_ecitic {
  background-position: -3px -1px;
}

.bank_bj {
  background-image: url(../images//icon_bjbank.png);
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

.w190 {
  width: 190px;
}

#recharge_amount {
  height: 22px;
  line-height: 22px;
  padding: 8px;
  color: #3498db;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
}

.bank-tx-box {
  background-color: #f5faff;
  border: 1px solid #d3e5f4;
  padding: 18px 28px;
  margin-top: 20px;
}

.tx-account-bank {
  line-height: 33px;
}

.tx-account-bank span, .cur-bank-box {
  float: left;
}

.cur-bank-box {
  border: 1px solid #ddd;
  background-color: #fff;
  padding-right: 5px;
  margin-left: 18px;
  cursor: pointer;
}

.cur-bank-box .ui-del-ctx {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #fff;
  background-color: rgba(52, 152, 219, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF3498db,endColorstr=#BF3498db);
  line-height: 33px;
}

.cur-bank-box span {
  float: left;
}

.cur-bank-box label {
  cursor: pointer;
}

.cur-bank-box:first-child {
  margin-left: 0;
}

.del-this-bank {
  position: relative;
  text-align: center;
  border-color: #3498db;
}

.del-this-bank .ui-del-ctx {
  visibility: visible;
}

.del-bank-alert {
  font-size: 16px;
  padding: 30px 0;
}

.selected-bank {
  border-color: #3498db;
  position: relative;
}

.icon-selected {
  position: absolute;
  background: url(../images/icon-selected-bank.png) no-repeat;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
}

.select-bank-box {
  clear: both;
  padding-top: 14px;
}

.select-bank-icon {
  background-image: url(../images/bankLogo.png);
  display: block;
  width: 106px;
  height: 31px;
}

.pl20 {
  padding-left: 20px;
}

.tx-txt-notice {
  clear: both;
  padding-top: 18px;
}

.tx-txt-notice img {
  padding-right: 5px;
  position: relative;
  top: -2px;
}

.bank-authro {
  padding-top: 0;
}

.bank-authro span {
  font-size: 14px;
  line-height: 33px;
}

.bank-authro .cur-bank-box {
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.add-bankcard {
  border-color: #b9e3ff;
  border-style: dashed;
  min-width: 180px;
}

.icon-addbank {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/icon-addbank.png) no-repeat;
  margin: 8px 10px 0 40px;
}

.user-base-info {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 20px 10px;
}

.user-base-info span {
  font-weight: normal;
}

.user-info-tb {
  margin-top: 10px;
}

.user-info-tb .u-input {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.user-info-tb td {
  padding: 12px 0;
}

.user-info-tb td:first-child {
  padding-left: 30px;
  padding-right: 20px;
}

.user-info-tb .user-sex input {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.user-info-tb .user-sex label {
  padding-right: 14px;
}

.user-info-tb .uer-birthday label {
  padding: 0 10px;
}

.user-info-tb .user-phone .ui-font-blue, .user-info-tb .user-email .ui-font-blue {
  padding: 0 10px;
}

.user-info-tb .user-save {
  padding-top: 30px;
  padding-bottom: 20px;
}

.user-info-tb .user-save .ui-btn {
  font-size: 14px;
  padding: 10px 40px;
  margin-left: 0;
}

.normal {
  font-weight: normal;
}

.user-address-list td {
  padding: 16px 0;
}

.user-address-list .user-area, .user-address-list .user-address, .user-address-list .user-phone, .user-address-list .user-handle {
  text-align: left;
  text-indent: 30px;
}

.user-address-list .user-handle .sapare {
  color: #d7d7d7;
  padding: 0 8px;
}

.user-address-list .default-addr {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  width: 70px;
  display: none;
}

.user-address-list .user-address-def .default-addr, .user-address-list .hover-item .default-addr {
  display: block;
}

.user-address-list .hover-item {
  background-color: #f6f6f6;
}

.user-add-box {
  text-align: center;
  margin-top: 30px;
}

.user-add-box .ui-btn {
  font-size: 14px;
  padding: 8px 30px;
}

.user-addrinfo-layer {
  padding-top: 10px;
}

.user-write-info .label {
  padding: 14px 0 10px;
}

.user-write-info .u-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

.user-write-info .user-name input {
  width: 50%;
}

.user-write-info .user-provience select {
  width: 120px;
}

.user-write-info .user-addr-detail input {
  width: 100%;
}

.user-write-info .user-phone input {
  width: 50%;
}

.user-add-save {
  text-align: center;
  padding-top: 50px;
}

.user-add-save .ui-btn {
  padding: 12px 100px;
}

.user-auto-invest {
  position: relative;
  margin-right: 14px;
  margin-left: 14px;
  padding-bottom: 20px;
}

.user-auto-invest .user-switch-box {
  position: absolute;
  top: -9px;
  right: 0;
  overflow: hidden;
  width: 182px;
}

.user-auto-invest .user-switch-box .title {
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding-top: 8px;
}

.user-auto-invest .user-switch-box .user-invest-switch {
  float: right;
  width: 98px;
  height: 30px;
  background-color: #b9b9b9;
  border-radius: 3px;
  color: #fff;
}

.user-auto-invest .user-switch-box .user-invest-switch a {
  display: inline-block;
  width: 46px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
}

.user-auto-invest .user-switch-box .user-invest-switch .cur {
  color: #2c97f4;
  background-color: #fff;
  margin: 1px;
}

.user-auto-step {
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
  background: url(../images/user-step.png) no-repeat;
}

.user-auto-step li {
  float: left;
  height: 42px;
  line-height: 42px;
  width: 33.33%;
  text-align: center;
}

.auto-invest-conditon {
  width: 900px;
  margin: 0 auto;
  font-size: 14px;
}

.auto-invest-conditon tr {
  border-bottom: 1px solid #eee;
}

.auto-invest-conditon td {
  padding: 20px 0;
}

.auto-invest-conditon td:first-child {
  text-align: right;
  width: 95px;
}

.auto-invest-conditon td.title {
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  font-size: 14px;
}

.auto-invest-conditon .u-input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 12px;
}

.auto-invest-conditon .option {
  padding-left: 50px;
}

.auto-invest-conditon .invest-rate .u-input, .auto-invest-conditon .invest-earn-rate .u-input, .auto-invest-conditon .invest-long .u-input {
  width: 100px;
}

.auto-invest-conditon .invest-rate label, .auto-invest-conditon .invest-earn-rate label, .auto-invest-conditon .invest-long label {
  padding: 0 10px;
  font-size: 12px;
}

.auto-invest-conditon .invest-product input, .auto-invest-conditon .invest-method input {
  position: relative;
  top: 2px;
}

.auto-invest-conditon .invest-product label, .auto-invest-conditon .invest-method label {
  padding-right: 30px;
}

.auto-invest-conditon .invest-num label, .auto-invest-conditon .invest-last label {
  font-size: 12px;
  padding-left: 10px;
}

.auto-invest-conditon .invest-num .ui-font-gray, .auto-invest-conditon .invest-last .ui-font-gray {
  font-size: 12px;
  padding-left: 30px;
}

.auto-invest-conditon .user-credit-level span {
  padding-right: 30px;
}

.auto-invest-conditon .user-credit-level .credit-level {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  background-color: #74ca98;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
}

.auto-invest-conditon .user-credit-level .credit-level.level_b {
  background-color: #f1c40f;
}

.auto-invest-conditon .user-credit-level .credit-level.level_c {
  background-color: #fc8478;
}

.user-save-autoinvest {
  text-align: center;
  padding-top: 40px;
}

.user-save-autoinvest .ui-btn {
  padding: 12px 50px;
}

.gift-catd-filter {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-left: 10px;
}

.gift-catd-filter .fl a {
  padding-right: 20px;
}

.gift-catd-filter .fl a.cur {
  font-weight: bold;
  color: #2c97f4;
}

.gift-catd-wrap {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.gift-catd-wrap li {
  float: left;
  width: 33.33%;
  padding: 20px 0;
}

.gift-catd-wrap .gift-card-box {
  width: 246px;
  height: 216px;
  margin-left: 10px;
  background: url(../images/sprites/gift-card.png) no-repeat;
  color: #fff;
}

.gift-catd-wrap .gift-card-box .go-to-use {
  text-align: center;
  height: 50px;
  line-height: 48px;
}

.gift-catd-wrap .gift-card-box .go-to-use a {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

.gift-catd-wrap .gift-card-box.blue-card .go-to-use a {
  color: #3189d6;
}

.gift-catd-wrap .gift-card-box.green-card {
  background-position: -496px 0;
}

.gift-catd-wrap .gift-card-box.green-card .go-to-use a {
  color: #35a364;
}

.gift-catd-wrap .gift-card-box.pink-card {
  background-position: -744px 0;
}

.gift-catd-wrap .gift-card-box.pink-card .go-to-use a {
  color: #f87c71;
}

.gift-catd-wrap .gift-card-box.gray-card {
  background-position: -248px 0;
}

.gift-catd-wrap .gift-card-box.gray-card .go-to-use a {
  color: #b9b9b9;
}

.gift-catd-wrap .gift-card-box.gray-card .go-to-use a:hover {
  cursor: not-allowed;
}

.gift-catd-wrap .gift-card-box dt {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
}

.gift-catd-wrap .gift-card-box dd {
  overflow: hidden;
}

.gift-catd-wrap .gift-card-box .date, .gift-catd-wrap .gift-card-box .beishu {
  height: 60px;
  float: left;
  text-align: center;
}

.gift-catd-wrap .gift-card-box .date em, .gift-catd-wrap .gift-card-box .beishu em {
  display: block;
  font-weight: bold;
  font-size: 28px;
  font-family: "Arial";
  padding-top: 5px;
}

.gift-catd-wrap .gift-card-box .date {
  margin-top: 12px;
  margin-left: 40px;
}

.gift-catd-wrap .gift-card-box .beishu {
  float: right;
  margin-top: 12px;
  margin-right: 40px;
}

.gift-catd-wrap .gift-card-box .out-date {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.user-account-moudle.red-bonus dd {
  float: left;
  width: 285px;
}

.user-account-moudle.red-bonus p {
  font-size: 12px;
  color: #474747;
}

.user-account-moudle.red-bonus p.title {
  margin-top: 50px;
}

.user-account-moudle.red-bonus p.num {
  font-size: 28px;
  font-weight: bold;
  margin: 10px auto;
}

.user-account-moudle.red-bonus .red-bonus-data {
  text-align: center;
  padding-top: 30px;
}

.user-account-moudle.red-bonus .red-bonus-data p {
  margin: 25px 0;
}

.user-account-moudle.red-bonus .red-bonus-data a {
  width: 196px;
  height: 28px;
  line-height: 28px;
}

.user-account-moudle.red-bonus .red-bonus-le {
  padding-left: 124px;
  width: 161px;
}

.user-account-moudle.red-bonus .invest-list-control {
  padding-right: 24px;
  margin-top: 30px;
}

.user-account-moudle.safty tr:first-child {
  border-top: 1px solid #eee;
}

.user-account-moudle.safty td {
  height: 80px;
  text-align: left;
}

.user-account-moudle.safty .text-black {
  color: #474747;
  font-size: 12px;
  font-weight: bold;
  margin-right: 30px;
}

.user-account-moudle.safty .text-dark {
  margin-top: 15px;
  display: block;
  color: #b9b9b9;
  font-size: 12px;
}

.user-account-moudle.safty .tips {
  padding: 30px 16px;
  color: #b9b9b9;
  font-size: 12px;
  line-height: 24px;
}

.user-account-moudle.safty i {
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background: url(../images/sprites/icon-criedted.png) no-repeat;
  background-size: 16px;
}

.user-account-moudle.safty i.error {
  background: url(../images/sprites/icon-error-samll.png) no-repeat;
}

.user-account-moudle.safty dl {
  margin: 40px 0 40px;
}

.user-account-moudle.safty dl .safty-level-box {
  height: 19px;
  width: 400px;
}

.user-account-moudle.safty dl .safty-level-text {
  font-size: 16px;
  right: -40px;
}

.user-account-moudle.safty dd {
  float: left;
  padding-left: 20px;
}

.user-account-moudle.safty dd:first-child {
  padding-left: 160px;
  color: #474747;
  font-size: 16px;
}

.user-account-moudle.safty .safty-level-box {
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  background: #eeeeee;
}

.user-account-moudle.safty .safty-level-bar {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 30%;
}

.user-account-moudle.safty .safty-level-text {
  position: absolute;
  top: 0;
}

.user-account-moudle.safty td .safty-level-box {
  top: 2px;
  height: 14px;
  width: 100px;
}

.user-account-moudle.safty td .safty-level-text {
  font-size: 12px;
  right: -20px;
}

#unfreeze_rate {
  width: 110px;
  height: 115px;
  overflow: hidden;
  margin-left: 90px;
}
