html {
  background-color: #fff;
}

.bg-gray {
  background-color: #f6f6f6;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.user_l {
  width: 220px;
  float: left;
  background-color: #f6f6f6;
  border: 1px solid #eee;
  border-right: 0;
}

dl {
  margin: 0;
}

.padt10 {
  padding-top: 10px;
}

.user-account-info {
  text-align: center;
}

.user-account-info .avatar {
  margin-top: 26px;
  padding-left: 60px;
}

.user-account-info .avatar a {
  display: table-cell;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 98px;
  height: 98px;
  border: 2px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
}

.user-account-info .user-name {
  font-size: 14px;
  padding: 10px 0;
}

.user-account-info .user-name .user-level {
  font-size: 11px;
  font-style: italic;
  color: #fff;
  background-color: #2c97f4;
  border-radius: 3px;
  padding: 1px 3px;
  margin-left: 5px;
  font-family: "Arial";
}

.user-account-info .user-approve {
  padding: 5px 0;
}

.user-account-info .user-approve .icon-user-auth {
  margin: 0 2px;
}

.user-account-info .icon-user-auth {
  display: inline-block;
  background: url(../images/sprites/icon-user-auth.png) no-repeat;
  width: 20px;
  height: 20px;
}

.user-account-info .icon-user-auth.icon-un-phone {
  background-position: -156px 0;
}

.user-account-info .icon-user-auth.icon-un-email {
  background-position: -130px 0;
}

.user-account-info .icon-user-auth.icon-un-real {
  background-position: -182px 0;
}

.user-account-info .icon-user-auth.icon-un-bkcard {
  background-position: -104px 0;
}

.user-account-info .icon-user-auth.icon-phone {
  background-position: -52px 0;
}

.user-account-info .icon-user-auth.icon-email {
  background-position: -26px 0;
}

.user-account-info .icon-user-auth.icon-real {
  background-position: -78px 0;
}

.user-account-info .icon-user-auth.icon-bkcard {
  background-position: 0 0;
}

.user-account-info .user-sec-status {
  padding-top: 10px;
  padding-bottom: 30px;
}

.user-account-info .user-sec-status em {
  padding-left: 3px;
}

.user-account-info .user-sec-status .spara {
  color: #ddd;
  padding: 10px;
}

.user_nav {
  width: 100%;
}

.user_nav li {
  font-size: 14px;
  position: relative;
}

.user_nav li a {
  display: block;
  padding: 18px 0;
  position: relative;
  text-indent: 60px;
}

.user_nav li a .ui-arrow {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url(../images/sprites/user-arrow-right.png) no-repeat;
  right: 38px;
  top: 20px;
}

.user_nav li.cur {
  font-weight: bold;
  background-color: #fff;
}

.user_nav li.cur a {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 2px solid #2c97f4;
  margin-left: -1px;
}

dl.qc-code {
  border-top: 1px solid #eee;
  margin-top: 20px;
  text-align: center;
  padding: 26px 0;
}

.user_r {
  border: 1px solid #eee;
  margin-left: 219px;
  margin-bottom: 50px;
  padding: 30px;
}

.w330 {
  width: 330px;
}

.w280 {
  width: 280px;
}

.w180 {
  width: 180px;
}

.user-assets-box {
  padding: 20px 0;
  overflow: hidden;
}

.user-assets-view {
  float: left;
  margin-left: 20px;
}

.user-assets-view dt {
  padding: 5px 0;
}

.user-assets-view .num {
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial";
  padding-bottom: 10px;
}

.user-assets-view .num .icon-up-blue {
  background: url(../images/icon-up-blue.png) no-repeat;
  display: inline-block;
  width: 18px;
  height: 20px;
}

.user-assets-view .btns .ui-btn {
  font-size: 12px;
  padding: 8px 22px;
}

.user-assets-view .btns .ui-btn-empty {
  font-size: 12px;
  padding: 7px 21px;
}

.user-tabs {
  height: 46px;
  border: 1px solid #eee;
  position: relative;
  background-color: #f6f6f6;
}

.user-tabs-item {
  display: block;
  float: left;
  height: 46px;
  line-height: 46px;
  padding: 0 35px;
  font-size: 14px;
  border-right: 1px solid #eee;
}

.user-tabs-active {
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  border-top: 2px solid #2c97f4;
  font-weight: bold;
  color: #2c97f4;
}

.user-account-moudle {
  border: 1px solid #eee;
  border-top: 0;
  padding: 30px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.user-account-moudle.record {
  padding: 0;
  border: 0;
}

.user-account-moudle .all-earn {
  font-size: 14px;
}

.user-account-moudle .all-earn dd {
  padding: 10px 0;
}

.user-account-moudle .all-earn dd:first-child {
  padding-top: 0;
}

.user-account-moudle .all-earn dd:last-child {
  padding-bottom: 0;
}

.user-account-moudle .all-earn dd em {
  font-family: "Arial";
}

.user-account-moudle .all-loan {
  font-size: 14px;
  height: 124px;
  box-sizing: border-box;
}

.user-account-moudle .all-loan dd {
  overflow: hidden;
  line-height: 40px;
}

.user-account-moudle .all-loan dd:first-child {
  line-height: normal;
}

.user-account-moudle .all-loan dd:last-child {
  line-height: normal;
}

.user-account-moudle .all-loan dd span {
  display: inline-block;
}

.user-account-moudle .all-loan .fr .ui-btn {
  color: #3e3e3e;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 14px;
}

.user-account-moudle .all-loan em {
  font-family: "Arial";
}

.all-property {
  float: left;
  margin-top: 30px;
  width: 250px;
}

.all-property .big-num {
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial";
  padding-top: 6px;
}

.all-property-detail {
  float: left;
  margin-left: 20px;
}

.all-property-detail .ui-pt16 {
  padding-top: 16px;
}

.all-property-detail .nor-num {
  font-size: 18px;
  font-family: "Arial";
  padding-top: 8px;
  padding-bottom: 4px;
}

.user-earn-today {
  background-color: #f4faff;
  border: 1px solid #d3e5f4;
}

.invest-list-control {
  overflow: hidden;
}

.invest-list-control a {
  float: right;
  color: #b9b9b9;
  line-height: 64px;
  font-size: 12px;
  margin-left: 24px;
}

.invest-list-control a.on {
  color: #2c97f4;
}

.invest-list-control p {
  height: 64px;
  line-height: 64px;
  padding-left: 4px;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 14px;
}

.invest-list-control form {
  float: right;
}

.invest-list-control select {
  height: 30px;
  width: 110px;
  border: 1px solid #e2e3e4;
  border-radius: 5px;
  margin-left: 12px;
}

.invest-list-control .filter_time, .invest-list-control .filter_status {
  float: left;
  line-height: 64px;
  margin-left: 40px;
}

.invest-list tr {
  border-bottom: 1px solid #eee;
}

.invest-list tr.tr1 {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.invest-list td {
  text-align: center;
  height: 50px;
}

.invest-list th {
  text-align: center;
  height: 50px;
  background: #f6f6f6;
  font-weight: normal;
}

.invest-list .index-invest-name p {
  width: 134px;
  line-height: 50px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.investment-wrap {
  font-size: 14px;
}

.investment-wrap p {
  position: relative;
}

.investment-wrap .investment-volume-total {
  padding: 14px 0 20px 16px;
  border-top: 1px solid #eee;
}

.investment-wrap .investment-volume-total:first-child {
  border-top: 0;
}

.investment-wrap .investment-volume-total p {
  height: 24px;
  line-height: 24px;
}

.investment-wrap .investment-volume-total .ui-font-gray {
  padding-top: 10px;
}

.investment-wrap .investment-volume-total .ui-font-gray i {
  color: #474747;
}

.borrow-volume-total span {
  display: inline-block;
  line-height: 40px;
}

.invet-list-filter td {
  height: 70px;
}

.invet-list-filter .table-inside-btn a {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 2px;
}

.layer-title {
  border-left: 0;
}

.layer-title .border-blue {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
  height: 16px;
  border-left: 4px solid #2c97f4;
}

.user-myinvest-layer {
  padding: 30px;
}

.user-myinvest-layer .last-detail-tb {
  font-size: 12px;
}

.user-myinvest-layer .last-detail-tb td:first-child {
  text-align: center;
}

.user-myinvest-layer .last-detail-tb .num {
  font-family: "Arial";
  font-size: 18px;
}

/*# sourceMappingURL=user.css.map */