.ui-mt50{
	margin-top: 0 !important;
}
dl{
	margin:0;
}
.t_10 {
  transition: all 1s;
}
.display-block{
	display:block!important;
}
.contain_wrap {
	position:relative;
}
.arrow_blue {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -23px;
  background: url(../images/sprites/arrow_blue.png) no-repeat;
}
.arrow_gray {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 0;
  background: url(../images/sprites/arrow_gray.png) no-repeat;
}
.arrow_white {
  width: 36px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 0;
  background: url(../images/sprites/arrow_white.png) no-repeat;
}
.about-our-banner{
	height:90px;
	padding-top:310px;
	background:url("../images/about-our-banner.jpg") no-repeat center;
	a{
		display:block;
		width: 160px;
		height: 42x;
		line-height: 42px;
		text-align: center;
		margin:0 auto;
		color:#fff;
		border:1px solid #fff;
		border-radius:3px;
		font-size: 16px;
		&:hover{
			border:1px solid #12ffff;
			color:#12ffff;
		}
		&:active{
			color:#fff;
			border:1px solid #fff;
		}
	}
}
.about-our-top-links{
	width:100%;
	height:70px;
	background:#fff;
	z-index:10;
	ul{
		position:relative;
		height: 70px;
	}
	li{
		float:left;
		padding-left:33px;
		&:first-child{
			padding-left:0;
		}
		&:hover a,&.on a{
			color:#2c97f4;
		}
		&:active a{
			color:#b9b9b9;
		}
	}
	a{
		display:block;
		height:65px;
		line-height:70px;
		color: #b9b9b9;
		width: 90px;
		text-align:center;
		font-size:16px;

	}
	span{
		transition:all 0.25s;
		position:absolute;
		bottom:1px;
		left: 0px;
		display:block;
		width: 90px;
		height: 3px;
		background:#2c97f4;
		border-radius:3px;
	}
}
.fixed-top{
	// position:fixed;
	// top:0;
	// left:0;
	// width:100%;
	background:rgba(255,255,255,.8);
	a{
		color: #474747
	}
}
.about-our-synopsis{
	background:#f4f4f4;
	padding:86px 0;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0;
	}
	p{
		line-height: 36px;
		color:#474747;
		font-size:14px;
		margin-top:60px;
		text-indent: 30px;
	}
	.banner-slider{
		height: 253px;
		margin-top:10px;
		background:url("../images/about-our-synopsis-banner-slider.png") no-repeat center;
		

	}
}
//创始人介绍
.about-our-introduce{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#fff;
	
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0;
	}
	dl{
		margin-top:80px;
	}
	dd{
		height: 460px;
		width: 600px;
		float:left;
		&:first-child{
			border-right:1px solid #ccc;
			width: 599px;
		}
	}
	p{
		color: #474747;
		padding-left:40px;
		font-size:24px;
		margin-bottom:20px;
	}
	li{
		position:relative;
		padding-left:68px;
		width: 438px;
		color: #b9b9b9;
		font-size:14px;
		line-height: 30px;
		margin-bottom:10px;
		i{
			position:absolute;
			top: 12px;
			left: 42px;
			height: 6px;
			width: 6px;
			background:url("../images/sprites/index-icons.png") no-repeat;
			background-position:-126px 0;
		}
	}

}
//荣誉与资质
.about-our-honorary{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#f4f4f4;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 90px 0;
	}
	dl{
		margin-top: 34px;
	}
	dd{
		width: 330px;
		height: 276px;
		background: #fff;
		float: left;
		margin: 0 34px;
		text-align:center;
		border: 1px solid #e8e8e8;
	}
	p{
		margin-top:22px;
		color:#b9b9b9;
		font-size:16px;
	}
	img{
		margin-top:12px;
		border:1px solid #fdfdfd;
	}
	.more-box{
		display: none;
		p{
			font-size: 14px;
			padding:0 19px;
			margin-top:10px;
			line-height: 20px;
		}
	}
	.ui-btn {
	  margin: 30px auto 0;
	  height: 26px;
	  width: 104px;
	  line-height: 26px;
	}
}
//公司文化
.about-our-culture{
	.contain_wrap{
		position:relative;
		padding:86px 0 110px;
	}
	background:#fff;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 38px 0;
	}
	dd{
		padding-left:60px;
		width: 540px;
		float: left;
		.title{
			position:relative;
			font-size: 16px;
			color: #474747;
			margin-top:44px;
			i{
				position:absolute;
				top: 6px;
				left: -22px;
				height: 6px;
				width: 6px;
				background:url("../images/sprites/index-icons.png") no-repeat;
				background-position:-126px 0;
			}
		}
		.text{
			margin-top:6px;
			color: #b9b9b9;
			font-size:14px;
			line-height:30px;
			width: 420px;
		}
		img{
			margin-top:48px;
		}
	}
}
//专家顾问团
.about-our-expert{
	.contain_wrap{
		position:relative;
		padding:86px 0 140px;
	}
	background:#f4f4f4;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 56px 0;
	}
	li{
		margin-top: 66px;
		padding:30px 0 0 186px;
		position:relative;
		&:first-child{
			margin-top: 0;
		}
	}
	.title{
		position:relative;
		font-size: 16px;
		color: #474747;
		display: inline-block;
		padding-left:16px;
		margin-bottom: 14px;
		i{
			position:absolute;
			top: 6px;
			left: 0;
			height: 6px;
			width: 6px;
			background:url("../images/sprites/index-icons.png") no-repeat;
			background-position:-126px 0;
		}
	}
	.work{
		font-size: 16px;
		color: #474747;
	}
	.text{
		color: #b9b9b9;
		font-size:14px;
		line-height:30px;
	}
	.name{
		position:absolute;
		top:0;
		left:0;
		width:143px;
		text-align:center;
		color: #b9b9b9;
		font-size:16px;
	}
	.head{
		margin-bottom:20px;
		display: block;
		width:143px;
		height: 143px;
		background:url("../images/sprites/about-our-expert-head.png") no-repeat;
		&.head-2{
			background-position: -153px 0;
		}
		&.head-3{
			background-position: -306px 0;
		}
	}
}
//合作伙伴
.about-our-partner{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#fff;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 80px 0;
	}
	dd{
		float:left;
		width: 523px;
		margin:0 38px;
		background:#f9f9f9;
		height: 500px;
		&:first-child .top-bg{
			background-position: -533px 0;
		}
	}
	.title{
		padding: 16px 26px 10px;
		font-size: 16px;
		color: #474747;
	}
	.text{
		padding: 0 26px;
		color: #b9b9b9;
		font-size:14px;
		line-height:30px;
	}
	.top-bg{
		display: block;
		height: 134px;
		width: 100%;
		background:url("../images/sprites/about-our-partner-top-bg.png") no-repeat;

	}

}
//公司动态
.about-our-dynamic{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#f4f4f4;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 80px 0;
	}
	dd{
		position:relative;
		float: left;
		width: 599px;
		min-height: 1px;
		border-left:1px solid #e9e9e9;
		&:first-child{
			border-right:1px solid #e9e9e9;
			border-left:0;
		}
		&:hover{
			i{
				border:1px solid #b6dbfa;
				background-position: -50px 0;
			}
			.title{
				color: #2c97f4;
			}

		}
		&.last-one{
			height: 140px;
		}
	}
	.title{
		font-size: 16px;
		color: #474747;
	}
	.text{
		color: #b9b9b9;
		font-size:14px;
		line-height:30px;
	}
	.about-our-dynamic-icon{
		display: block;
		width: 40px;
		height:40px;
		position:absolute;
		top:-10px;
		border:1px solid #e9e9e9;
		border-radius:50%;
		background:#f4f4f4 url("../images/sprites/about-our-dynamic-icon.png") no-repeat;
	}
	.le{
		p{
			padding: 0 50px 0 20px;
		}
		i{
			right: -20px;
		}
	}
	.ri{
		p{
			padding: 0 20px 0 50px;
		}
		i{
			left: -22px;
		}
	}
	.ui-btn{
		margin:0 auto;
		height: 26px;
		width: 104px;
  		line-height: 26px;
	}
}
//数据报告
.about-our-data{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#fff;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 56px 0;
		padding-bottom:40px;
		border-bottom:1px solid #2c97f4;
		span{
			display: block;
			font-size:16px;
			margin-top:52px;
		}
	}
	dl{
		// margin-bottom:118px;
	}
	dd{
		float:left;
		height: 110px;
		border-left:1px solid #eeeeee;
		width: 239px;
		text-align:center;
		&:first-child{
			border-left:0;
		}
	}
	.title{
		color: #474747;
		font-size:14px;
		padding:22px 0 14px;
	}
	.data{
		color: #2c97f4;
		font-size:34px;
	}
	.ui-btn{
		width: 268px;
		height: 30px;
		line-height:30px;
		margin:0 85px;
		padding-right:20px;

	}
	.icon-download{
		position:relative;
		top:3px;
		right:-7px;
		display: inline-block;
		background: url("../images/sprites/icon-download.png") no-repeat;
		height: 15px;
		width: 13px;
	}
}
//媒体报道
.about-our-media{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#f4f4f4;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 46px 0;
	}
	dd{
		float:left;
		padding:0 45px;
	}
	.detailed{
		margin-top: 44px;
		position:relative;
		display:block;
		height: 120px;
		width: 430px;
		padding-left: 80px;
		&:hover{
			.day{
				color: #fff;
				background:#2c97f4;
			}
		}
	}
	.title{
		color: #474747;
		font-size:16px;
		margin-bottom: 10px;
	}
	.text{
		color: #b9b9b9;
		font-size:14px;
		line-height:30px;
	}
	.date{
		position:absolute;
		top:0;
		left:0;
		border:1px solid #fff;
		height: 118px;
		width: 58px;
		color: #b9b9b9;
		line-height: 58px;
		font-size:12px;
		text-align: center;
	}
	.day{
		color: #b9b9b9;
		background:#fff;
		font-size:24px;
		display: block;
		height: 58px;
		width: 58px;
		line-height: 58px;
		border-bottom:1px solid #fff;
	}
	.ui-btn{
		width: 104px;
		height: 26px;
		line-height:26px;
		margin-top: 54px;
	}
}
//加入我们
.about-our-joinin{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#fff;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 46px 0;
	}
	dd{
		float:left;
		height: 390px;
		width: 500px;
		margin:0 50px
	}
	.user-tabs{

		border-bottom:1px solid #e8e8e8;
		margin-bottom:16px;
	}
	.user-tabs-item{
		display: inline-block;
		color:#474747;
		font-size:16px;
		padding-bottom:8px;
		margin:0 12px 10px;
		border-bottom:2px solid #fff;
		&:hover{
			color:#2c97f4;
			border-bottom:2px solid #2c97f4;
		}
	}
	.user-tabs-active{
		color:#2c97f4;
		border-bottom:2px solid #2c97f4;
	}
	.user-account-moudle{
		padding:0 12px
	}
	.work-post{
		display: block;
		color: #b9b9b9;
		font-size:14px;
		height: 34px;
		line-height: 34px;
		border:1px solid #e8e8e8;
		border-radius:3px;
		padding-left:15px;
		margin-top: 6px;
		&:hover{
			color: #2c97f4;
			border:1px solid #2c97f4;
		}
	}
	.title{
		color: #474747;
		font-size:16px;
		margin-top: 44px;
	}
	.text{
		position:relative;
		color: #b9b9b9;
		font-size:14px;
		margin-top: 16px;
		padding-left:24px;
		i{
			position:absolute;
			top: 6px;
			left: 0;
			height: 6px;
			width: 6px;
			background:url("../images/sprites/index-icons.png") no-repeat;
			background-position:-126px 0;
		}
	}
	.ui-btn{
		width: 104px;
		height: 26px;
		line-height:26px;
		margin-top: 54px;
	}
}
//联系我们
.about-our-connection{
	.contain_wrap{
		position:relative;
		padding:86px 0;
	}
	background:#fff;
	padding-bottom:50px;
	h2{
		color: #474747;
		font-size:24px;
		text-align:center;
		margin:0 0 46px 0;
	}
	dd{
		float:left;
		width: 600px;
	}
	.ri{
		width: 460px;
		padding:0 84px 0 56px;
	}
	.top-text{
		color: #474747;
		font-size:16px;
	}
	.title{
		color: #474747;
		font-size:24px;
		margin-top:30px;
	}
	.text-li{
		position:relative;
		color: #b9b9b9;
		font-size:14px;
		padding-left:24px;
		margin-top: 16px;
		i{
			position:absolute;
			top: 6px;
			left: 0px;
			height: 6px;
			width: 6px;
			background:url("../images/sprites/index-icons.png") no-repeat;
			background-position:-126px 0;
		}
	}
	.text{
		color:#b9b9b9;
		font-size:14px;
		line-height: 30px;
		margin-top: 10px;
	}
	.a-mail{
		color:#2c97f4;
		font-size:14px;
	}
	.connection-map{
		position:relative;
		width: 580px;
		height: 480px;
		background:url("../images/about-our-connection-map.png") no-repeat;
		span{
		    position: absolute;
		    display: block;
		    width: 36px;
		    text-align: center;
		    height: 18px;
		    line-height: 18px;
		    background-color: #4e4e4e;
		    color: #fff;
		    border-radius: 5px;
		    font-size: 12px;
		    font-style: normal;
		    cursor: pointer;
		    p{ 
		    	display: none;
		    }
			i{
				content: "";
				position: absolute;
				display: block;
				background:url("../images/sprites/connection-map-angle.png") no-repeat;
			}
			&.bottom_angle{
				i{
					bottom: -3px;
					left: 16.5px;
					width: 6px;
					height: 3px;
					background-position: -16px 0;		
				}
				&:hover,&.on{
					i{
						background-position: 0 0;
					}
				}
			}
			&.right_angle{
				i{
					bottom: 6px;
					left: 36px;
					width: 3px;
					height: 6px;
					background-position: -71px 0;
				}
				&:hover,&.on{
					i{
						background-position: -58px 0;
					}
				}
			}
			&.left_angle{
				i{
					bottom: 6px;
					right: 36px;
					width: 3px;
					height: 6px;
					background-position: -45px 0;
				}
				&:hover,&.on{
					i{
						background-position: -32px 0;
						
					}
				}
			}
			&:hover,&.on{
				background-color: #2c97f4;
			}
		}
		.span1 {
			top: 149px;
			left: 414px;
		}
		.span2 {
			top: 151px;
			left: 474.5px;
		}
		.span3 {
			top: 239px;
			left: 335px;
		}
		.span4 {
			top: 248px;
			left: 379px;
		}
		.span5 {
			top: 228px;
			left: 404px;
		}
		.span6 {
			top: 242px;
			left: 455px;
		}
		.span7 {
			top: 266px;
			left: 490px;
		}
		.span8 {
			top: 282px;
			left: 362px;
		}
		.span9 {
			top: 317px;
			left: 424px;
		}
		.span10 {
			top: 326px;
			left: 469px;
		}
		.span11 {
			top: 360px;
			left: 457px;
		}
		.span12 {
			top: 378px;
			left: 426px;
		}
		.span13 {
			top: 194px;
			left: 363px;
		}
		.span14 {
			top: 262px;
			left: 428px;
		}
		.span15 {
			top: 117px;
			left: 485px;
		}
		.span16 {
			top: 199px;
			left: 442px;
		}
		.span17 {
			top: 216px;
			left: 482px;
		}
		.span18 {
			top: 155px;
			left: 352px;
		}
	}
	.mouseover_area {
		position: absolute;
		top: 107px;
		right: 44px;
		height: 302px;
		width: 211px;
	}
	.adress_show {
		position: absolute;
		top: 23px;
		left: 204px;
		padding: 11px 14px 14px 13px;
		background-color: #2c97f4;
		i{
			position: absolute;
			bottom: -16px;
			right: 0px;
			display: block;
			border: 16px solid transparent;
			border-right-color: #2c97f4;
		}
		p {
			position: relative;
			width: 182px;
			height: 32px;
			padding-left: 20px;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				width: 11px;
				height: 19px;
				background-repeat: no-repeat;
				background:url("../images/sprites/connection-map-adress-show.png") no-repeat;
			}
		}
		.p1 {
			padding-bottom: 9px;
			border-bottom: 1px solid #fff;
			color: #fff;
			font-size: 16px;
			&:before {
				
			}
		}
		.p2 {
			margin-top: 9px;
			color: #fff;
			font-size: 12px;
			line-height: 16px;
		&:before {
				 background-position: -21px 0;
			}
		}
	}
}
.help-center{
	padding-bottom:70px;
	.banner-help-center{
		height:400px;
		background:#2c97f5 url("../images/banner-help-center.jpg") no-repeat center;
	}
}
.help-center-box{
	background:#fff;
	padding:30px 30px 50px 30px;
	margin-top:24px;
	border:1px solid #eee;
	border-radius:3px;
	h2{
		position:relative;
		color:#474747;
		font-size:18px;
		padding: 0 0 30px 12px;
		border-bottom:1px solid #eee;
		margin:0;
		i{
			position:absolute;
			top: 0;
			left: 0;
			width: 4px;
			height: 16px;
			background:#399df5;
		}
	}
	dl{
		margin:30px 0 0 0;
	}
	dd{
		float:left;
		width: 284px;
	}
	.help-center-ul{
		position:relative;
		li{
			position:relative;
			padding-left:20px;
			margin-top:16px;
		}
		i{
			position:absolute;
			top: 5px;
			left:0;
			display:block;
			width: 6px;
			height: 6px;
			background:url("../images/icon-list-style.png") no-repeat;
		}
	}
	a{
		color: #474747;
		font-size:14px;
		&:hover{
			color: #2c97f4;
		}
		&:active{
			color: #474747;
		}
	}
}
.help-center-box-1{
	a{
		color: #b9b9b9;
		font-size:14px;
		&:active{
			color: #b9b9b9;
		}
	}
}
.help-center-box-2{
	ul{
	    margin-top: 30px;
	}
	li{
		position:relative;
		float:left;
		margin:0 37px;
	}
	a{
		display:block;
		width: 88px;
		height: 14px;
		margin-bottom:10px;
		background:url("../images/sprites/icon-help-center.png") no-repeat;
		text-align: center;
		color: #474747;
		font-size:14px;
		line-height: 24px;
		padding-top:100px;
		&:hover{
			color: #3f9ef5;
			background:url("../images/sprites/icon-help-center-hover.png") no-repeat;
		}
		&:active{
			color: #474747;
			background:url("../images/sprites/icon-help-center.png") no-repeat;
		}
		&.icon-help-center-2:hover,&.icon-help-center-2{
			background-position:-98px 0;
		}
		&.icon-help-center-3:hover,&.icon-help-center-3{
			background-position:-196px 0;
		}
		&.icon-help-center-4:hover,&.icon-help-center-4{
			background-position:-294px 0;
		}
		&.icon-help-center-5:hover,&.icon-help-center-5{
			background-position:-392px 0;
		}
		&.icon-help-center-6:hover,&.icon-help-center-6{
			background-position:-490px 0;
		}
		&.icon-help-center-7:hover,&.icon-help-center-7{
			background-position:-588px 0;
		}
	}

}
.help-center-box-3{
	dd{
		width: 379px;
	}
}
//加入我们
.join-our{
	.contain_wrap{
		background:#fff url("../images/join-our.png") no-repeat;
		background-position:690px 310px;
		border:1px solid #eeeeee;
		border-radius:3px;
		margin:56px auto;
		padding:40px 0 80px 0;
		position:relative;
	}
	.step-links{
		padding-left:40px;
		a{
			color: #a6a6a6;
			font-size:12px;
			&:first-child{
				color: #58a7f5;
			}
		}
	}
	h2{
		margin: 26px 0 0 0;
		position:relative;
		font-size:18px;
		color:#474747;
		padding:0 0 20px 50px;
		border-bottom:1px solid #eeeeee;
		i{
			position:absolute;
			top: 0;
			left:40px;
			height: 20px;
			width: 4px;
			background:#399df5;
		}
	}
	h3{
		position:relative;
		padding-left:90px;
		margin: 46px 0 0 0;
		font-size:16px;
		color:#2c97f4;
		i{
			position:absolute;
			top: 0;
			left:54px;
			width: 14px;
			height: 14px;
			background:url("../images/sprites/icon-list-style-2.png") no-repeat;
		}
	}
	.p1{
		
		padding-left:90px;
		margin-top: 18px;
		font-size:14px;
		color:#474747;
	}
	.p2{
		width: 560px;
		line-height: 30px;
		padding-left:90px;
		margin-top: 18px;
		font-size:14px;
		color:#b9b9b9;
	}
	.right-box{
		position:absolute;
		top: 166px;
		right: 40px;
		width: 350px;
		p{
			color: #b9b9b9;
			font-size:14px;
			margin-bottom:25px;
		}
		a{
			color: #2c97f4;
			font-size:14px;
		}
	}
}
// 媒体中心
.step-links{
	padding-left:16px;
	a{
		color: #a6a6a6;
		font-size:12px;
		&:first-child{
			color: #58a7f5;
		}
	}
}
.page-list{
	margin-top:12px;
	text-align:center;
	a,span,{
		display: inline-block;
		height: 24px;
		line-height: 24px;
		width: 24px;
		background:#eeeeee;
		color: #919191;
		border-radius:3px;
		&:hover,&.on{
			background:#2c97f4;
			color: #fff;
		}
		&:active{
			background:#eeeeee;
			color: #919191;
		}
	}
	span{
		margin:0 10px;
		cursor:pointer;
	}

}
.media-coverage-list{
	.contain_wrap{
		border:1px solid #eeeeee;
		border-radius:3px;
		background: #fff;
		margin:56px auto;
		width: 1152px;
		padding:40px 24px 46px;
	}
	h2{
		margin: 26px 0 0 0;
		position:relative;
		font-size:18px;
		color:#474747;
		padding:0 0 20px 26px;
		border-bottom:1px solid #eeeeee;
		i{
			position:absolute;
			top: 0;
			left:14px;
			height: 20px;
			width: 4px;
			background:#399df5;
		}
	}
}
.media-coverage-list-ul{
	margin-top: 44px;
	li{
		position:relative;
		padding-left:120px;
		span{
			position:absolute;
			top: 0;
			left:14px;
			color: #b9b9b9;
			font-size:12px;
		}
	}	
	div{
		position:relative;
		padding:0 0 30px 44px;
		border-left:1px solid #eee;
	}
	a{
		font-size:16x;
		color:#2c97f4;
	}
	p{
		margin-top: 10px;
		font-size:14x;
		color:#b9b9b9;
		line-height:24px;
		padding-right:40px;
	}
	i{
		position:absolute;
		top: 0;
		left: -8px;
		height: 14px;
		width: 14px;
		background:url("../images/sprites/icon-list-style-2.png") no-repeat left;
	}
}
// app下载页面
.phone-app{
	dd{
		position:relative;
		float:left;
		width: 600px;
		height:400px;
	}
}
.phone-app-1{
	height:400px;
	background:#2d98f4;
	.le{
		background:url("../images/phone-app-1.png") no-repeat;
		background-position:100px 50px;
	}
	p{
		color: #fff;
		font-size: 60px;
		padding: 100px 0 15px;
		margin-left: 10px;
		width: 530px;
		border-bottom:1px solid #40a1f4;
	}
	ul{
		margin:22px 0 26px;
	}
	li{
		color: #fff;
		font-size: 28px;
		float: left;
		height: 32px;
		line-height: 32px;
		padding-left:22px;
		margin-left:22px;
		border-left:2px solid #a1d3fe;
		&:first-child{
			padding-left:10px;
			margin-left:0;
			border-left:0
		}
	}
	a{
		position:relative;
		float: left;
		display: inline-block;
		width: 111px;
		background:#39b7f7;
		border:1px solid #58ffff;
		border-radius:3px;
		padding:5px 10px 5px 60px;
		color: #fff;
		font-size: 16px;
		line-height: 20px;
		margin-left: 20px;
			&:first-child{
				margin-left: 6px;
			}
		span{
			color: #fff;
			font-size: 12px;
		}
		&.ios{
			i{
				margin:11px auto;
				display: block;
				width: 24px; 
				height: 29px;
				background: url("../images/sprites/icon-ios-android.png") no-repeat;
			}
		}
		&.android{
			i{
				margin:8px auto;
				display: block;
				width: 31px; 
				height: 36px; 
				background: url("../images/sprites/icon-ios-android.png") no-repeat;
				background-position: -34px 0;
			}
		}
		em{
			border-radius:3px 0 0 3px;
			position:absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50px;
		}
	}
	.code{
		position:absolute;
		bottom:80px;
		right: 56px;
		width: 110px;
		height: 110px;
		border-radius:3px;
		background: #fff url("../images/black-code.png") no-repeat center;
	}
}
.phone-app-same{
	height:500px;

	p{
		color: #474747;
		font-size: 24px;
		margin: 166px 0 40px 160px;
	}
	li{
		height:16px;
		line-height: 16px;
		color: #b9b9b9;
		font-size: 14px;
		padding-left:20px;
		margin: 0 0 20px 160px;
		background:url("../images/icon-list-style.png") no-repeat left center;
	}
}
.phone-app-2{	
	dd{
		height:500px;
	}
	background:#f4f4f4;
	.ri{
		background:url("../images/phone-app-2.png") no-repeat;
		background-position: 50px bottom;
	}
}
.phone-app-3{
	dd{
		height:500px;
	}
	background:#ffffff;
	.le{
		background:url("../images/phone-app-3.png") no-repeat;
		background-position: 150px bottom;
	}
}
.phone-app-4{
	dd{
		height:500px;
	}
	background:#f4f4f4;
	.ri{
		background:url("../images/phone-app-4.png") no-repeat;
		background-position: 50px bottom;
	}
}
.phone-app-5{
	.links{
		position:relative;
	}
	background:#ffffff;
	padding-bottom:140px;
	a{
		position:relative;
		display: block;
		width: 160px;
		padding:10px 0 10px 86px;
		margin-top: 26px;
		margin-left: 410px;
		font-size: 16px;
		color: #fff;
		line-height: 20px;
		border-radius:3px;
		&:first-child{
			margin-top: 160px;
		}
		&.ios{
			background:#2c97f4;
			em{
				background:#1d8ae8;

			}
			i{
				margin:15px auto;
				display: block;
				width: 24px; 
				height: 29px;
				background: url("../images/sprites/icon-ios-android.png") no-repeat;
			}
		}
		&.android{
			background:#74ca98;
			em{
				background:#5fb483;
			}
			i{
				margin:12px auto;
				display: block;
				width: 31px; 
				height: 36px; 
				background: url("../images/sprites/icon-ios-android.png") no-repeat;
				background-position: -34px 0;
			}
		}
		span{
			display: block;
			color: #fff;
			font-size: 12px;
		}
		em{
			border-radius:3px 0 0 3px;
			position:absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 66px;
		}
	}
	.code{
		position:absolute;
		bottom:0px;
		right: 380px;
		width: 146px;
		height: 146px;
		background: #f4f4f4 url("../images/black-code.png") no-repeat center;
	}
}
// 安全中心页面
.banner-safety-center{
	.contain_wrap{
		height:400px;
	}
	background:url("../images/banner-safety-center.png") no-repeat center;
}
.safety-center{
	h2{
		font-weight: normal;
		text-align: center;
		font-size: 24px;
		color: #474747;
		margin:0 0 60px 0;
		padding:84px 0 0;
	}
	.p1{
		padding-left:40px;
		font-size: 24px;
		color:#474747;
	}
	.p2{
		padding-left:40px;
		font-size: 16px;
		color:#474747;
	}
	.p3{
		padding-left:40px;
		font-size: 14px;
		color:#b9b9b9;
		line-height: 30px;
	}
	dl{
		width: 100%;
	}
	dd{
		width: 50%;
		float: left;
	}
	li{
		position:relative;
		font-size:14px;
		color:#b9b9b9;
		height: 16px;
		line-height: 16px;
		margin-bottom: 16px;
		padding-left:66px;
		i{
			position:absolute;
			display: block;
			top: 0px;
			left: 40px;
			height: 16px;
			width: 16px;
			background:url("../images/sprites/icon-list-style.png") no-repeat center;
		}
	}
	.style-1 i{
			background:url("../images/sprites/icon-green-right.png") no-repeat;
	}
}
.safety-center-grade{
	
	img{
		margin-bottom:85px;
	}
}
.safety-center-safe{
	.p1{
		margin-bottom:18px
	}
	.p2{
		margin-bottom:16px
	}
	.p3{
		margin-bottom:56px
	}
}
.safety-center-manage{
	padding:0 0 84px;
	.p1{
		margin:20px 0 20px
	}
	.p2{
		margin-bottom:16px
	}
	.p3{
		margin-bottom:20px
	}
	.ri{
		padding-top:80px;
	}
	.le img{
		margin-left: 40px;
	}
}
.safety-center-score{
	padding:0 0 84px;
	ul{
		padding-top:94px;
	}
}
.safety-center-safeguard{
	padding:0 0 84px;
	a{
		color:#2c97f4;
	}
	img{
		margin-top:150px;
	}
	.p1{
		margin-bottom:20px;
		width: 470px;
	}
	.p3{
		text-align: left;
		width: 470px;
	}

	ul{
		margin-top:10px;
		text-align: left;
	}
}
// vip页面

.vip-privilege{
	padding-bottom:100px;
}
.vip-box-system{
	float:left;
	width:770px;
	height:450px;
  h2{
  	margin:40px 0 10px;
  	font-size: 16px;
  	padding-bottom: 30px;
  }
}
.vip-box-system-main{
	position:relative;
	height:350px;
	background: url(../images/vip-box-system-main-bg.png) no-repeat bottom right;
}
.vip-box-system-checking{
		display: none;
		text-align: center;
		width: 400px;
		padding:24px 0 28px;
		background:#f6f6f6;
		font-size: 14px;
		color: #474747;
		a{
			color:#2e9bf4;
		}
	}
.vip-box-system-checking-p2{
			margin-top: 16px;
			color: #b9b9b9;
		}
.vip-box-system-checkedbox{
		position:absolute;
		top:0;
		left:0;
		display:none;
		text-align: left;
		width: 400px;
		padding:24px 15px;
		background:#f6f6f6;
		font-size: 14px;
		color: #474747;
		.p1{
			font-size: 14px;
			padding-bottom:10px;
			border-bottom:1px dashed #ccc;
		}
		.p2,.p3,.p4{
			font-size: 12px;
			margin-top: 10px;
		}
		.p3{
			height: 22px;
			line-height: 22px;
		}
		.p4{
			color:#b9b9b9;
			font-size: 12px;
			padding-left:70px;
		}
		.color-blue{
			color: #2e9bf4
		}
		.color-red{
			color: #fc8478
		}
		.p3{
			position:relative;
		}
		.groess-bar-bg{
			position:absolute;
			top: 0;
			left: 67px;
			display: inline-block;
			width: 250px;
			height: 22px;
			background:#c7c7c7;
		}
		.groess-bar{
			position:absolute;
			top: 0;
			left: 0;
			display: inline-block;
			height: 22px;
			background:#fc8478;
			z-index: 9;
		}
		.groess-text{
			position:absolute;
			top: 0;
			left: 67px;
			display: inline-block;
			width: 250px;
			height: 22px;
			line-height: 22px;
			text-align: center;
			color:#fff;
			z-index: 10;
		}
}
.vip-privilege{
	h2{
		padding-left:10px;
		font-size:16px;
		color: #474747;
		margin:90px 0 30px;
		a{
			color: #2e9bf4;
			font-size: 14px;
			&:hover{
				text-decoration: underline;
			}
			&:active{
				text-decoration: none;
			}
		}

	}
	table{
		border:1px solid #eeeeee
	}
	th{
		background:#f6f6f6;
		font-weight: bold;
		line-height: 20px;
		padding:4px 0;
	}
	th,td{
		text-align: center;
		height: 36px;
		border:1px solid #eeeeee;
		color: #474747;
		line-height: 20px;
	}
	.differ-td{
		background:#f8fbff;
		text-align: left;
		padding:4px 30px;

	}
	.differ-th{
		color: #fc8478
	}
	p{
		padding-left:10px;
		margin-top: 20px;
		font-size: 12px;
		color: #b9b9b9;
		line-height: 24px;
	}
	span{
		color: #474747;
	}
	.vip-links{
		color:#2e9bf4;
		&:hover{
			text-decoration: underline;
		}
		&:active{
			text-decoration: none;
		}
	}
}
.banner-vip{
	background:url("../images/banner-vip.jpg") no-repeat center;
	height:400px;
	.contain_wrap{
		position:relative;
		height:400px;
	}
	.banner-vip-a{
		position:absolute;
		bottom:92px;
		left:244px;
		display: block;
		height: 38px;
		width: 120px;
		font-size: 14px;
		text-align: center;
		line-height: 38px;
		color: #fff;
		background:#ff8400;
		border-radius:3px;
		&:hover{
			background:#ffa331;
		}
		&:active{
			background:#ff8400;
		}
	}
}	
.vip-box-system-main-data{
		position:absolute;
		bottom:0;
		right: 0;
		height:263px;
		width: 769px;
		li{
			position:absolute;
			width: 61px;
			height: 19px;
			text-align: center;
			line-height: 19px;
			color: #fff;
			background-color:#76ca98;
			border-radius:3px;
			i{
				display: inline-block;
				width:8px;
				height:4px;
				position:absolute;
				bottom:-3px;
				left:50%;
				margin-left:-4px;
				background:url("../images/sprites/triangle-green-bottom.png") no-repeat center;
			}
			&.on{
				background-color:#fc8478;
				i{
					background:url("../images/sprites/triangle-red-bottom.png") no-repeat center;
				}
			}
		}
	}
.vip-box-system-main-data-1{
			bottom:74px;
			left: 20px;
			}
.vip-box-system-main-data-2{
			bottom: 88px;
			left: 114px;
			}
.vip-box-system-main-data-3{
			bottom: 100px;
			left: 208px;
			}
.vip-box-system-main-data-4{
			bottom: 112px;
  			left: 301px;
			}
.vip-box-system-main-data-5{
			bottom: 124px;
			left: 395px;
			}
.vip-box-system-main-data-6{
			bottom: 162px;
			left: 489px;
			}
.vip-box-system-main-data-7{
			bottom: 202px;
			left: 583px;
			}
.vip-box-system-main-data-8{
			bottom: 262px;
			left: 677px;
			}
.vip-box-newguy{
	height:450px;
	float:right;
	width:360px;
  h2{
  	font-size: 16px;
  	margin:40px 0 10px;
  	padding-bottom: 30px;
  }
  .newguy-list-box{
  	overflow:hidden;
  	height:280px;
  	border-top:2px solid #eeeeee;
  }
  li{
  	color:#b9b9b9;
  	font-size: 14px;
  	line-height: 36px;
  	padding-left:20px;
  }
  .user-level{
  	position:static;
  }
	.newguy-data{
		margin-bottom: 20px;
	  dd{
	  	float:left;
	  	&:first-child{
	  		padding-right:30px;
	  	}
	  }
	}
  .icon-vip{
  	float:left;
  	display: inline-block;
  	height:48px;
  	width:48px;
  	background: url(../images/sprites/vip-box-newguy-data.png) no-repeat;
  	&.icon-vip-two{
  		background-position:-58px 0;
  	}
  }
  .text{
  	padding-left:60px;
  	font-size:12px;
  	line-height: 22px;
  	span{
		font-size:24px;
		font-weight:bold;
  	}
  	i{
  		font-size:12px;
  	}
  }
}
.buy-vip-layer{
	.text-wrap{
		padding:10px 0;
	}
	.item-recharge{
		overflow: hidden;
		.title{
			float: left;
		}
		.content{
			font-size: 14px;
			color: #2c97f4;
			float: right;
		}
		.btn-recharge{
			font-size: 12px;
			border:1px solid #2c97f4;
			border-radius:3px;
			padding:0 3px;
			margin-left: 8px;
		}
	}
	.pack-list{
		overflow: hidden;
		padding-bottom: 20px;
		li{
			width: 116px;
			height: 40px;
			cursor: pointer;
			text-align:center;
			line-height: 40px;
			border:1px solid #ddd;
			margin: 5px 0;
			position: relative;
			&.selected{
				border-color:#2c97f4;
				color: #2c97f4;
			}
			.icon-selected-big{
				position: absolute;
			    bottom: 0;
			    right: 0;
			    width: 23px;
			    height: 23px;
			    background: url(../images/sprites/big-selected.png) no-repeat;
			}
		}
	}
}
//帮助中心列表页
.help-center-list{
	padding:30px 0 40px;
	background:#fff;
	border-top:1px solid #eeeeee;
	h3,dl{
		margin:0;
	}
	.le{
		float:left;
		width:220px;
		background:#f6f6f6;
		border-bottom:1px solid #eeeeee;
		.title{
			position:relative;
			height:76px;
			line-height:76px;
			padding-left:66px;
			font-size:18px;
			color:#474747;
			border:1px solid #eeeeee;
			border-bottom:0px;
		}
		div{
			margin-bottom:20px;
		}
	}
	.ri{
		min-height:600px;
		float:left;
		width:898px;
		margin-left: -1px;
		padding:30px 40px 30px;
		border:1px solid #eeeeee;
		border-bottom:1px solid #eeeeee;
		.top-title{
			color: #2c97f4;
			font-size:16px;
			border-left:4px solid #399df5;
			padding-left:10px;
			margin:0 0 24px 20px;
		}
	}
	.user-tabs-item{
		display:block;
		position:relative;
		border-top:1px solid #f6f6f6;
		border-right:1px solid #eeeeee;
		border-bottom:1px solid #f6f6f6;
		border-left:2px solid #eeeeee;
		height:58px;
		line-height: 58px;
		padding-left:66px;
		color: #474747;
		font-size:14px;
		&:hover,&.user-tabs-active{
			font-weight:bold;
			background:#fff;
			border-top:1px solid #eeeeee;
			border-right:1px solid #fff;
			border-bottom:1px solid #eeeeee;
			border-left:2px solid #2c97f4;
		}
	}
	.ul-list{
		border:1px solid #f6f6f6;
		background:#f6f6f6;
		margin-top:12px;
		border-radius:4px;

		&:hover{
			.title{
				color: #399df5;
			}
		}
		.title{
			transition:all 0.8s;
			position:relative;
			height:40px;
			padding:0 20px;
			line-height: 40px;
			cursor: pointer;
			font-weight:bold;
			border-radius:4px;
		}
		&.on{
			.title{
				color: #fff;
				background:#2c97f4;
				border-top:1px solid #2c97f4;
			}
			.help-center-list-icon{
				background-position: -22px 0;
			}
		}
	}
	.ul-list-hide{
		display:none;
		padding:14px 20px;
		background: #fff;
		li{
			// list-style-type:decimal;
			// list-style-position:inside;
			color: #474747;
			font-size:12px;
			line-height: 30px;

		}
	}
}
//法律法规列表页
.laws-and-regulations-list{
	padding:30px 0 120px;
	background:#fff;
	border-top:1px solid #eeeeee;
	h3,dl{
		margin:0;
	}
	.le{
		float:left;
		width:220px;
		background:#f6f6f6;
		border-bottom:1px solid #eeeeee;
		.title{
			position:relative;
			height:76px;
			line-height:76px;
			padding-left:66px;
			font-size:18px;
			color:#474747;
			border:1px solid #eeeeee;
			border-bottom:0px;
		}

	}
	.ri{
		min-height:436px;
		float:left;
		width:898px;
		margin-left: -1px;
		padding:30px 40px 30px;
		border:1px solid #eeeeee;
		h3{
			font-size:18px;
			color:#474747;
			padding:20px 0;
			text-align:center;
			font-weight:bold;
			border-bottom:1px solid #eeeeee;
			margin-bottom:30px;
		}
		.title{
			padding:0 50px;
			color: #474747;
			font-size:14px;
			font-weight:bold;
			line-height:30px;
		}
		.text{
			padding:0 50px;
			color: #474747;
			font-size:14px;
			text-indent: 26px;
			line-height:30px;
		}
		.date{
			padding:0 50px;
			color: #474747;
			font-size:14px;
			text-align:right;
			line-height:30px;
		}
		img{
			display:block;
			margin:20px auto;
		}
		table{
			margin-left:80px;
			border: 1px solid #000;
			text-align: center;
		}
		td {
			height:20px;
			border: 1px solid #000;
		}
	}
	.user-tabs-item{
		display:block;
		position:relative;
		border-top:1px solid #f6f6f6;
		border-right:1px solid #eeeeee;
		border-bottom:1px solid #f6f6f6;
		border-left:2px solid #eeeeee;
		height:58px;
		line-height: 58px;
		padding-left:66px;
		color: #474747;
		font-size:14px;
		&:hover,&.user-tabs-active{
			font-weight:bold;
			background:#fff;
			border-top:1px solid #eeeeee;
			border-right:1px solid #fff;
			border-bottom:1px solid #eeeeee;
			border-left:2px solid #2c97f4;
		}
	}
}

.help-center-list-icon{
	display:inline-block;
	position:absolute;
	top:50%;
	right:20px;
	margin-top:-3px;
	width:12px;
	height:6px;
	background:url("../images/sprites/help-center-list-icon.png") no-repeat;
}
.ui-arrow {
  position: absolute;
  width: 6px;
  height: 12px;
  background: url(../images/sprites/user-arrow-right.png) no-repeat;
  right: 38px;
  top: 20px;
}
.icon-question-mark-blue{
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/sprites/icon-question-mark-blue.png) no-repeat;
  left: 40px;
  top: 50%;
  margin-top:-10px;
}
// 0721
.banner-recommend-reward{
	height:400px;
	background:url("../images/banner-recommend-reward.png") no-repeat center;
}
.border1{
	border:1px solid #efefef;
	border-radius:3px;
}
.ui-btn-pink {
  background-color: #fb8577;
  &:hover{
    background-color: #ffa393;
  }
  &:active{
    background-color: #fb8577;
  }
}
.recommend-reward{
	padding:40px 0 60px;
//第一部分
	.top-step{
		margin:0;
		height:82px;
		background: url(../images/recommend-reward-top-step.png) no-repeat;
		dd{
			height:82px;
			float:left;
			width:400px;
			text-align: center;
		}
		p{
			color:#474747;
			font-size:16px;
			margin-top: 15px;
			height:50px;
			line-height:50px;
			display: inline-block;
		}
		span{
			float:left;
			display: inline-block;
			height:50px;
			line-height:50px;
			width:50px;
			border-radius:50%;
			background:#2c97f4;
			color:#fff;
			font-size:24px;
			margin-right:20px;
		}
		i{

		}
	}
//中间部分
	.mid-box{
		margin-top:40px;
		dd{
			float:right;
			width:320px;
			height:450px;
			&:first-child{
				float:left;
				width:830px;
				height:auto;
			}
		}
		// .generate-box{
		// 	padding:31px 0;
		// 	input{
		// 		float:left;
		// 		width:490px;
		// 		height:36px;
		// 		padding-left:10px;
		// 		margin-left:21px;
		// 		color: #b9b9b9;
		// 	}
		// 	a{
		// 		float:left;
		// 		width:96px;
		// 		height:28px;
		// 		line-height: 28px;
		// 		margin: 0 0 0 30px;
		// 	}
		// }
		.recommend-style-ul{
			width:100%;
			padding:40px 0;
		}
		.bdshare-button-style0-32 {
			zoom: 1;
			a{
			float: left;
			text-align: center;
			display: block;
			padding-top:46px;
			height: 50px;
			width: 90px;
			margin-left: 10px;
			margin-right: 20px;
			&:hover{
				text-decoration: underline;
			}
			background: url(../images/sprites/recommend-style-icon.png) no-repeat;
				&.bds_weixin{
					background-position: 20px 0;
				}
				&.bds_tsina{
					background-position: -122px 0; 
				}
				&.bds_tqq{
					background-position: -264px 0;  
				}
				&.bds_qzone{
					background-position: -404px 0; 
				}
				&.bds_sqq{
					background-position: -540px 0; 
				}
				&.bds_copy{
					background-position: -680px 0; 
				}
			}
		}
		.title{
			padding:34px 0 26px 9px;
			color:#474747;
			font-size:16px;
			border-bottom:1px solid #efefef;
		}
		.ri-title{
			color:#474747;
			font-size:16px;	
			background:#f9f9f9;
			height:58px;
			line-height: 58px;
			padding-left:14px;
			border-bottom:1px solid #efefef;
		}
		.mid-box-img{
			display: block;
			margin:40px auto;
		}
		.text-sliderdown-wrap{
 			overflow: hidden;
 			height:374px;
		}
		.text-sliderdown-box{
			padding:18px 0 0 16px;
			li{
				color: #b9b9b9;
				font-size:14px;
				height: 30px;
				line-height: 30px;
			}
		}
	}
//底部部分
	.bottom-box{
		.title{
			color:#474747;
			font-size:16px;
			padding:0 0 11px 9px;
			border-bottom:1px solid #efefef;
		}
		.text{
			padding:20px 0 0 9px;
			color:#b9b9b9;
			font-size:14px;
			line-height: 30px;
			i{
				display: inline-block;
				width: 24px;
			}
		}

	}
}
	// 推荐弹出框
.recommend-layer-content{
	width:467px;
	margin:10px auto;
	.textwrap{
		overflow: hidden;
		border:1px solid #ddd;
		border-radius:2px;
		margin:20px 0;
	}
	.texthead{
		text-align: center;
	    background: #f3f3f3;
	    height: 30px;
	    line-height: 30px;
	    font-size: 14px;
	    color: #333;
	    border-bottom: 1px solid #e0e0e0;
	}
	textarea{
		border:0;
		padding: 10px 10px 12px;
	    line-height: 24px;
	    resize: none;
	    outline: 0;
	}
	.btn-copy{
		text-align: center;
	}
	.ui-btn{
		font-size: 14px;
	}
}
//实时财务数据页面
.true-time-financial-data{
	padding:30px 0;
	.contain_wrap{
		border:1px solid #eee;
	}
}
.true-time-financial-data-box{
	position:relative;
	
	height:800px;
	background:#fff url(../images/true-time-financial-data.png) no-repeat center;
	.top-title{
		color: #474747;
		font-size: 18px;
		padding:24px 0 0 10px;
		height:20px;
		line-height:20px;
		margin-left:28px;
		span{
			font-size: 14px;
		}
	}
	.min-box{
		text-align:center;
		width:600px;
		margin-left: -300px;
		position:absolute;
		top: 242px;
		left: 50%;
	}
	.min-title{
		color: #474747;
		font-size: 16px;
	}
	.min-data{	
		margin-top:16px;
		.min-data-box{
			display: inline-block;
			color: #ffffff;
			font-size: 66px;
			padding:10px 18px;
			background:#2c97f4;
			border-radius:10px;
			box-shadow:0 3px #dad9d9;
		}
	}
	.min-about{
		margin-top:20px;
		color: #2c97f4;
		font-size: 30px;	
	}
	.around-data{
		width:300px;
		text-align:center;
		font-size: 14px;
		span{
			margin-bottom:10px;
			display: block;
			color: #474747;
			font-size: 25px;
		}
	}
	.data1{
		padding: 200px 0 0 776px;
	}
	.data2{
		padding: 4px 0 0 50px;
	}
	.data3{
		padding: 96px 0 0 868px;
	}
	.data4{
		padding: 13px 0 0 120px;
	}
	.data5{
		padding: 74px 0 0 525px;

	}
}
//数字跳转
.odometer{
	&.odometer-auto-theme{
		.odometer-digit{
			display: -moz-inline-box;
			-moz-box-orient: vertical;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			position: relative;
			.odometer-digit-spacer{
				display: -moz-inline-box;
				-moz-box-orient: vertical;
				display: inline-block;
				vertical-align: middle;
				*vertical-align: auto;
				visibility: hidden;
			}
			.odometer-digit-inner{
				text-align: left;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
			}
			.odometer-ribbon-inner{
				display: block;
  				-webkit-backface-visibility: hidden;
			}
			.odometer-value{
				&.odometer-last-value{
					position: absolute;
				}
			}
		}
		&.odometer-animating-up{
			&.odometer-animating{
				.odometer-ribbon-inner{
					transform: translateY(-100%);
				}	
			}
			.odometer-ribbon-inner{
				transition: transform 1s;	
				transition-timing-function: linear;
			}
		}
		&.odometer-animating-down{
			.odometer-ribbon-inner{
				transform: translateY(-100%);
			}
			&.odometer-animating{
				.odometer-ribbon-inner{
					transition: transform 1s;
  					transform: translateY(0);
					transition-timing-function: linear;
				}
			}	
		}
	}
}
//信用宝信用等级（评分）系统
.score-system{
	font-family: Microsoft YaHei LIGHT;
	.score-system-one{
		height:590px;
		background: url(../images/score-system-one-bg.png) no-repeat center;
		.title{
			font-size:54px;
			color:#fff;
			padding-top:374px;
			text-align:center;
		}
		.subheading{
			font-size:32px;
			color:#fff;
			text-align:center;
			margin-top: 30px;	
		}
	}
	.score-system-two{
		height:590px;
		background:#fff;
		dd{
			float:left;
			padding-left:30px;
		}
		.subheading{
			padding-top:144px;
			color: #474747;
			font-size:30px;
		}
		.text{
			padding-top:40px;
			color: #474747;
			font-size:16px;
			width:630px;
			line-height:36px;
		}
		.img{
			margin-left: 60px;
			margin-top: 120px;
		}
	}
	.score-system-three{
		height:570px;
		background:#2480dc;
		.subheading{
			padding:80px 0 0 30px;
			color: #fff;
			font-size:30px;
		}
		.text{
			padding:54px 0 0 30px;
			color: #fff;
			font-size:16px;
		}
		.img{
			margin: 20px 0 30px 30px;
		}
	}
}