/*新手页面*/
// 步骤样式
.g-newstep-icon{
	display:inline-block;
	width:64px;
	height: 60px;
	position: relative;
	top:6px;
	margin-right: 12px;
	&.step-one{
		background: url("../images/activity-page/new-version-v3/g-newstep-1.png") no-repeat;
			}
	&.step-two{
		background: url("../images/activity-page/new-version-v3/g-newstep-2.png") no-repeat;
			}
	&.step-three{
		background: url("../images/activity-page/new-version-v3/g-newstep3.png") no-repeat;
			}
}
.activity-new-version{
	background-color: #e6e7e9;
	.level-top{
		height:530px;
		background:url("../images/activity-page/new-version-v3/g-newreg-top.jpg") no-repeat top center;
		&.level-top-newer{
			overflow: hidden;
			height: 651px;
			&+div{
				background: none;
				height:400px;
				.h1-title{
					padding-top: 0;
				}
			}
			.hand-layer{
				top: 8% !important;
				left: 20% !important;
				position: absolute;
				z-index: 99;
			}
			.contain_wrap{
				position: absolute !important;
				left: 50%;
				margin-left: -600px;
				z-index: 999;
				top: 120px;;
			}
			background:url("../images/activity-page/new-version-v3/g-ani-bg.png") no-repeat top center;
		}
	}
	.level-one{
		height:537px;
		background: url("../images/activity-page/new-version-v3/g-newer-regbg.jpg") no-repeat top center;
		.h1-title{
			padding-top:110px;
			font-size: 40px;
			font-weight: normal;
			margin:0;
			color:#3e67cc;
			text-align:center;
		}
	}
	.level-two{
		height:801px;
		background: url("../images/activity-page/new-version-v3/g-gifts-itembg.jpg") no-repeat top center;
		.h1-title{
			padding-top:110px;
			font-size: 40px;
			font-weight: normal;
			margin:0;
			color:#fff;
			text-align:center;
		}
	}
	.level-three{
		background-color: #e6e7e9;
		.contain_wrap{
			.h1-title{
			    font-size: 40px;
			    font-weight: normal;
			    margin: 0;
			    color: #3e67cc;
			    text-align: center;
			    padding-bottom: 66px;
			}
		}
		.g-new-intro{
			font-size: 22px;
			color: #3e68cd;
			padding-bottom: 20px;
		}
	}
	.level-bottom{
		height:270px;
		background:#3e68cd;
	}
	.copy-right{
		padding-top:80px;
		color:#fff;
		font-size:12px;
		text-align:center;
		line-height: 40px;
		opacity:0.5;
		filter: alpha(opacity=50);
	}
}
// 已登录状态
.g-newer-reg{
	padding-top: 70px;
	.g-gifts-img{
		margin-left: 60px;
	}
	.g-gifts-text{
		margin-left: 190px;
		padding-top: 40px;
		p{
			color: #3e67cc;
			font-size: 20px;
			&.text{
				line-height: 1.4;
			}
		}
	}
}
// btn
	.g-newe-btn{
		display: inline-block;
		height: 58px;
		line-height: 58px;
		font-size: 24px;
		border-radius:5px;
		color: #fff;
		font-weight: bold;
		background-color: #f65f63;
		box-shadow: 0 3px 0 #df2328;
		&:hover{
			background-color: #f63f60;
		}
		&.reg-now{
			margin-top: 50px;
			width: 290px;
		}
		&.invest-now{
			width: 290px;
			margin-top: 50px;
		}
	}
// 礼物列表
.g-gifts-list{
	overflow: hidden;
	margin-top: 60px;
	li{
		float: left;
		margin-left: 66px;
		dl{
			width: 308px;
			height: 308px;
			text-align: center;
			background: url("../images/activity-page/new-version-v3/g-new-giftbg.png") no-repeat center;
			&.two{
				background: url("../images/activity-page/new-version-v3/g-new-giftbg2.png") no-repeat center;
			}
			&.three{
				background: url("../images/activity-page/new-version-v3/g-new-giftbg3.png") no-repeat center;
			}
			dt{
				font-size: 22px;
				color: #fff;
				padding-top: 28px;
			}
			dd{
				font-size: 24px;
				color: #e8503a;
				font-weight: bold;
				padding-top: 150px;
			}
		}
	}
}
// 规则
.g-newe-rule{
	color:#3e68cd;
	padding:20px 0;
	.title{
		font-size: 24px;
		padding-bottom: 10px;
	}
	.ui-size14{
		line-height: 2;
	}
}
/*老手页面*/
.activity-old-version{
	.level-top{
		height:320px;
	}
	.level-one{
		height:420px;
		.black-scroll-bar{
			position:absolute;
			top:194px;
			left:0;
			height:21px;
			width:100%;
			
		}
		.yellow-slide-bar{
			width:1080px;
			margin:6px auto 0;
			span{
				float:left;
				height:7px;
				display: block;
			}
			.le,.ri{
				width:5px;
			}
			.ri{
				background-position: -5px 0;
			}
			.mid{
				width:160px;
				background:#fdd803;
				&.second-step{
					width:560px;
				}
				&.third-step{
					width:1070px;
				}
			}
		}
		.click-park{
			position:absolute;
			top:164px;
			left:0;
			li{
				text-align:center;
				width:200px;
				float:left;
				padding-left: 200px;
				&:first-child{
					padding-left: 100px;
				}
				&.on{
					.cir{
						background-position: -45px 0;
					}
					.gift{
						background-position: -70px 0; 
						color:#fdd502;
					}
					.squ{
						background-position: -178px 0;
					}
				}
			}
			.date{
				text-align:center;
				font-size:14px;
				color:#181640;
			}
			.cir{
				display: block;
				width:28px;
				height:29px;
				margin:9px auto 0;
				background-position: 6px 8px;
			}
			.squ{
				display: block;
				cursor: pointer;
				width:168px;
				height:164px;
				margin:16px auto 0;
				color:#181640;
				font-size:24px;
				padding-top:16px;
				&:hover{
					background-position: -178px 0;
					.text{
						display: block;
					}
					.gift{
						background-position: -70px 0; 
						color:#fdd502;
					}
				}
				&:active{
					background-position: 0 0;
				}
			}
			.gift{
				display: block;
				width:60px;
				height:28px;
				padding-top:28px;
				margin:0 auto 12px;
				color:#dfae05;
				font-size:24px;
			}
			.text{
				display: none;
				padding-top:46px;
				color:#181640;
				font-size:18px;
			}
		}
	}
	.level-two{
		.contain_wrap{
			height:640px;
			padding-top:1px;
		}
		.ui-btn{
			display: block;
			background:#ee632c;
			width:340px;
			height:66px;
			box-shadow:0 5px 0 #d8501a;
			padding:0;
			line-height: 66px;
			font-size:24px;
			font-weight: bold;
			&:hover{
				background:#fd5715;
			}
			&:active{
				background:#ee632c;
			}
			&.done{
				background:#999999;
				box-shadow:0 5px 0 #666666;
			}
		}
		.app-download{
			position:fixed;
			top:50%;
			margin-top: -118px;
		}
		.active-park{
			height:640px;
			&.on{
				display: block!important;
			}
		}
		.active-park-one{
			margin-top:60px;
			display: none;
			.text{
				padding: 90px 0 0 740px;
				color:#181640;
				font-size:36px;
				line-height:64px;
			}
			.ui-btn{
				margin:100px 0 0 740px;
			}
		}
		.active-park-two{
			margin-top:80px;
			display: none;
			.squ{
				float:left;
				height:287px;
				width:316px;
				margin-left: 80px;
				&:first-child{
					margin-left: 40px;
				}
			}
			.money{
				display: block;
				width:106px;
				height:106px;
				margin:36px auto 24px;
			}
			.money-one{
				background-position: 0 0;
			}
			.money-two{
				background-position: -116px 0;
			}
			.money-three{
				 background-position: -232px 0;
			}
			.title{
				text-align:center;
				font-size:24px;
				color:#e8503a;
				font-weight:bold;
			}
			.text{
				margin-top: 38px;
				text-align:center;
				font-size:20px;
				color:#fde208;
				font-weight:bold;
			}
			.ui-btn{
				margin:80px auto 0;
			}
		}
		.active-park-three{
			margin-top:80px;
			display: none;
			.card{
				float:left;
				height:280px;
				width:296px;
				margin-left: 80px;
			}
			.card-one{
				background-position:0 0;
			}
			.card-two{
				background-position: -306px 0;
			}
			.card-three{
				background-position: -612px 0;
			}
			.tips{
				font-size:14px;
				color:#ba9b22;
				padding:50px 0 0 84px;
			}
			.text{
				padding-top: 250px;
				text-align:center;
				font-size:20px;
				color:#34302f;
			}
			.ui-btn{
				margin:50px auto 0;
			}
		}
	}
}
.contain_wrap{
	position:relative;
}
/*投资箱体*/
.activity-invest {
  position: relative;
  height: 180px;
  margin: 0 auto 30px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
	.activity-invest-title{
		position: absolute;
		top: 40px;
		left: 113px;
		font-size: 14px!important;
	}
	img {
		position: absolute;
		left: 0px;
		top: 0px;
		display: block;
		width: 113px;
		height: 113px;
		z-index: 1; 
	}
	li {
		float: left;
		height: 100%; 
	}
	p {
		font-size: 18px;
		color: #3e68cd; 
	}
	.p1 {
		font-size: 14px; 
	}
	.p2 {
		font-size: 40px; 
	}
	.p3 {
		font-size: 14px; 
	}
	.i1 {
		font-size: 24px; 
	}
	.add-rate{
		position:absolute;
		bottom:10px;
		right:0px;
		display: block;
		font-size:14px;
		color:#fff;
		width:60px;
		height:24px;
		line-height: 24px;
		text-align: center;
	}
	.rate {
		width: 200px;
		padding-left: 116px; 
		.p1 {
			margin-top: 30px; 
		}
		.p2 {
			position: relative;
			margin-top: 68px;
		}
		.p3 {
			margin-top: 16px; 
		}
	}
	.date {
		width: 160px;
		padding-left: 70px; 
		.p2 {
			margin-top: 70px; 
		}
		.p3 {
			margin-top: 16px; 
		}
	}
	.limit {
		width: 230px;
		padding-left: 70px; 
		.p1 {
			margin-top: 70px;
			color: #ababab; 
		}
		.p3 {
			margin-top: 16px; 
		}
	}
	.ui-progress {
		position: relative;
		width: 132px;
		text-align: center;
		height: 15px;
		margin-top: 5px;
		border-radius: 3px;
		color: #fff;
		background-color: #ccc; 
	}
	.ui-progress-content {
		position: absolute;
		top: 0;
		left: 0;
		height: 15px;
		z-index: 99;
		border-radius: 3px;
		background-color: #10bf56; 
	}
	.ui-progress-value {
		width: 0;
		height: 0;
		display: none; 
	}
	.btn {
		position: relative;
		float: right;
		width: 320px;
		background-color: #dff2ff;
		a {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 240px;
			text-align: center;
			height: 60px;
			line-height: 60px;
			margin: -30px 0 0 -120px;
			font-size: 24px;
			border-radius: 5px;
			color: #fff;
		}
		.invest-end{
			background-color: #ababab; 
			box-shadow: 0 3px 0 #989696;
		}
		.invest-now{
			background-color: #f65f63; 
			box-shadow: 0 3px 0 #df2328;
			&:hover{
				background-color: #f63f60;
			}
			&:active{
				background-color: #f63f60;
			}
		}
	}
}

/*注册框*/
.login-box{
  position:absolute;
  top:46px;
  right:0;
  width:328px;
  padding:26px 26px 46px 26px;
  background-color:#fff;
  box-shadow:0 5px 0 #c2c2c2;
  .text-top{
    margin-bottom:24px;
    color: #2f323f;
    font-size:24px;
    text-align:center;
    span{
    	font-weight: bold;
    }
  }
  .tips-link{
    color:#2c97f4;
    &:hover{
      text-decoration: underline;
    }
    &:active{
      text-decoration: none;
    }
  }
  .img{
    margin:30px auto 0;
    display: block;
    width:280px;
  }
  .text-tips{
    color: #474747;
    font-size:14px;
    text-align:center;
    margin:40px 0;
  }
  .ui-btn{
  	padding:0;
    margin:0;
  }
  .sure-btn{
    height:42px;
    line-height:42px;
    width:100%;
    font-size: 16px;
    background-color:#2c97f4;
    &:hover{
      background-color:#56b1ff;
    }
    &:active{
      background-color:#2c97f4;
    }
  }
  .text-bottom{
    text-align: center;
    font-size:14px;
    color:#474747;
    margin-top:20px;
  }
  .input-box{
    height:28px;
    width:316px;
    border:1px solid #dddddd;
    border-radius:3px;
    margin-bottom: 20px;
    padding: 12px 0 0 10px;
    input:-webkit-autofill {
  		-webkit-box-shadow: 0 0 0 1000px white inset;
	}
    .ui-label-icon{
    	margin:0;
    	width:27px;
    	background:url("../images/activity-page/new-version-v3/ui-label-icon.png") no-repeat;
    	&.icon-form-phone{
			background-position: 0 0;
    	}
    	&.icon-form-code {
			background-position: -36px 0;
		}
		&.icon-form-key {
			background-position: -72px 0;
		}
    }
    .input{
      position:relative;
      top:-2px;
      padding-left: 10px;
      display: inline-block;
      width: 260px;
      font-size: 14px;
      border: 0;
      outline: 0;
    }
  }
  .input-box-code{
    margin-bottom: 20px;
    .input-box{
      float:left;
      width:160px;
      margin-bottom: 0;
      .input{
        width: 100px;
      }
    }
    .code-btn{
      float:right;
      font-size: 16px;
      height:42px;
      width:152px;
      background-color:#ffb040;
      &:hover{
        background-color:#ffcb5b;
      }
      &:active{
        background-color:#ffb040;
      }
    }
  }
  .input-box-img{
    margin-bottom: 20px;
    .input-box{
      float:left;
      width:200px;
      margin-bottom: 0;
		input:-webkit-autofill{
			-webkit-box-shadow: 0 0 0 1000px white inset;
		}
      .input{
        width: 100px;
      }
    }
    .img-btn{
      float:right;
      height:42px;
      width:100px;
      border: 0;
      outline: 0;
    }
  }
  .auto-login{
    color: #b9b9b9;
    font-size:12px;
    margin:10px 0 20px;
    input{
      position:relative;
      top:2px;
    }
    .a-link{
      color: #2c97f4;
      display: inline-block;
      padding:0 6px;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        text-decoration: none;
      }
    }
    .label{
      cursor:pointer;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        text-decoration: none;
      }
    }
  }
}
.dis-none{
	display:none!important;
}
.scroll-top{
	display:none;
	position:fixed;
	bottom:20px;
	right:0;
	height:50px;
	width: 50px;
	cursor: pointer;
	.scroll-top-bg,.scroll-top-btn{
		position:absolute;
		top:0;
		left:0;
		height: 50px;
		width: 50px;
	}
	.scroll-top-bg{
		background:#000;
		opacity: 0.3;	
	}
	.scroll-top-btn{
		background: url("../images/sprites/active-scroll-top-btn.png") no-repeat;
		&:hover{
			background-position:-60px 0;
		}
	}
}