//公共部分
.ui-mt50{
	margin-top: 0 !important;
}
//页面框架
.mall-ui-box-left{
	float:left;
	width:894px;
}
.mall-ui-box-right{
	float:right;
	width:280px;
}
dl{
	margin:0;
}
.vertical-mid{
	text-align:center;
	display: table-cell;
	vertical-align: middle;
}
.t-delete{
	text-decoration:line-through;
}
.dis-block{
	display:block!important;
}
//边框样式
.border1{
	border:1px solid #eeeeee;
}
.border2{
	border:1px solid;
	border-color:#2c97f4 #eeeeee #eeeeee;
}
//文字样式
.mall-ui-p-title{
	color:#474747;
	font-size:16px;
	padding-left:5px;
	height:22px;
	line-height:22px;
	font-weight:bold;
	border-left:7px solid #2c97f4;
	.tips{
		color:#b9b9b9;
		font-size:12px;
		font-weight:normal;
		margin-left: 12px;
	}
	.more{
		display: block;
		height:22px;
		float:right;
		color:#b9b9b9;
		font-size:12px;
		font-weight:normal;
		&:hover{
			text-decoration: underline;
		}
		&:active{
			text-decoration: none;
		}
	}
}
.mall-ui-title-aside{
	background:#f9f9f9;
	height:32px;
	padding:12px 0 0 10px;
}
.mall-ui-title-main{
	background:#fff;
	height:32px;
	padding:12px 0 0 10px;
}
//商品样式
.mall-ui-commodity-wrap{
	width:100%;
}
.mall-ui-commodity-box{
	position:relative;
	float:left;
	height: 270px;
	width: 214px;
	text-align: center;
	.img-box{
		display: block;
		position:relative;
		height: 180px;
		width: 100%;
		div{
			position:absolute;
			bottom:0;
			left:0;
			width: 100%;
		}
		img{
			max-width:170px;
		}
	}
	.title{
		display: block;
		color: #474747;
		font-size:14px;
		line-height:20px;
		height:20px;
		padding:0 25px;
		margin:20px 0 8px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		&:hover{
			text-decoration: underline;
		}
		&:active{
			text-decoration: none;
		}
	}
	.num{
		color: #fd8479;
		font-size:14px;
	}
}
.mall-ui-aside-commodity-wrap{
	width:100%;
}
.mall-ui-aside-commodity-box {
	position:relative;
	height: 94px;
	width: 100%;
	border-top:1px solid #eeeeee;
	&:first-child{
		height: 92px;
	}
	.img-box{
		float:left;
		position:relative;
		height: 93px;
		width:104px;
		text-align:center;
		a{
			width:104px;
			display: table-cell;
			vertical-align: middle;
			height: 88px;	
		}
		img{
			max-width: 80px;
		}
	}
	.title{
		display: block;
		color: #474747;
		font-size:14px;
		line-height:20px;
		padding:20px 0 10px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		&:hover{
			text-decoration: underline;
		}
		&:active{
			text-decoration: none;
		}
	}
	.num{
		color: #fd8479;
		font-size:14px;
	}
}
//登录框
.mall-login-box-top{
	display:none;
	.title{
		padding:24px 0 18px 40px;
		color:#474747;
		font-size:12px;
		line-height: 18px;
		.name em{
			margin-left: 2px;
			display:inline-block;
			width:34px;
			text-align: center;
			height:14px;
			line-height: 14px;
			background:#ff8a80;
			color:#fff;
			font-size:10px;
			border-radius:3px;
			font-style:italic;
		}
		.text{
			display: block;
			color:#b9b9b9;
		}
		img{
			float:left;
			width:36px;
			height:36px;
			margin-right:16px;
			border-radius:6px;
		}
	}
	.links{
		a{
			float:left;
			display: block;
			height:42px;
			width:139px;
			background:#eeeeee;
			border-bottom:1px solid #eeeeee;
			text-align: center;
			&:first-child{
				width:138px;
				margin-right:1px;
				i{
					background-position: 0 center;
				}
			}
			&:hover span{
				color:#fd8479;
			}
			&:active span{
				color:#474747;
			}
		}
		span{
			display: inline-block;
			height:42px;
			line-height: 42px;
			color:#474747;
			font-size:14px;
		}
		i{
			float:left;
			width:22px;
			height:42px;
			margin-right: 4px;
			background: url("../images/mall/sprites/mall-login-box-top-links.png") no-repeat;
			background-position: -30px center;
		}
	}
	.num{
		font-size:12px;
		color:#474747;
		height:42px;
		border-bottom:1px solid #eeeeee;
		margin:0 16px;
		padding:0 22px;
		span{
			padding:0 6px;
			color:#ff8a80;
			font-size:16px;
			font-weight:bold;
		}
	}
}
.mall-login-box-tips{
	margin:0 16px;
	padding:16px 22px;
	border-bottom:1px solid #eeeeee;
	font-size:12px;
	color:#474747;
	line-height:22px;
	span{
		font-weight:bold;
		display:block;
	}
}
.mall-login-box-data{
	padding:20px 0 20px 40px;
	span{
		float:left;
		display: inline-block;
		height:32px;
		line-height:32px;
		font-weight:bold;
	}
	.text{
		font-size:12px;
		color:#474747;
		margin-right:10px;
	}
	.data{
		width:27px;
		text-align:center;
		font-size:24px;
		color:#fd8479;
		background: url("../images/mall/mall-login-box-data-bg.png") no-repeat center;
		margin-left:6px;
	}
}
//加减计算
.ui-compute-box{
	display:inline-block;
	a{
		display: inline-block;
		width:14px;
		height:14px;
		text-align:center;
		line-height:12px;
		font-size:10px;
		
	}
	input{
		width:42px;
		height:26px;
		text-align: center;
	}
}
//标签样式
.icon-red-vip{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:56px;
	height:56px;
	background: url("../images/mall/icon-red-vip.png") no-repeat center;
	z-index:10;
}
.icon-blue-hot{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:56px;
	height:56px;
	background: url("../images/mall/icon-blue-hot.png") no-repeat center;
	z-index:10;
}
//广告部分
.integral-mall-ad{
	height:120px;
	margin-bottom:28px;
}
.integral-mall-ad-small{
	height:72px;
	margin-top:18px;
}
//头部banner
.integral-mall-banner{
	height:400px;
	background: url("../images/mall/integral-mall-banner-bg.png") no-repeat center;
}
//主页开始
.integral-mall-wrap{
	padding:58px 0 64px;
	background:#fff;

}
//首页部分
.index-integral-mall{
	.integral-mall-goods-lists{
		.user-tabs-item{
			width:170.5px;
			&:first-child{
				width:171px;
			}
		}
	}
}
//专享兑换
.index-mall-exchange{
	margin-bottom:16px;
	.mall-ui-box{
		height: 316px;
	}
	.mall-ui-commodity-box{
		margin-left:10px;
		&:first-child{
			margin-left:0;
		}
	}
	.mall-ui-commodity-wrap{
		margin-top:22px;
	}
}
//新品上架
.index-mall-newest{
	margin-bottom:16px;
	.mall-ui-box{
		height: 614px;
	}
	.mall-ui-commodity-box{
		margin-left:10px;
		&:first-child{
			margin-left:0;
		}
	}
	.mall-ui-commodity-wrap{
		margin-top:24px;
	}
}
//产品分类
.integral-mall-goods-lists{
	.mall-ui-commodity-box{
		margin-left:20px;
	}
	.mall-ui-commodity-wrap{
		padding:24px 0;
	}
	.user-tabs-item{
		margin-top: -1px;
		float: left;
		display:inline-block;
		// height:78px;
		height:58px;
		line-height: 58px;
		color: #474747;
		font-size:14px;
		text-align: center;
		margin-left:1px;
		background:#f6f6f6;
		border-top:2px solid #f6f6f6;
		&:first-child{
			margin-left:0;
		}
		&.user-tabs-active,&:hover{
			border-top:2px solid #2c97f4;
			background:#fff;
			color: #2c97f4;
			.icon-love{
				background-position: 0 12px;
			}
			.icon-box{
				background-position: -252px 12px;
			}
			.icon-camera{
				background-position: -336px 12px;
			}
			.icon-life{
				background-position: -420px 12px;
			}
			.icon-outside{
				background-position: -504px 10px;
			}
			.icon-taxi{
				background-position: -84px 15px;
			}
			.icon-gift{
				background-position: -168px 12px;
			}
		}
	}
	.mall-goods-lists-icon{
		display: block;
		height:48px;
		width:32px;
		margin:0 auto;
		background: url("../images/mall/sprites/mall-goods-lists-icon.png") no-repeat;
		&.icon-love{
			background-position: -42px 12px;
		}
		&.icon-box{
			background-position: -294px 12px;
		}
		&.icon-camera{
			background-position: -378px 12px;
		}
		&.icon-life{
			background-position: -462px 12px;
		}
		&.icon-outside{
			background-position: -546px 10px;
		}
		&.icon-taxi{
			background-position: -126px 15px;
		}
		&.icon-gift{
			background-position: -210px 12px;
		}
	}
}
//详细页面部分
.page-mall-commodity-easy{
	.mall-ui-box{
		height:434px;
		margin-bottom: 32px;
	}
	.mall-login-box{
		width:280px;
		.title{
			padding: 24px 0 30px 40px;
		}
		.mall-login-box-data{
			  padding: 30px 0 28px 40px;
		}
	}
	.page-easy-box{
		dd{
			float:left;
			width:492px;
			height:434px;
			&:first-child{
				position:relative;
				width:367px;
				border-right:1px solid #eeeeee;
			}
		}
		.details {
			padding-left:34px;
			h2{
				color:#474747;
				font-size:16px;
				font-weight:bold;
				margin:0 140px 0 0;
				padding: 28px 0 14px 0;
				border-bottom:1px dashed #eeeeee;
			}
			p{
				margin-top:18px;
				color:#474747;
				font-size:14px;
			}
			.title{
				display:inline-block;
				width:60px;
			}
			.over-num-tips{
				display: none;
			}
			.btn{
				margin:16px 140px 0 0;
				padding-top:22px;
				border-top:1px dashed #eeeeee;
				font-size:14px;
				color:#474747;
				font-weight:bold;
				a{
					float:left;
					display:inline-block;
					width:170px;
					height:42px;
					text-align:center;
					line-height: 42px;
					font-size:16px;
					color:#fff;
					border-radius:4px;
					background:#ff8a80;
					margin-right:24px;
					&:hover{
						background:#ffb1a6;
					}
					&:active{
						background:#ff8a80;
					}
				}
				span{
					display:block;
					font-size:18px;
					color:#ff8a80;
					margin-top:5px;
				}

			}
		}
	}
}
//后期改为切换
.page-mall-commodity-easy-slider{
	.vertical-mid{
		height: 434px;
		  width: 367px;
	}
	img{
		max-width: 340px;
	}
}
.page-mall-commodity-full{
	.page-commodity-details{
		line-height: 30px;
		margin-top:10px;
		span{
			display: inline-block;
			width:265px;
			font-size:12px;
			color:#474747;
			padding-left:30px;
		}
	}
	.page-commodity-details-img{
		margin:60px 0;
		text-align:center;
		img{
			margin-bottom: 10px;
		}
	}
	.page-commodity-details-tips{
		font-size:12px;
		color:#474747;
		background:#f9f9f9;
		padding:20px 30px;
		line-height:24px;
		border-top:1px solid #eeeeee;
		span{
			font-size:14px;
			display: block;
			font-weight:bold;
			margin-bottom: 6px;
		}
	}
}
//积分商城列表页
.list-integral-mall{
	.integral-mall-goods-lists{
		.user-tabs-item{
			width:126px;
			&:first-child{
				width:127px;
			}
		}
	}
	.mall-ui-commodity-box{
		margin: 3px;
	}
}
.icon-sucess{
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/mall/sprites/icon-sucess.png") no-repeat center;
  margin: 0 auto;
}
.icon-error{
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/mall/sprites/icon-error.png") no-repeat center;
  margin: 0 auto;
}
.pop-up-box{
	display:none;
	width:630px;
	background:#fff;
	margin:0 auto;
	padding:70px 0 30px;
	.prize-bg-wrap{	
		width: 160px;
		margin:0 auto;
	}
	.prize-bg{
		width:160px;
		height:160px;
		border:1px solid #efefef;
		border-radius:50%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.p-big{
		text-align: center;
		font-size:18px;
		color:#474747;
		margin-top:30px;	
	}
	.p-normal{
		color:#b9b9b9;
		font-size:14px;
		line-height: 24px;
		padding-bottom:44px;
		border-bottom:1px solid #dddddd;
		margin:40px 35px 30px;
	}
	.p-small{
		text-align: center;
		font-size:12px;
		line-height: 24px;
		margin-top: 10px;
		a{
			padding:0 4px;
			color:#3398f2;
			&:hover{
				text-decoration: underline;
			}
			&:active{
				text-decoration: none;
			}
		}
	}
	.ui-btn{
		width: 226px;
		height:30x;
		line-height:30px;
		display: block;
		margin:32px auto 0;
	}
	&.sucess{
		.p-normal{
			padding-left:135px;
		}
	}
	&.error{
		.p-normal{
			padding-left:46px;
		}
	}
	&.prize{
		padding-top:20px;
		.p-big{
			margin-top:22px;
		}
		.p-small{
			margin-top: 10px;
		}
	}
	&.adress{
		padding-top:30px;
		h3{
			margin:0;
			color:#474747;
			font-size:16px;
			text-align:center;
		}
		form{
			margin-top: 16px;
			padding:20px 44px 30px;
			border-radius:3px;
			background:#fff;
		}
		table{
			width:100%;
			border-collapse: inherit;
			border-spacing: 0;
		}
		tr{
			font-size:12px;
			color:#474747;
			height:34px;
			border:1px solid #fff;
			border-radius:3px;
			cursor: pointer;
			input{
				position:relative;
				top:2px;
			}
			&:hover{
				border:1px solid #d3e4f4;
				background:#f5faff;
			}
		}
		.label1{
			display:inline-block;
			height:34px;
			line-height: 34px;
			cursor: pointer;
		}
		.new-adress{
			padding:0 26px;
			.title{
				height:36px;
				line-height:36px;
				font-size:12px;
				color:#474747;
			}
			.input1{
				width: 478px;
				padding-left:10px;
				height:34px;
				border:1px solid #dddddd;
			}
			.select1{
				width: 152px;
				height:34px;
				border:1px solid #dddddd;
				margin-left:12px;
				&:first-child{
					width: 154px;
					margin-left:0;
				}
			}
		}
	}
}
