.layui-layer{
	background: none !important;
}
.layui-layer-content{
	height:auto !important;
}
dl{
	margin:0;
}
.ui-colorss-green{
	color:#40ffb9;
}
.ui-colorss-purple{
	color:#ae43db;
}
.lottery-draw{
	background:#7b1fa2 url("../images/lottery-draw-bg.png") no-repeat top center;
	padding:664px 0 80px;


}
//左右两块控制
.lottery-draw-box{
	width:852px;
	float:left;
	height:570px;
	background: url("../images/lottery-draw-box-bg.png") no-repeat top left;
}
.lottery-draw-massage{
	width:348px;
	float:right;
	height:570px;
	background: url("../images/lottery-draw-massage-bg.png") no-repeat top left;
}
//登录部分
//顶部
.lottery-draw-box-top{
	height:75px;
	width:790px;
	margin-left:21px;
}
//添加此CLASS切换
.dis-block{
	display:block!important;
}
//登录前
.lottery-draw-login-before{
	display:none;
	text-align:center;
	span{
		display: inline-block;
		font-size:14px;
		color:#fff;
		height:75px;
		line-height:75px;
	}
	a{
		font-size:14px;
		margin:0 10px;
		text-decoration: underline;
		color:#52d4b3;
		&:hover{
			color:#7af9d7;
		}
		&:active{
			color:#52d4b3;
		}
		&:first-child{
			color:#ffde00;
			&:hover{
				color:#ffee27;
			}
			&:active{
				color:#ffde00;
			}
		}
	}
}
//登录后
.lottery-draw-login-after{
	display:none;
	dd{
		position:relative;
		float:left;
		height:75px;
		width: 190px;
		padding-left:53px;
		&:first-child{
			width: 223px;
			margin-left: 26px;
		}
	}
	i{
		position:absolute;
		top:50%;
		left:0;
		width:32px;
		height: 32px;
		margin-top:-16px;
		background:url("../images/sprites/lottery-draw-top-icon.png") no-repeat;
		&.lottery-draw-top-icon-2{
			background-position:-42px 0;
		}
		&.lottery-draw-top-icon-3{
			background-position:-84px 0;
		}
	}
	.num{
		font-size:20px;
		color:#ffde00;
		padding-top:18px; 
		font-weight:bold;

	}
	.text{
		font-size:12px;
		color:#fff;
		padding-top:6x; 
	}
	a{
		font-size:12px;
		color:#fff;
		text-decoration: underline;
		&:hover{
			color:#ffde00;
		}
		&:active{
			color:#fff;
		}
	}
	.a-btn{
		margin-top: 24px;
		text-decoration: none;
		display: inline-block;
		width: 100px;
		height: 26px;
		text-align:center;
		line-height:26px;
		border:1px solid #fff;
		border-radius:4px;
		&:hover{
			border:1px solid #ffde00;
		}
		&:active{
			border:1px solid #fff;
		}
	}
}
//抽奖箱
.lottery-draw-box-main{
	position:relative;
	width:832px;
	height:472px;
	.prize-lotter{
		width:832px;
		height:472px;
	}
	.prize-lotter-item{
		position:absolute;
		height: 100px;
		width:150px;
		text-align: center;
    	vertical-align: middle;
    	&.active{
    		background: #000;
		    opacity: 0.3;
		    filter: alpha(opacity=30);
		    z-index: 2;
    	}
	}
	.prize-center-box{
		position:absolute;
		height: 100px;
		width:150px;
		text-align: center;
    	vertical-align: middle;
	}
	.prize-number-1{
		top:14px;
		left:14px;
	}
	.prize-number-2{
		top:14px;
		left:178px;
	}
	.prize-number-3{
		top:14px;
		left:342px;
	}
	.prize-number-4{
		top:14px;
		left:506px;
	}
	.prize-number-5{
		top:14px;
		left:670px;
	}
	.prize-number-6{
		top:128px;
		left:670px;
	}
	.prize-number-7{
		top:242px;
		left:670px;
	}
	.prize-number-8{
		top:356px;
		left:670px;
	}
	.prize-number-9{
		top:356px;
		left:506px;
	}
	.prize-number-10{
		top:356px;
		left:342px;
	}
	.prize-number-11{
		top:356px;
		left:178px;
	}
	.prize-number-12{
		top:356px;
		left:14px;
	}
	.prize-number-13{
		top:242px;
		left:14px;
	}
	.prize-number-14{
		top:128px;
		left:14px;
	}
	.prize-btn{
		top:114px;
		left:164px;
		width: 506px;
		height: 211px;
		padding-top:31px;
	}
	.prize-title{
		position:absolute;
		left:0;
		bottom:0;
		width: 150px;
		height: 30px;
		font-size:12px;
		color:#fff;
		line-height:30px;
		background:url("../images/prize-title-bg.png") no-repeat;
	}
	.cash-num{
		padding-top:16px;
		font-size:28px;
		color:#fff;
		line-height:34px;
	}
	.cash-title{
		display: block;
		font-size:16px;
	}
	img{
		display: block;
		margin:0 auto;
	}
	a{
		display:block;
		width: 172px;
		height: 180px;
		margin:0 auto;
		background:url("../images/sprites/lottery-draw-btn-go.png") no-repeat;
		&:hover{
			background-position: -182px 0;
		}
		&:active{
			background-position: -364px 6px;
		}
		&.disable{
			background-position: -546px 0;
		}
	}
}
//消息显示部分
//顶部
.lottery-draw-massage-top{
	height:64px;
	width:290px;
	padding-top:11px;
	margin-left:20px;
	i{
		display: block;
		height: 32px;
		width: 182px;
		line-height: 32px;
		text-align:center;
		margin:0 auto 11px;
		color: #854500;
		font-size:14px;
		background:url("../images/lottery-draw-massage-top-btn.png") no-repeat;
	}
	p{
		font-size:12px;
		color:#fff;
		text-align:center;
	}
}
//消息显示部分
.lottery-draw-massage-title{
	height:59px;
	line-height:59px;
	color:#854500;
	font-size:16px;
	padding-left:22px;
	text-shadow:0 1px 1px #fff;
	span{
		color: #c88800;
		font-size:12px;
	}

}
.lottery-draw-massage-main{
	ul{
		height: 165px;
		width: 281px;
		margin-left:34px;
		padding-top: 5px
	}
	li{
		height: 26px;
		line-height: 26px;
		font-size:12px;
		color:#fff;
	}
}
//活动规则部分
.active-title{
	margin-top:44px;
	width:118px;
	height:50px;
	line-height:50px;
	color:#854500;
	font-size:16px;
	padding-left:35px;
	background:url("../images/active-title-bg.png") no-repeat;
}
.active-rule{
	margin-top:24px;
	font-size:14px;
	color:#fff;
	padding-left:22px;
	line-height:30px;
	span{
		color:#ffde00;
	}
	a{
		color:#40ffb9;
		text-decoration: underline;
		padding:0 6px;
		&:hover{
			color:#ffde00;
		}
		&:active{
			color:#40ffb9;
		}
	}
}
.lottery-draw-copyright{
	margin-top:90px;
	text-align:center;
	color:#b332e9;
	font-size:12px;
}
//弹窗

.icon-sucess{
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/sprites/icon-sucess.png") no-repeat center;
  margin: 0 auto;
}
.pop-up-box{
	border-radius:12px;
	width:590px;
	background:#ffde00;
	margin:0 auto;
	display:none;
	.prize-bg{
		width:160px;
		height:160px;
		background:#fff;
		border-radius:50%;
		margin:0 auto;
	}
	.p-big{
		font-size:18px;
		color:#474747;
		margin:22px 0 24px;
	}
	.p-normal{
		font-size:14px;
		margin-top:16px;
	}
	.p-small{
		font-size:12px;
		margin-top:10px;
	}
	.p-small,.p-normal{
		color:#474747;
		a{
			padding:0 4px;
			color:#3398f2;
			&:hover{
				text-decoration: underline;
			}
			&:active{
				text-decoration: none;
			}
		}
	}
	.ui-btn{
		width: 182px;
		height:38px;
		line-height:38px;
		margin-top:28px;
	}
	.ui-btn-empty{
		width: 182px;
		height:36px;
		line-height:36px;
		background:none;
		margin-top:28px;
	}
	&.sucess{
		text-align: center;
		padding:74px 0 44px;
		.p-big{
			margin:28px 0;
		}
		.ui-btn{
			margin:84px auto 0;
		}
	}
	&.prize{
		text-align: center;
		padding:22px 0 32px;
		.prize-bg{
			display: table-cell;
			vertical-align: middle;
		}
		.prize-bg-wrap{
			width: 160px;
			margin:0 auto;
		}
	}
	&.cash{
		.prize-bg{
			background: url("../images/prize-bg-cash.png") no-repeat center;
		}
		padding:20px 0 44px;
		text-align: center;
	}
	&.adress{
		padding:34px 30px 54px;
		h3{
			margin:0;
			color:#474747;
			font-size:16px;
			text-align:center;
		}
		form{
			margin-top: 16px;
			padding:20px 14px 30px;
			border-radius:3px;
			background:#fff;
		}
		table{
			width:100%;
			border-collapse: inherit;
			border-spacing: 0;
		}
		tr{
			font-size:12px;
			color:#474747;
			height:34px;
			border:1px solid #fff;
			border-radius:3px;
			cursor: pointer;
			input{
				position:relative;
				top:2px;
			}
			&:hover{
				border:1px solid #d3e4f4;
				background:#f5faff;
			}
		}
		.new-adress{
			padding:0 26px;
			p{
				height:36px;
				line-height:36px;
				font-size:12px;
				color:#474747;
			}
			input{
				width: 100%;
				height:34px;
				border:1px solid #dddddd;
			}
			select{
				width: 158px;
				height:34px;
				border:1px solid #dddddd;
				margin-left:12px;
				&:first-child{
					margin-left:0;
				}
			}
		}
		a{
			display: block;
			margin:38px auto 0;
		}
	}

}
#big_award,#now_award{
	overflow: hidden;
}
.prize-lotter-shadow {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: alpha(opacity=07);
    z-index: 2;
}