html{
	background-color: #fff;
}
.bg-gray{
	background-color: #f6f6f6;
}
.border-bottom{
	border-bottom:1px solid #eee;
}
$base_blue:#2c97f4;
// 用户账户导航
.user_l{
	width:220px;
	float: left;
	background-color: #f6f6f6;
	border:1px solid #eee;
	border-right:0;
}
dl{
	margin: 0;
}
//公共样式
.padt10{
	padding-top:10px;
}
.user-account-info{
	text-align:center;
	.avatar{
		margin-top: 26px;
		a{
			position: relative;
			height: 100px;
			width: 100px;
			margin-left: 56px;
			display: block;
			.ui-mask{
				position: absolute;
				background: url(../images/newHeader.png) no-repeat;
				width: 98px;
				height: 98px;
			}
			img{
				width: 98px;
				height: 98px;
				border-radius:50%;
			}
		}
	}
	.user-name{
		font-size: 14px;
		padding:10px 0;
	}
	.user-approve{
		padding:5px 0;
		.icon-user-auth{
			margin: 0 2px;
		}
	}
	.icon-user-auth{
		display: inline-block;
		background: url(../images/sprites/icon-user-auth.png) no-repeat;
		width: 20px;
		height: 20px;
		&.icon-un-phone{
			background-position: -156px 0;
		}
		&.icon-un-email{
			background-position:-130px 0;
		}
		&.icon-un-real{
			background-position:-182px 0;
		}
		&.icon-un-bkcard{
			background-position:-104px 0;
		}
		&.icon-phone{
			background-position:-52px 0;
		}
		&.icon-email{
			background-position:-26px 0;
		}
		&.icon-real{
			background-position:-78px 0;
		}
		&.icon-bkcard{
			background-position:0 0;
		}
	}
	.user-sec-status{
		padding-top: 10px;
		padding-bottom: 30px;
		em{
			padding-left: 3px;
		}
		.spara{
			color: #ddd;
			padding: 10px;
		}
	}
}
.user_nav{
	width:100%;
	li{
		font-size: 14px;
		position: relative;
		a{
			display: block;
			padding:18px 0;
			position: relative;
			text-indent: 60px;
			.ui-arrow{
				position: absolute;
				width: 6px;
				height: 12px;
				background: url(../images/sprites/user-arrow-right.png) no-repeat;
				right: 38px;
				top: 20px;
			}
			&:hover{	
				background-color: #fafafa;
			}
		}
		&.cur{
			font-weight: bold;
			background-color: #fff;
			a{
				border-top:1px solid #eee;
				border-bottom:1px solid #eee;
				border-left:2px solid $base_blue;
				margin-left: -1px;
			}
		}

	}
}
dl{
	&.qc-code{
		border-top:1px solid #eee;
		margin-top:20px;
		text-align: center;
		padding:26px 0;
	}
}
// 用户中心右侧
.user_r{
	position:relative;
	border:1px solid #eee;
	margin-left: 221px;
	margin-bottom: 50px;
	padding: 30px;
	min-height:880px;
}
.w330{
	width:330px;
}
.w280{
	width:280px !important;
}
.w200{
	width:200px;
}
.w220{
	width:220px;
}
.w180{
	width:180px;
}
.user-assets-box{
	padding:20px 0 40px;
	overflow: hidden;
}
.uc-index-img{
	float: left;
	padding-right: 10px;
	height:80px;
}
.icon-uc-index{
	display:inline-block;
	width:58px;
	height:58px;
	background:url(../images/sprites/icon-uc-index.png) no-repeat;
	&.icon-uc-ye{
		background-position:-180px 0;
	}
	&.icon-uc-sy{
		background-position:-120px 0;
	}
	&.icon-uc-jf{
		background-position:-60px 0;
	}
}
.user-assets-view{
	float: left;
	.num{
		font-size: 28px;
		font-weight: bold;
		font-family: "Arial";
		padding-bottom: 10px;
		padding-top: 5px;
		.icon-up-blue{
			background: url(../images/icon-up-blue.png) no-repeat;
			display: inline-block;
			width: 18px;
			height: 20px;
		}
	}
	.btns{
		.ui-btn{
			font-size: 12px;
			padding:8px 22px;
		}
		.ui-btn-empty{
			font-size: 12px;
			padding:7px 21px;
		}
	}
}
// 账户tab切换样式
.user-tabs {
    height: 46px;
    border: 1px solid #eee;
    position: relative;
    background-color: #f6f6f6;
}
.user-tabs-item {
    display: block;
    float: left;
    height: 46px;
    line-height: 46px;
    padding: 0 35px;
    font-size: 14px;
    border-right: 1px solid #eee;
}
.user-tabs-active {
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    border-top: 2px solid $base_blue;
    font-weight: bold;
    color: $base_blue;
}
.user-account-moudle{
	border:1px solid #eee;
	border-top:0;
	padding:30px;
	overflow: hidden;
    width: 100%;
    box-sizing:border-box;
    &.record{
    	padding:0;	
    	border:0;
    	a{
    		display: block;
    		color: #2c97f4;
    	}
    	span{
    		display: block;
    		color: #b9b9b9;
    		
    	}
    	td{
    		line-height: 24px;
    		height: 80px;
    	}
    	//暂无信息时显示
    	.unknow-info{
    		color: #b9b9b9;
    		padding:50px 0;
    		.ui-font-blue{
    			display: inline;
    		}
    	}
    }
    &.massage-list{
    	padding:0 0 60px 0;	
    	border:0;
     	tr a{
     		color: #474747;
    		&:hover{
    			color: #62b7e7;
    		}
    		&:active{
    			color: #474747;
    		}
    	}
    	.delete-btn{
    		position:relative;
    		margin-top: 25px;
    		.ui-btn-empty{
    			border:1px solid #b9b9b9;
    			color: #474747;
				  &:hover{
				    color: #62b7e7;
				    border-color: #62b7e7;
				  }
				  &:active{
				    color: #474747;
				    border-color: #b9b9b9;
				  }
    		}
    		#page{
    			position:absolute;
    			top: -23px;
    			right: 22px;;
    		}
    	}
	    .massage-title{
			color: #3e3e3e;
			font-size:16px;
			text-align:center;
			margin:35px 0 24px;
	    }
	    .massage-date{
	    	color: #b9b9b9;
	    	font-size:12px;
	    	text-align:center;
	    	padding-bottom:29px;
	    	border-bottom:1px solid #eeeeee;
	    	margin-bottom:29px;
	    }
	    .massage-text{
	    	color: #3e3e3e;
			font-size:14px;
			padding:0 23px;
			margin-bottom:42px;
	    }
    }

    .all-earn{
		font-size: 14px;
		dd{
			padding:10px 0; 
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				padding-bottom: 0;
			}
			em{
				font-family: "Arial";
			}	
		}
	}
	.all-loan{
		font-size: 14px;
		height: 124px;
		box-sizing:border-box;
		dd{
			overflow: hidden;
			line-height: 40px;
			&:first-child{
				line-height: normal;
			}
			&:last-child{
				line-height: normal;
			}
			span{
				display: inline-block;
			}
		}
		.fr{
			.ui-btn{
				color: #3e3e3e;
				border:1px solid #eee;
				border-radius:3px;
				font-size: 14px;
			}
		}
		em{
				font-family: "Arial";
			}	
	}
}
.massage-page-btn{
	text-align:right;
	padding-top:20px;
	margin:0 30px;
	width:919px;
	border-top:1px solid #eeeeee;
    position:absolute;
    bottom:50px;
    left: 0;
    .ui-btn-nborder{
    	padding: 6px 12px;
    	color: #474747;
    	font-size:14px;
			&:hover{
				color: #62b7e7;
			}
			&:active{
				color: #474747;
			}
    	}
    .ui-btn-empty{
	    border: 1px solid #b9b9b9;
	    color: #474747;
 		&:hover{
			color: #62b7e7;
			border-color: #62b7e7;
		}
		&:active{
			color: #474747;
			border-color: #b9b9b9;
		}
    }
}
// 账户tab内容
.all-property{
	float: left;
	margin-top: 30px;
	width:250px;
	.big-num{
		font-size: 28px;
		font-weight: bold;
		font-family: "Arial";
		padding-top: 6px;
	}
}
.all-property-detail{
	float: left;
	margin-left: 20px;
	.ui-pt16{
		padding-top: 16px;
	}
	.nor-num{
		font-size: 18px;
		font-family: "Arial";
		padding-top: 8px;
		padding-bottom:4px;
	}
}
// 用户今日赚得
.user-earn-today{
	background-color: #f4faff;
	border:1px solid #d3e5f4;
	.user-assets-view{
		margin-left: 20px;
	}
}
// 近期回款计划
.invest-list-control{
	overflow: hidden;
	a{
		float: right;
	    color: #b9b9b9;
	    line-height: 64px;
	    font-size: 12px;
	    margin-left: 24px;
	    &.on{
	    	color: $base_blue;
	    }
	}
	p{
		height: 64px;
	    line-height: 64px;
	    padding-left: 4px;
	    color: #3e3e3e;
	    font-weight: bold;
	    font-size: 14px;
	    &.delivery-address{
	    	height: 48px;
	    	line-height: 48px;
	    	background-color: #f6f6f6;
	    	padding-left: 20px;
	    }
	}
	form{
		float: right;
	}
	select{
		height: 30px;
	    width: 110px;
	    border: 1px solid #e2e3e4;
	    border-radius: 5px;
	    margin-left: 12px;
	}
	.filter_time,.filter_status{
		float: left;
	    line-height: 64px;
	    margin-left: 40px;
	}
	.filter_time{
		input{
			color: #b9b9b9;
			width: 80px;
			height: 25px;
			line-height: 25px;
			border:1px solid #ddd;
			padding-left: 40px;
			border-radius: 3px;
		}
	}
}
.invest-list{
	tr{
		border-bottom: 1px solid #eee;
		&.tr1{
			border-top:1px solid #eee;
			border-left:1px solid #eee;
			border-right:1px solid #eee;
		}
	}
	td{
		text-align: center;
    	height: 50px;
	}
	th{
		text-align: center;
    	height: 50px;
    	background: #f6f6f6;
    	font-weight: normal;
	}
	.index-invest-name{
		p{	
			width: 134px;
			line-height: 50px;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: left;
    		text-indent: 18px;
		}
	}
}
// 我的投资
.investment-wrap{
	font-size: 14px;
	p{
		position: relative;
	}
	.investment-volume-total{
		padding: 14px 0 20px 16px;
    	border-top: 1px solid #eee;
    	&:first-child{
    		border-top:0;
    	}
    	p{
		    height: 24px;
		    line-height: 24px;
    	}
    	.ui-font-gray{
    		padding-top: 10px;
    		i{
    			color: #474747;
    		}
    	}
	}
}
// 我的借款
.borrow-volume-total{
	span{
		display:inline-block;
		line-height: 40px;
	}
}
//收支记录
.invet-list-filter{
	td{
		height: 70px;
	}
	.table-inside-btn{
		a{
			border:1px solid #eee;
			border-radius:3px;
			padding:3px 6px;
			margin: 0 2px;
		}
	}
}
.user-myinvest-layer{
	padding:30px;
	.last-detail-tb{
		font-size: 12px;
		td{
			text-align: center
		}
		.num{
			font-family: "Arial";
			font-size: 18px;
			padding:10px 0; 
		}
	}
	.user-invest-detailtb{
		font-size: 12px;
		margin-top: 20px;
		tr{
				&:first-child{
				border-top:2px solid #eee;
			}
		}
		td{
			padding:18px 0;
			border-bottom:1px solid #eee;
			padding-left: 10px;
		}
		.already-refund{
			td{
				color: #b9b9b9;
			}
		}
	}
	.layer-bottom{
		margin: 0;
	}
	.user-trans-rule{
		background-color: #f5faff;
		border: 1px solid #d3e5f4;
		padding:18px;
		.title{
			font-weight: bold;
			font-size: 14px;
			padding-bottom: 10px;
		}
		.content{
			line-height: 2;
		}
	}
	.user-layer-bond{
		margin: 24px auto 0;
		border-bottom:1px solid #eee;
		.fl{
			padding-left: 15px;
		}
		.fr{
			padding-right: 50px;
		}
		li{
			padding-bottom: 5px;
		}
	}
}
// 充值提现模块
.tx_main {
    color: #3e3e3e;
    font-size: 14px;
    p{
    	line-height: 2;
    }
    .zhif_type{
    	font-weight: bold;
    	line-height: normal;
    	padding-bottom: 10px;
    	.separa{
    		color: #eee;
    		padding:0 10px;
    	}
    	.btn-manage-card{
    		font-weight: normal;
    	}
    }
    .bank_type{
    	padding-bottom: 40px;
    	li{
    		float: left;
    		width: 200px;
    		overflow: hidden;
    	}
    	input{
    		border: none;
    		float: left;
		    outline: none;
    		font-size: 14px;
    		margin-right: 5px;
    		margin-top: 10px;
    	}
    	label{
    		    display: inline-block;
			    border: 1px solid #d5e6ed;
			    height: 30px;
			    width: 142px;
    	}
    }
    // 确认充值按钮
    .begin_cal{
    	padding:12px 70px;
    	margin: 30px 0 60px 0;
    }
}
.account-recharge, .account-setting{
	.user-account-moudle{
		border:0;
		padding-left: 0;
		padding-right: 0;
	}
}
.account-recharge{
	.user-account-moudle{
		padding-left: 20px;
	}
}
.bank-list{
	padding:10px 10px 10px 0;
	li{
		float: left;
		margin:8px 45px 8px 0;
		input{
			position: relative;
			top: 2px;
		}
	}
}
.bank-list-icon{
	border: 1px solid #ddd;
	width: 124px;
    height: 30px;
    background-image: url(../images/sprites/banklist.png);
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.bank-icbc{
	background-position:0 -289px;
}
.bank-gdyh{
	background-position:0 -225px;
}
.bank-jsyh{
	background-position:0 -321px;
}
.bank-nyyh{
	background-position:0 -449px;
}
.bank-zsyh{
	background-position: 0 -673px;
}
.bank-boc{
	background-position:0 -97px;
}
.bank-jtyh{
	background-position:0 -353px;
}
.bank-yzcx{
	background-position:0 -641px;
}
.bank-cgb{
	background-position:0 -161px;
}
.bank-msyh{
	background-position:0 -385px;
}
.bank-ping{
	background-position:0 0;
}
.bank-zxyh{
	background-position:0 -705px;
}
.bank-bjyh{
	background-position:0 -65px;
}
.bank-xyyh{
	background-position:0 -609px;
}
.bank-cdyh{
	background-position: 0 -129px;
}
.bank-pfyh{
	background-position: 0 -513px;
}
.bank-dyyh{
	background-position: 0 -193px;
}
.bank-hxyh{
	background-position: 0 -257px;
}
.bank-nbyh{
	background-position: 0 -417px;
}
.bank-shyh{
	background-position: 0 -577px;
}
.bank-njyh{
	background-position: 0 -481px;
}
.bank-shns{
	background-position: 0 -545px;
}
.bank-bhyh{
	background-position: 0 -33px;
}
// 金额输入框
.w190{
	width:190px;
}
.recharge_amount{
	height: 22px;
    line-height: 22px;
    padding: 8px;
    color: #3498db;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
}
// 提现模块
.bank-tx-box {
	background-color: #f5faff;
	border: 1px solid #d3e5f4;
	padding:18px 28px;
    margin-top: 20px;
}
.tx-account-bank{
	line-height: 33px;
}
.tx-account-bank span,.cur-bank-box{
	float: left;
}
.cur-bank-box{
	border: 1px solid #ddd;
	background-color: #fff;
	padding-right: 5px;
	margin-left: 18px;
	cursor: pointer;
	.ui-del-ctx{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	color: #fff;
	background-color: rgba(52, 152, 219,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF3498db,endColorstr=#BF3498db);
	line-height: 33px;
	}
	.bank-list-icon{
		border:0
	}
	span{
	float: left;
	line-height: 33px;
	}
	label{
	cursor:pointer;
	}
	&:first-child{
	margin-left: 0;
	}
}
.add-bank-box{
	border:1px dashed #ddd;
	width:180px;
	cursor: pointer;
	margin-left: 18px;
	height:35px;
	float: left;
	line-height: 35px;
	text-align:center;
	background-color: #fff;

}
.del-this-bank{
	position: relative;
	text-align: center;
	border-color: #3498db;
}
.del-this-bank .ui-del-ctx{
	visibility: visible;
}
.del-bank-alert{
	font-size: 16px;
	padding: 30px 0;
}
.selected-bank{
	border-color:#3498db;
	position: relative;
}
.icon-selected{
	position: absolute;
	background:url(../images/icon-selected-bank.png) no-repeat;
	width: 16px;
	height: 16px;
	bottom: 0;
	right: 0;
}
.select-bank-box{
	clear: both;
	padding-top: 14px;
}
.select-bank-icon{
	background-image: url(../images/bankLogo.png);
	display:block;
	width: 106px;
    height: 31px;
}
.pl20{
	padding-left: 20px;
}
.tx-txt-notice{
	clear: both;
	padding-top: 18px;
	img{
		padding-right: 5px;
		position: relative;
	    top: -2px;
	}
}
.bank-authro{
	padding-top: 0;
	span{
		font-size: 14px;
    	line-height: 33px;
	}
	.cur-bank-box{
	margin: 0 20px 20px 0;
	cursor: pointer;
	}
}
.add-bankcard{
	border-color: #b9e3ff;
	border-style: dashed;
	min-width: 180px;
}
.icon-addbank{
	display: inline-block;
	width: 18px;
	height: 18px;
	background:url(../images/icon-addbank.png) no-repeat;
	margin: 8px 10px 0 40px;
}
// 用户信息
.user-base-info{
	font-size: 14px;
	font-weight: bold;
	padding:0 10px 20px 10px;
	span{
		font-weight: normal;
	}
	.cur{
		color: #2c97f4;
	}
}
.user-info-tb{
	margin-top: 10px;
	.u-input{
		box-sizing:border-box;
		padding:5px 10px;
		border:1px solid #e7e7e7;
		border-radius:3px;
	}
	td{
		padding:12px 0;
		&:first-child{
			padding-left: 30px;
			padding-right: 20px;
		}
	}
	.user-sex{
		input{
			position: relative;
			top:2px;
			margin-right: 5px;
		}
		label{
			padding-right: 14px;
		}
	}
	.uer-birthday{
		label{
			padding:0 10px;
		}
	}
	.user-phone, .user-email{
		.ui-font-blue{
			padding:0 10px;
		}
	}
	.name-number{
		.u-input{
			width: 275px;
		}
	}
	.select-address{
		select{
			width: 128px;
			margin-right: 8px;
		}
	}
	.detail-address{
		.u-input{
			width: 408px;
		}
	}
	.user-add-save{
		padding-top: 30px;
		input{
			font-size: 14px;
			padding:10px 20px;
		}
	}
}
// 正常字体大小
.normal{
	font-weight: normal;
}
// 新增收货地址

// 自动投资
.user-auto-invest{
	position: relative;
	margin-right:14px;
	margin-left: 14px;
	padding-bottom: 20px;
	.user-switch-box{
		position:absolute;
		top: -9px;
		right: 0;
		overflow: hidden;
		width: 182px;
		.title{
			float: left;
			font-size: 14px;
			font-weight: bold;
			padding-top: 8px;
		}
		.user-invest-switch{
			float: right;
			width: 98px;
			height: 30px;
			background-color: #b9b9b9;
			border-radius:3px;
			color: #fff;
			a{
				display: inline-block;
				width: 46px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                border-radius:3px;
			}
			.cur{			
                color: #2c97f4;
                background-color: #fff;
                margin: 1px;   
			}
		}
	}
}
.user-auto-step{
	overflow: hidden;
	width:900px;
	margin:0 auto;
	background: url(../images/user-step.png) no-repeat;
	li{
		float: left;
		height: 42px;
		line-height: 42px;
		width: 33.33%;
		text-align:center;
	}
}
.user-two-step{
	background: url(../images/user-step-two.png) no-repeat;
	li{
		width: 50%;
	}
}
.user-five-step{
	background: url(../images/user-step-5.png) no-repeat;
	li{
		width: 20%;
	}
}
// 自动投标条件
.auto-invest-conditon{
	width:900px;
	margin:0 auto;
	font-size: 14px;
	tr{
		border-bottom:1px solid #eee;
	}
	td{
		padding:20px 0;
		&:first-child{
			text-align: right;
			width: 95px;
		}
		&.title{
		text-align: left;
		font-weight: bold;
		padding-left: 10px;
		font-size: 14px;
		}
	}
	.u-input{
		border:1px solid #ddd;
		border-radius:3px;
		padding:6px 10px;
		font-size: 12px;
	}
	.option{
		padding-left: 50px;
	}
	.invest-rate,.invest-earn-rate,.invest-long{
		.u-input{
			width: 100px;
		}
		label{
			padding:0 10px;
			font-size: 12px;
		}
	}
	.invest-product,.invest-method{
		input{
			position: relative;
			top: 2px;
		}
		label{
			padding-right: 30px;
		}
	}
	.invest-num,.invest-last{
		label{
			font-size: 12px;
			padding-left: 10px;
		}
		.ui-font-gray{
			font-size: 12px;
			padding-left: 30px;
		}
	}
	.user-credit-level{
		span{
			padding-right: 30px;
		}
		.credit-level{
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			font-size: 16px;
			background-color: #74ca98;
			border-radius: 50%;
			text-align: center;
			margin-left: 10px;
			&.level_b{
				background-color: #f1c40f;
			}
			&.level_c{
				background-color: #fc8478;
			}
			&.level_d{
				background-color: #ff3939;
			}
		}
	}
}
.user-save-autoinvest{
	text-align:center;
	padding-top: 40px;
	.ui-btn{
		padding:12px 50px;
	}
}
// 收益卡模块
.gift-catd-filter{
	border-bottom:1px solid #eee;
	padding-bottom: 20px;
	padding-left: 10px;
	.fl{
		a{
			padding-right:20px;
			&.cur{
				font-weight: bold;
				color: $base_blue;
			}
		}
	}
}
.gift-catd-wrap{
	overflow: hidden;
	// border-bottom:1px solid #eee;
	// padding-bottom: 30px;
	li{
		float: left;
		width: 33.33%;
		padding:30px 0;
	}
	.gift-card-box{
		width: 240px;
		height: 146px;
		margin-left: 32px;
		background:url(../images/sprites/gift-card.png) no-repeat;
		.go-to-use{
			text-align: center;
			height: 50px;
			line-height: 48px;
			a{
				display:block;
				font-weight:bold;
				font-size: 16px;

			}
		}
		&.blue-card{
			background-position: 0 0;
			.beishu{
				color: #61b0f4;
			}
		}
		&.gold-card{
			background-position:-242px 0;
			.beishu{
				color: #e1cd7b;
			}
		}
		&.green-card{
			background-position:-726px 0;
			.beishu{
				color: #8dd4ab;
			}
		}
		&.pink-card{
			background-position:-968px 0;
			.beishu{
				color: #ffa9a1;
			}
		}
		&.gray-card{
			background-position:-484px 0;
			.beishu{
				color: #ddd;
			}
		}
		&.purple-card{
			background-position:-1210px 0;
			.beishu{
				color: #c3a1f0;
			}
		}
		dd{
			overflow: hidden;
		}
		.beishu{
			margin-top: 34px;
			//margin-left: 30px;
			margin-left: 10px;
			font-size: 46px;
			font-family: "Arial";
			font-weight:bold;
			float: left;
		}
		.beishu-info{
			float: left;
			margin-top: 34px;
			margin-left: 18px;
			p{
				padding-top: 8px;
			}
		}
		.out-date{
			line-height: 34px;
			text-align: center;
			color: #b9b9b9;
			margin-top: 22px;
		}
	}
}
.user-account-moudle{
&.red-bonus{
	dd{
		float:left;
		width:285px;
	}
	p{
		font-size:12px;
		color: #474747;
		&.title{
			margin-top:50px;
		}
		&.num{
			font-size: 28px;
			font-weight:bold;
			margin:10px auto;
		}
	}
	.red-bonus-data{
		text-align:center;
		padding-top: 30px;
		p{
			
			margin:25px 0;
		}
		a{
			width: 196px;
			height: 28px;
			line-height: 28px;
		}
	}
	.red-bonus-le{
		padding-left: 124px;
		width:161px;
	}
	.invest-list-control{
		padding-right:24px;
		margin-top:30px;
	}
}
&.safty{
	tr:first-child{
		  border-top: 1px solid #eee;
	}
	td{
		height: 80px;
		text-align:left;
	}
	.text-black{
		color:#474747;
		font-size:12px;
		font-weight:bold;
		margin-right:30px;
	}
	.text-dark{
		margin-top: 15px;
		display: block;
		color:#b9b9b9;
		font-size:12px;
	}
	.text-dark-top{
		padding-top: 15px;
		color:#b9b9b9;
		float: none;
		clear: both;
		padding-left: 0;
	}
	.tips{
		padding:30px 16px;
		color: #b9b9b9;
		font-size:12px;
		line-height:24px;
	}
	i{
		&.user-icon-correct,&.error{
		display: block;
		margin:0 auto;
		width: 18px;
		height: 18px;
		background:url(../images/sprites/icon-criedted.png) no-repeat center;
		background-size:16px;
		}
		&.error{
			background:url(../images/sprites/icon-error-samll.png) no-repeat center;
		}
	}
	dl{
		margin:40px 0 40px;
		.safty-level-box{
			height:19px;
			width: 400px;
		}
		.safty-level-text{
			font-size: 16px;
			right:-40px;
		}
	}
	dd{
		float:left;
		padding-left:20px;
		&:first-child{
			padding-left:0;
			color: #474747;
			font-size: 16px;
		}
	}
	.safty-level-box{
		position:relative;
		display:inline-block;
		margin:0 20px 0 0;
		background:#eeeeee;
	}
	.safty-level-bar{
		position:absolute;
		left: 0;
		top: 0;
		display:block;
		height:100%;
		&.bg-yellow{
			width:60%;
		}
		&.bg-pink{
			width:30%;
		}
		&.bg-green{
			width:100%;
		}
	}

	.safty-level-text{
		position:absolute;
		
		top: 0;
	}
	td{
		.safty-level-box{
			top:2px;
			height:14px;
			width: 100px;
		}
		.safty-level-text{
			font-size: 12px;
			right:-20px;
		}
	}
}
//推荐好友
&.recommend-friend{
	dl{
		padding-left: 150px;
	}
	dd{
		float:left;
		width:250px;
		padding-top:40px;
	}
	.data{
		color:#474747;
		font-size:12px;
	}
	.num{
		margin-top:6px;
		display: block;
		color:#2c97f4;
		font-size:28px;
		font-weight:bold;
	}
	.user-add-box{
		margin-top: 60px;
		text-align: center;
		a{
			font-size: 16px;
			height:30px;
			line-height:30px;
			width:196px;
		}
	}
	.btn-a{
		display: block;
		margin:0 auto;
		height:24px;
		line-height:24px;
		width:74px;
		text-align:center;
		border:1px solid #dddddd;
		border-radius:3px;
	}
}
}
// 解冻红包比例
#unfreeze_rate{
	width:110px;
	height:115px;
	overflow: hidden;
	margin-left: 90px;
}
// 用户中心 安全中心 模块
.user-sec-input{
	width: 330px;
	margin:0 auto;
	padding-top: 40px;
}
.send-code {
	.ui-btn {
    margin-left: 13px;
    margin-right: 0;
    padding: 0;
    width: 114px;
    height: 40px;
    box-sizing: border-box;
    line-height: 42px;
	}
}
.input-vali-code{
	img{
		margin-left: 12px;
	}
}
.page-tips{
	text-align:center;
	padding-top: 60px;
	.icon-sucess{
		display: inline-block;
	    width: 40px;
	    height: 40px;
		background: url("../images/sprites/icon-sucess.png") no-repeat center;
	}
	.p1{
		font-size: 18px;
    	margin: 40px 0 20px;
	}
	.p2{
		color: #b9b9b9;
    	margin-bottom: 16px;
	}
	.p3{
		margin-bottom: 16px;
	}
	.input-vali-code{
		.ui-input-middle{
			input{
				width: 100%;
			}
		}
	}
}
.page-tips-w420{
	width:420px;
	.ui-form-item{
		width: 330px;
		margin: 0 auto;
	}
}
// 管理
.user-manage-cardtb{
	font-size: 12px;
	border-top:2px solid #eee;
	margin-top: 20px;
	tr{
		border-bottom:1px solid #eee;
	}
	td{
		padding:18px 0 18px 10px;
		.separa{
			color: #eee;
			padding:0 6px;
		}
	}
}
// 添加银行卡
.add-card-itmes{
	.card-info-items{
		width: 250px;
		margin: 0 auto;
		position: relative;
		p{
			font-size: 12px;
			padding:10px 0;
		}
		.ui-input,.card-dz-select{
			border:1px solid #ddd;
			border-radius:3px;
			box-sizing:border-box;
			padding:10px;
			width: 250px;
		}
		.card-dz-select{
			width: 120px;
		}
		//银行列表
		.branch-addlist{
			z-index: 100;
			position: absolute;
			top: 45px;
			left: 0;
			list-style-type: none;
			display: none;
			max-height: 100px;
			overflow-y: auto;
			border: 1px solid #CCC;
			width: 355px;
			background-color: white;
			li{
				cursor: pointer;
			    border-top:1px solid #ccc;
			    line-height: 25px;
			    background-color: white;
			    &:hover{
			    	background-color: #ccc;
			    }
			}
		}
	}
	.set-default-card{
		padding:15px 0;
		input{
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
	}
}
.add-bank-card{
	text-align:center;
	padding-top: 40px;
	.ui-btn{
		padding:12px 110px;
	}
}
// 充值状态返回
.layer-paycomplete{
	text-align:center;
	width:314px;
	margin:30px auto;
	.icon-bind-tips{
		display:inline-block;
		width:40px;
		height:40px;
		background:url(../images/sprites/icon-bind-tips.png) no-repeat;
		margin-bottom: 20px;
	}
	p{
		line-height: 2;
		font-size: 14px;
	}
	.pay-back-links{
		padding-top: 40px;
		.ui-btn,.ui-btn-empty{
			padding: 0;
			margin: 0;
			width: 150px;
			text-align: center;
			height: 42px;
			line-height: 42px;
		}
		.ui-btn-empty{
			height: 40px;
			line-height: 40px;
			margin-top: 1px;
		}
	}
}
// 安全中心-实名认证
.real-name-valid{
	width:280px;
	.ui-form-item{
		padding:15px 0;
	}
	.w100{
		width: 100%;
	}
	.w90{
		width: 90%;
	}
	.get-valid{
		width: 100%;
		padding:12px 0;
	}
	.icon-bind-tips{
		display:inline-block;
		width:40px;
		height:40px;
		background:url(../images/sprites/icon-bind-tips.png) no-repeat;
		margin-bottom: 20px;
	}
	.btn-bindphone-now{
		width: 250px;
		height: 42px;
		line-height: 42px;
		padding:0;
		margin:60px 0;
		text-align: center;
	}
}
.real-name-tips{
	line-height: 2;
	margin-top: 60px;
}
// dom弹窗
.charge-style-tabs{
	overflow: hidden;
	padding-bottom: 30px;
	li{
		float: left;
		cursor: pointer;
		margin-right: 20px;
		width: 187px;
		height: 38px;
		border:1px solid #ddd;
		line-height: 38px;
		text-align: center;
		position: relative;
		&.selected{
			border-color:$base_blue;
			margin-right: 20px;
		}
		.icon-selected-big{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 23px;
			height: 23px;
			background: url(../images/sprites/big-selected.png) no-repeat;
		}
	}
}
.charge-style-content{
	.content{
		display: none;
	}
}
.layer-phone-code{
	overflow: hidden;
	.ui-input-body{
		width: 126px;
		float: left;
		padding:0 !important;
	}
	.send-code{
		width: 114px;
		height: 40px;
		float: left;
	}
}
.w250{
	width:252px !important;
}
.bind-card-tblist{
	.tr1{
			border-left:0 !important;
			border-right:0 !important;
		}
	th{
		text-align:left;
		background-color: #fff;
		padding-left: 10px;
	}
	td{
		padding-left: 12px;
		height: 50px !important;
	}
}
.add-new-bank{
	text-align:center;
	padding: 65px 0 30px;
	.ui-btn{
		font-size: 14px;
		padding:9px 32px;
	}
}
// 合同页面
.contract-handle{
	padding:28px 0;
	a{
		font-size: 14px;
		padding:10px 30px;
		&.ui-btn-empty{
			background: none !important;
		}
	}
}
.contract-wrap{
	padding:40px 70px 100px;
	line-height: 2;
	font-size: 14px;
	position: relative;
	h1{
		margin: 0;
		font-size: 20px;
		text-align: center;
		padding-bottom: 20px;
	}
	table{
		td{
			padding: 0 10px;
			&:first-child{
				padding-left: 0;
			}
		}
	}
}
.contract-bottom{
	text-align:center;
	padding:50px 0;
	font-size: 14px;
}
.icon-htz{
	position: absolute;
	right:120px;
	bottom:120px;
}
.icon-htz-top{
	position: absolute;
	top:134px;
	left:100px;
}
.ui-pr150{
	padding-right: 150px;
}
.send-success-layer{
	.send-success-content{
		margin-top: 20px;
		text-align: center;
		.ui-font-gray{
			padding:20px 0;
		}
		.ui-btn{
			padding:12px 110px;
			margin-top: 30px;
		}
	}
	.icon-sucess{
	display: inline-block;
	margin:30px 0;
    width: 40px;
    height: 40px;
		background: url("../images/sprites/icon-sucess.png") no-repeat center;
	}
}
// 我的推荐码
.my-nominate{
	background-color: #fff;
	padding:5px 0;
	margin:10px 46px;
	border-radius:12px;
}
// 上传头像
.upload-avatar-module{
	overflow: hidden;
	padding-top: 20px;
	.update-lrol{
		float: left;
		width: 530px;
	}
	.update-rrol{
		float: left;
		border-left:1px solid #eee;
		padding-left: 30px;
		.info{
			width: 235px;
			line-height: 2.2;
		}
		.img-s-ct{
			margin-top:30px;
			.img-s{
				width: 50px;
				height: 50px;
			}
		}
		.img-s{
			margin: 14px 0;
			width: 100px;
			height: 100px;
			text-align: center;
			display: table-cell;
    		vertical-align: middle;
    		background-color:#f9f9f9;
		}
	}
	.btn-upload{
		border:1px solid #ddd;
		width: 166px;
		height: 34px;
		line-height: 34px;
		position: relative;
		cursor: pointer;
		border-radius:3px;
		.ui-icon-pic{
			display: inline-block;
			position: relative;
			top: 3px;
			margin-left: 14px;
			margin-right: 8px;
            width: 20px;
            height: 16px;
            background: url(../images/ui-icon-pic.png) no-repeat;
		}
	}
	.img-now-state{
		position: relative;
		width: 475px;
		height: 242px;
		background-color:#f6f6f6;
		border:1px solid #eee;
		display: table;
		text-align: center;
		margin: 10px 0;
		.img-b{
			display: table-cell;
			vertical-align: middle;
			position: relative;
			z-index: 9;
		}
	}
	.avatar-list{
		overflow: hidden;
		li{
			float: left;
			margin-right: 18px;
			position: relative;
			cursor: pointer;
			b{
				position: absolute;
	            width: 88px;
	            height: 88px;
	            left: 0;
	            top: 0;
			}
			&.selected{
				b{
					background:url(../images/avatar-selected.png) no-repeat;
				}
			}
		}
	}
	.save-avatar{
		padding-top: 60px;
		.ui-btn{
			font-size: 14px;
			padding:12px 70px;
		}
	}
}
/*客户没相关投资的空显示*/
.nothing-empty-box{
	padding-top:50px;
	.img{
		display: block;
		margin:0 auto;
	}
	.tips{
		color:#b9b9b9!important;
		font-size:14px!important;
		margin-top:20px;
		text-align:center;
		padding-bottom:50px;
	}
}
.tips-bottom-text{
	border-top:1px solid #eee;
	line-height:30px;
	color:#b9b9b9!important;
	font-size:12px!important;
	padding-top:20px;
	span{
		display: block;
		font-weight:bold;
	}
}
// 用户指引操作
.user-guide-title{
	text-align:center;
	padding-bottom: 30px;
	font-size: 14px;
}
.guide-noty{
	padding-top: 20px;
}
.icon-noty{
	display:inline-block;
	width:16px;
	height: 16px;
	position: relative;
	top:3px;
	margin-right: 5px;
	background:url(../images/icon-noty.png) no-repeat;
}
.guide-bind-card{
	text-align:center;
	padding-top: 60px;
	.ui-btn{
		padding:12px 100px;
	}
}
.guide-cardbd-now{
	text-align:center;
	padding-top: 30px;
	.ui-btn{
		padding: 12px 95px;
	}
}
.guide-invest-now{
	.ui-btn{
		margin-top: 20px;
		font-size: 14px;
		padding:10px 80px;
	}
}
.ui-pl190{
	padding-left: 190px;
}
// 用户第一次登录后操作后的引导操作
.g-s-1,.g-s-2,.g-s-3,.g-s-4{
	background-image: url("../images/sprites/guid-step-bg.png");
	background-repeat:no-repeat;
	position: absolute;
	z-index:1001;
	.guide_btn_closed{
		width: 31px;
		height: 31px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	.guide_next_btn{
		width: 120px;
		height: 40px;
		position: absolute;
	}
}
.g-s-1{
	width:289px;
	height:306px;
	background-position: 0 0;
	.guide_next_btn{
		position: absolute;
		bottom:14px;
		left: 43px;
	}
}
.g-s-2{
	width:249px;
	height:244px;
	background-position:-507px 0;
	.guide_btn_closed{
		right: 35px;
	}
	.guide_next_btn{
		position: absolute;
		left: 30px;
		bottom:14px;
	}
}
.g-s-3{
	width:214px;
	height:273px;
	background-position:-291px 0;
	.guide_next_btn{
		position: absolute;
		left: 28px;
		bottom:14px;
	}
}
.g-s-4{
	width:405px;
	height:233px;
	background-position:-758px 0;
	.guide_btn_closed{
		left: 50%;
		margin-left: -33px;
	}
	.guide_next_btn{
		position: absolute;
		bottom:14px;
		left: 50%;
		margin-left: -43px;
	}
}
